<!--<ma-json-store ng-if="$ctrl.user.current.hasPermission('superadmin')" xid="allChartReports" item="$ctrl.allChartReportsItem" value="$ctrl.allChartReports"></ma-json-store>-->
<!--<ma-json-store xid="MasterReports" item="$ctrl.MasterReportsItem" value="$ctrl.MasterReports"></ma-json-store>-->

<div layout="row" layout-align="start center" ng-if="!$ctrl.user.current.hasPermission('superadmin')">
    <md-input-container flex>
        <label>Choose an Executive Report</label>
        <md-select ng-model="$ctrl.selectedMasterReport" ng-model-options="{trackBy: '$value.uid'}" ng-disabled="!$ctrl.nonAdminMasterReportList.reports.length" ng-change="$ctrl.reportChanged()">
            <md-option ng-repeat="report in $ctrl.nonAdminMasterReportList.reports track by report.uid" ng-value="report" ng-bind="report.name"></md-option>
        </md-select>
    </md-input-container>
</div>

<div layout="row" layout-align="start center" ng-if="$ctrl.user.current.hasPermission('superadmin')">
    <md-input-container flex>
        <label>Choose an Executive Report</label>
        <md-select ng-model="$ctrl.selectedMasterReport" ng-model-options="{trackBy: '$value.uid'}" ng-disabled="!$ctrl.localMasterReportList.reports.length" ng-change="$ctrl.reportChanged()">
            <md-option ng-repeat="report in $ctrl.localMasterReportList.reports track by report.uid" ng-value="report" ng-bind="report.name"></md-option>
        </md-select>
    </md-input-container>

    <md-input-container flex>
        <label ma-tr="dashboards.v3.app.name"></label>
        <input ng-disabled="!$ctrl.localMasterReportList.reports.length" ng-model="$ctrl.selectedMasterReport.name" md-select-on-focus id="master-report-name-input">
    </md-input-container>

    <md-input-container flex>
        <label>Select a Report to Add</label>
        <md-select ng-disabled="!$ctrl.localMasterReportList.reports.length" ng-model="$ctrl.selectedChartReports" ng-model-options="{trackBy: '$value.xid'}" multiple>
            <md-option ng-repeat="report in $ctrl.allChartReports.reports track by report.xid" ng-value="report" ng-bind="report.name"></md-option>
        </md-select>
    </md-input-container>

    <md-input-container flex>
      <label ma-tr="dashboards.v3.app.readPermission"></label>
      <input ng-disabled="!$ctrl.localMasterReportList.reports.length" ng-model="$ctrl.selectedMasterReport.readPermission" md-select-on-focus>
    </md-input-container>

    <md-button class="md-raised md-primary md-hue-1" ng-disabled="!$ctrl.selectedMasterReport.name || !$ctrl.selectedChartReports.length || !$ctrl.localMasterReportList.reports.length" 
    ng-click="$ctrl.saveMasterReport()">
        <md-icon>save</md-icon>
        <span ma-tr="common.save"></span>
    </md-button>
    <md-button class="md-raised md-warn" ng-disabled="!$ctrl.selectedMasterReport" ng-click="$ctrl.deleteMasterReport()">
        <md-icon>delete</md-icon>
        <span ma-tr="common.delete"></span>
    </md-button>
    <md-button class="md-raised md-accent" ng-click="$ctrl.addMasterReport()">
        <md-icon>add</md-icon>
        <span>New Executive Report</span>
    </md-button>
</div>