<!-- <md-input-container class="ma-publisher-points-selector">
        <ma-drop-down-button>
            <span ma-tr="ui.publisher.pointsSelected" ma-tr-args="[$ctrl.publishedPointsCount]"></span>
            <ma-drop-down create-on-init="false" class="ma-slide-down" on-close="$ctrl.pointSelectorClosed()">
                <ma-data-point-selector select-multiple="::true" class="ma-publisher-editor"
                    ng-model="$ctrl.pointsToPublishArr" ng-change="$ctrl.pointsChanged()"
                    ma-parse-value="$ctrl.pointsToPublisherPoints($value)"
                    ma-format-value="$ctrl.publisherPointsToPoints($value)">
                </ma-data-point-selector>
            </ma-drop-down>
        </ma-drop-down-button>
    </md-input-container> -->


<div>
    <md-button class="md-raised md-primary" ng-click="$ctrl.savePoints($event)">
        <md-icon>add</md-icon>
        <span ma-tr="ui.app.addPoints"></span>
    </md-button>
    <md-button class="md-raised md-primary md-warn" ng-click="$ctrl.savePoints($event)">
        <md-icon>delete</md-icon>
        <span ma-tr="ui.app.removeSelectedPoints"></span>
    </md-button>
</div>
<ma-publisher-points-table ng-model="$ctrl.pointsToRemove" resource-service="$ctrl.PublisherPoints"
    custom-columns="$ctrl.customColumns" customize-query="$ctrl.customizeQuery($queryBuilder)"
    refresh-table="$ctrl.refreshTable" publisher="$ctrl.publisherInfo">
</ma-publisher-points-table>

<pre>{{ $ctrl.pointsToRemove }}</pre>
<!-- 
<div class="md-padding" ng-if="$ctrl.form.validationMessage" ng-bind="$ctrl.form.validationMessage" role="alert"
    class="ma-error-text"></div>

<div ng-if="$ctrl.bulkTask" class="md-padding ma-action-buttons">
    <div layout layout-align="center">
        <em>
            <span ng-bind="$ctrl.bulkTask.progress || 0"></span>% (<span ma-tr="ui.app.pointXofX"
                ma-tr-args="[$ctrl.bulkTask.position || 0, $ctrl.bulkTask.maximum || 0]"></span>)
        </em>
    </div>

    <md-progress-linear md-mode="determinate" ng-value="$ctrl.bulkTask.progress"></md-progress-linear>

    <md-button class="md-raised md-warn" ng-click="$ctrl.bulkTask.cancel()">
        <md-icon>cancel</md-icon>
        <span ma-tr="ui.app.cancelBulkEdit"></span>
    </md-button>
</div>

<div ng-if="$ctrl.errorMessages.length" class="md-padding">
    <em class="ma-error-text">
        <span ng-repeat="msg in $ctrl.errorMessages">
            <span ng-bind="msg"></span>
            <span ng-if="!$last">,</span>
            <br>
        </span>
    </em>
</div>

<div class="ma-action-buttons">
    <md-button class="md-raised md-primary" ng-click="$ctrl.savePoints($event)">
        <md-icon>save</md-icon>
        <span ma-tr="ui.app.startBulkEdit"></span>
    </md-button>
</div> -->