<md-card class="events-page">
      <md-toolbar class="md-whiteframe-1dp md-hue-3">
            <div class="md-toolbar-tools">
                  <h2 flex>
                    <span ma-tr="ui.app.eventsTable"></span>
                  </h2>
                  
                  <h2 style="padding-right: 5px;" ng-if="$ctrl.$mdMedia('gt-xs')">
                        <span><span ma-tr="ui.app.dateFilter"></span>: </span>
                  </h2>
                  <md-switch ng-model="$ctrl.params.dateFilter" aria-label="{{'ui.app.dateFilter' | maTr}}" ng-change="$ctrl.storeState('dateFilter')"></md-switch>

                  <div ng-class="{'desktop': $ctrl.$mdMedia('gt-sm')}">
                        <md-button class="md-raised md-primary md-hue-1" ng-class="{ 'active md-accent': $ctrl.params.eventType === 'any' }"
                                ng-click="$ctrl.params.eventType='any'; $ctrl.storeState('eventType')" ma-tr="ui.app.any">
                        </md-button>
                        <md-button class="md-raised md-primary md-hue-1" ng-class="{ 'active md-accent': $ctrl.params.eventType === 'DATA_POINT' }"
                                ng-click="$ctrl.params.eventType='DATA_POINT'; $ctrl.storeState('eventType')">
                            <span ng-if="$ctrl.$mdMedia('gt-sm')" ma-tr="ui.app.data"></span>
                            <span ma-tr="ui.app.point"></span>
                        </md-button>
                        <md-button class="md-raised md-primary md-hue-1" ng-class="{ 'active md-accent': $ctrl.params.eventType === 'DATA_SOURCE' }"
                                ng-click="$ctrl.params.eventType='DATA_SOURCE'; $ctrl.storeState('eventType')">
                            <span ng-if="$ctrl.$mdMedia('gt-sm')" ma-tr="ui.app.data"></span>
                            <span ma-tr="ui.app.source"></span>
                        </md-button>
                        <md-button class="md-raised md-primary md-hue-1" ng-class="{ 'active md-accent': $ctrl.params.eventType === 'SYSTEM' }"
                                ng-click="$ctrl.params.eventType='SYSTEM'; $ctrl.storeState('eventType')" ma-tr="ui.app.system">
                        </md-button>
                  </div>
            </div>
      </md-toolbar>
      <md-card-actions layout="row" layout-align="start center" layout-wrap>
            <md-input-container flex>
                  <label ma-tr="ui.app.alarmLvl"></label>
                  <md-select ng-model="$ctrl.params.alarmLevel" ng-change="$ctrl.storeState('alarmLevel')">
                        <md-option value="any"><span ma-tr="ui.app.any"></span>&nbsp;<i class="fa fa-flag fa-lg alarm-flag ALL"></i></md-option>
                        <md-option value="NONE"><span ma-tr="ui.app.none"></span>&nbsp;<i class="fa fa-flag fa-lg alarm-flag NONE"></i></md-option>
                        <md-option value="INFORMATION"><span ma-tr="ui.app.information"></span>&nbsp;<i class="fa fa-flag fa-lg alarm-flag INFORMATION"></i></md-option>
                        <md-option value="IMPORTANT"><span ma-tr="ui.app.important"></span>&nbsp;<i class="fa fa-flag fa-lg alarm-flag IMPORTANT"></i></md-option>
						<md-option value="WARNING"><span ma-tr="ui.app.warning"></span>&nbsp;<i class="fa fa-flag fa-lg alarm-flag WARNING"></i></md-option>
                        <md-option value="URGENT"><span ma-tr="ui.app.urgent"></span>&nbsp;<i class="fa fa-flag fa-lg alarm-flag URGENT"></i></md-option>
                        <md-option value="CRITICAL"><span ma-tr="ui.app.critical"></span>&nbsp;<i class="fa fa-flag fa-lg alarm-flag CRITICAL"></i></md-option>
                        <md-option value="LIFE_SAFETY"><span ma-tr="ui.app.safety"></span>&nbsp;<i class="fa fa-flag fa-lg alarm-flag LIFE_SAFETY"></i></md-option>
                  </md-select>
            </md-input-container>
            <md-input-container flex>
                  <label ma-tr="ui.app.activeStatus"></label>
                  <md-select ng-model="$ctrl.params.activeStatus" ng-change="$ctrl.storeState('activeStatus')">
                        <md-option value="any"><span ma-tr="ui.app.any"></span></md-option>
                        <md-option value="active"><span ma-tr="ui.app.active"></span></md-option>
                        <md-option value="noRtn"><span ma-tr="ui.app.noRtn"></span></md-option>
                        <md-option value="normal"><span ma-tr="ui.app.returnedToNormal"></span></md-option>
                  </md-select>
            </md-input-container>
            <md-input-container flex>
                  <label ma-tr="ui.app.acknowledgedStatus"></label>
                  <md-select ng-model="$ctrl.params.acknowledged" ng-change="$ctrl.storeState('acknowledged')">
                        <md-option ng-value="'any'"><span ma-tr="ui.app.any"></span></md-option>
                        <md-option ng-value="true"><span ma-tr="ui.app.acknowledged"></span></md-option>
                        <md-option ng-value="false"><span ma-tr="ui.app.unAcknowledged"></span></md-option>
                  </md-select>
            </md-input-container>
      </md-card-actions>
      <ma-events-table event-type="$ctrl.params.eventType" alarm-level="$ctrl.params.alarmLevel" acknowledged="$ctrl.params.acknowledged"
        event-id="eventId" active-status="$ctrl.params.activeStatus" date-filter="$ctrl.params.dateFilter"
        from="$ctrl.dateBar.from" to="$ctrl.dateBar.to" limit="50" sort="$ctrl.sort"></ma-events-table>
</md-card>
