ma-user-editor .ma-user-checkboxes {
	margin-top: 16px;
	margin-bottom: 16px;
}

ma-user-editor .ma-user-checkboxes > md-checkbox {
	margin-bottom: 8px;
}

ma-user-editor .ma-user-status {
	margin-top: 16px;
	margin-bottom: 16px;
}

ma-user-editor table.ma-user-status-table {
	border-collapse: collapse;
	font-size: 1.4rem;
	width: 100%;
}

ma-user-editor table.ma-user-status-table td {
	padding: 4px 16px 4px 16px;
	border-bottom: 1px solid currentColor;
}

ma-user-editor table.ma-user-status-table thead {
	font-weight: bold;
}
