<p ma-tr="ui.app.permissionsPageHeader"></p>

<div layout layout-wrap layout-align="space-between start" class="ma-inputs-container" ng-form="form">
	<md-input-container ng-repeat="permission in $ctrl.permissions track by permission.name" flex="100" flex-gt-md="50">
		<label ng-bind="permission.description"></label>
		<input name="{{permission.name}}" ng-model="permission.permission" ng-change="$ctrl.savePermission(permission, modelCtrl)" ng-model-options="::{debounce: 1000}"
			ma-permission-expression ma-get-ctrl="modelCtrl = $ngModel">
        <div ng-messages="modelCtrl.$error">
            <div ng-message="validationMessage" ng-bind="modelCtrl.validationMessage"></div>
        </div>
		<ma-permissions-menu ng-model="permission.permission" ng-change="$ctrl.savePermission(permission, modelCtrl)"></ma-permissions-menu>
	</md-input-container>
</div>
