/* Popup Icons / Event Icon */

ma-point-value md-fab-speed-dial.md-right md-fab-actions .md-fab-action-item,
ma-set-point-value md-fab-speed-dial.md-right md-fab-actions .md-fab-action-item {
  -webkit-transition: all .1s cubic-bezier(.55,0,.55,.2);
  transition: all .1s cubic-bezier(.55,0,.55,.2);
}
ma-point-value md-fab-speed-dial md-fab-actions#popup-btns .md-fab-action-item button,
ma-set-point-value md-fab-speed-dial md-fab-actions#popup-btns .md-fab-action-item button,
ma-point-value button.event-indicator {
  padding: 0;
  margin: 3px 3px;
  width: 24px;
  height: 22px;
  min-width: 24px;
  min-height: 22px;
  border-radius: 0;
}

ma-point-value md-fab-speed-dial md-fab-actions#popup-btns .md-fab-action-item md-icon,
ma-set-point-value md-fab-speed-dial md-fab-actions#popup-btns .md-fab-action-item md-icon,
ma-point-value button.event-indicator md-icon {
  font-size: 16px;
  padding: 0 0 8px 0px;
  margin: 0;
}

/* Stats Dialog */

.stats-dialog {
  width: 730px;
}
.stats-dialog .md-toolbar-tools h2 {
  line-height: 20px;
  font-size: 16px;
  text-align: center;
}
.stats-dialog .md-toolbar-tools h2 span.nowrap {
  white-space: nowrap;
}
.stats-dialog.mobile table.md-table td.md-cell, table.md-table th.md-column {
  font-size: 1.4rem;
}
.stats-dialog table.md-table thead.md-head>tr.md-row {
  height: 0px;
}
.stats-dialog input#number-of-values {
  width: 55px;
}

/*
 *	Point disabled styles
 */

.point-disabled {
	opacity: 0.5;
	position: relative;
}

.point-disabled:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: 
    	linear-gradient(45deg, transparent 40%, rgba(255, 0, 0, 0.5) 50%, transparent 60%, transparent 100%),
    	linear-gradient(-45deg, transparent 40%, rgba(255, 0, 0, 0.5) 50%, transparent 60%, transparent 100%);
  	background-size: 16px 16px;
  	background-position: 8px 8px;
}

img.point-disabled {
	background-color: rgba(255, 0, 0, 0.2);
}

.disabled-text {
	color: #aaa;
}

ma-switch .disabled-text {
  display: none;
}

/*
 *	Horizontal and vertical bar displays
 */

ma-bar-display {
  display: block;
  position: relative;
  overflow: hidden;
}

ma-bar-display .bar-display-fill {
    height: 100%;
    width: 100%;
    background-color: currentColor;
    position: absolute;
}

.bar-display {
    border: 1px solid #aaa;
    position: relative;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.1);
}

.bar-display.bar-display-vertical {
    width: 30px;
    height: 200px;
}

.bar-display .bar-display-fill {
    border-radius: 3px;
    height: 100%;
    background-color: lightGreen;
    position: absolute;
    left: 0;
    top: 0;
}

.bar-display.bar-display-vertical .bar-display-fill {
    height: auto;
    width: 100%;
    top: auto;
    bottom: 0;
}

.bar-display .bar-display-text {
    position: absolute;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bar-display.bar-display-vertical .bar-display-text {
    transform-origin: top left;
    transform: rotate(-90deg) translate(-50%, -50%);
}

/*
 *	Pipe animations
 */

@keyframes pipe-left-right {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@keyframes pipe-right-left {
    0% {background-position: 60px 0;} 100% {background-position: 0 0;}
}

@keyframes pipe-top-bottom {
    0% {background-position: 0 0;} 100% {background-position: 0 60px;}
}

@keyframes pipe-bottom-top {
    0% {background-position: 0 60px;} 100% {background-position: 0 0;}
}

.pipe-left-right {
    background-color: #00bfff;
    background-size: 30px 30px;
    background-image: linear-gradient(90deg,
        transparent 0%,
    	rgba(255, 255, 255, .30) 50%,
    	transparent 100%);
    animation: pipe-left-right 3s linear infinite;
    height: 15px;
    width: 100%;
}

.pipe-right-left {
    background-color: #00bfff;
    background-size: 30px 30px;
    background-image: linear-gradient(90deg,
        transparent 0%,
    	rgba(255, 255, 255, .30) 50%,
    	transparent 100%);
    animation: pipe-right-left 3s linear infinite;
    height: 15px;
    width: 100%;
}

.pipe-top-bottom {
    background-color: #00bfff;
    background-size: 30px 30px;
    background-image: linear-gradient(0deg,
        transparent 0%,
    	rgba(255, 255, 255, .30) 50%,
    	transparent 100%);
    animation: pipe-top-bottom 3s linear infinite;
    height: 100%;
    width: 15px;
}

.pipe-bottom-top {
    background-color: #00bfff;
    background-size: 30px 30px;
    background-image: linear-gradient(0deg,
        transparent 0%,
    	rgba(255, 255, 255, .30) 50%,
    	transparent 100%);
    animation: pipe-bottom-top 3s linear infinite;
    height: 100%;
    width: 15px;
}

ma-set-point-value md-input-container,
ma-set-point-value md-select {
	margin: 6px;
}

ma-set-point-value button.md-button {
	margin: 6px 6px 6px 0;
}

ma-set-point-value button md-icon,
ma-set-point-value button md-progress-circular {
	margin: 0 0 0 8px;
}

._md-track-ticks {
	display: none;
}

md-progress-linear ._md-container,
md-progress-linear ._md-container ._md-bar {
	height: 100%;
}

/* Query builder */

ma-query-group .query-group-name {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

ma-query-group md-card.query-group {
  margin: 5px;
}

ma-query-group md-card.query-group md-card-content {
  padding: 5px;
}

ma-query-builder md-card md-toolbar {
  min-height: 38px;
}

ma-query-builder md-card md-toolbar .md-toolbar-tools {
  height: 38px;
}

ma-query-group md-toolbar .md-toolbar-tools .button-group .md-button {
  min-height: 30px;
  line-height: 30px;
  min-width: 60px;
}

ma-query-builder .query-sort-property {
  padding-right: 20px;
}

ma-query-builder .query-sort-property .md-icon-button {
  margin-left: 0;
}

/* button group */
.button-group > .md-button {
  margin: 0;
}
.button-group > .md-button.md-raised:not([disabled]) {
  box-shadow: none;
}
.button-group > .md-button.md-raised:not([disabled]):active {
  box-shadow: none;
}
.button-group > .md-button.left,
.button-group .md-button.left .md-ripple-container {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.button-group > .md-button.middle,
.button-group .md-button.middle .md-ripple-container {
  border-radius: 0;
}
.button-group > .md-button.right,
.button-group .md-button.right .md-ripple-container {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.button-group {
  border-radius: 3px;
  margin-left: 8px;
  margin-right: 8px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

/* Point hierarchy browser */
ma-point-hierarchy-folder ul li {
  list-style:none;
  margin-left: 30px;
}

/* Watch list list */

md-list-item.ma-list-selected .md-list-item-text h3 {
  color: inherit !important;
}

/* Badges */
ma-badge {
    display: block;
    z-index: 10;
    font-size: 10px;
    line-height: 11px;
    color: white;
    padding: 1px 3px;
    position: absolute;
    border-radius: 8px;
    bottom: 2px;
    left: 22px;
}
.md-button.ma-badge {
   overflow: visible;
}

/* Color preview */
.color-preview-box {
    margin: 0 5px;
    padding: 10px 15px;
    font-weight: bold;
}

/* Accordions */

ma-accordion-section {
  overflow: hidden;
  display: block;
}


md-card.ma-accordion md-card-title:focus {
  outline: none;
}

md-card.ma-accordion .md-headline md-icon {
  transition: transform 0.3s ease-in-out;
}

md-card.ma-accordion .md-headline.ma-accordion-expanded md-icon {
  transform: rotate(180deg);
}

md-card.ma-accordion md-card-title:not(.ma-small-padding) {
  padding: 16px;
}

md-card.ma-accordion md-card-content {
  padding: 0;
}

.ma-slide-up-parent-enter,
.ma-slide-up-parent-leave {
  transition: max-height 0.3s linear;
}

.ma-slide-up.ng-enter,
.ma-slide-up.ng-leave {
  transition: transform 0.3s linear;
}

/* Buttons for inputs */

.ma-input-button,
.ma-input-button.md-icon-button.md-button {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}

md-menu.ma-input-button > .md-button.md-icon-button {
  margin: 0 -7px 0 0;
}

md-input-container.md-icon-left.md-icon-right.ma-icon-inside {
  padding: 2px 2px 2px 36px;
}

md-input-container.md-icon-right.ma-icon-inside {
  padding: 2px;
}

md-input-container.md-icon-right.ma-icon-inside > md-icon:last-of-type {
    margin: 0;
    right: 0;
    top: 5px;
    left: auto;
}

md-input-container.md-icon-right.ma-icon-inside > md-select ~ md-icon:last-of-type,
md-input-container.md-icon-right.ma-icon-inside > input[type=number] ~ md-icon:last-of-type {
    right: 24px;
}

/* Component styles */

ma-switch-img img {
  width: 100%;
  height: 100%;
  display: block;
}

ma-user-select, ma-system-setting-editor {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
}

ma-gauge-chart,
ma-tank-level,
ma-indicator,
ma-switch-img,
ma-serial-chart,
ma-watch-list-chart,
ma-svg {
  display: block;
}

ma-gauge-chart .amchart,
ma-tank-level .amchart {
  height: 100%;
}

ma-tank-level .amcharts-graph-tank-remainder .amcharts-graph-column-bottom {
  display: none;
}

ma-get-point-value,
ma-point-values,
ma-point-statistics:not([display-mode]),
ma-watch-list-get,
ma-point-query,
ma-event-audio {
  display: none;
}

ma-watch-list-chart ma-serial-chart {
  height: 100%;
}

ma-slider md-slider-container {
  height: 100%;
}

ma-slider md-input-container {
  max-height: 10px;
  max-width: 77px !important;
}

ma-slider h5 {
  max-width: 100% !important;
}

ma-point-value, ma-slider {
  white-space: nowrap;
}

ma-point-value.ma-flash-on-change {
    transition: color 0.2s;
}

ma-point-value[display-type=dateTime].ma-flash-on-change.ma-point-value-time-changed,
ma-point-value.ma-flash-on-change.ma-point-value-changed {
    color: rgb(255,133,0);
}

ma-point-value > label {
	margin-right: 3px;
}

ma-watch-list-parameters {
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
	box-sizing: border-box;
	align-items: center;
	align-content: center;
	justify-content: flex-start;
	max-width: 100%;
}

/* SVG and animations */

[ng-include] > svg {
  display: block;
  width: 100%;
  height: 100%;
}

@keyframes spin-clockwise {
  100% { transform: rotate(360deg); }
}

@keyframes spin-counterclockwise {
  100% { transform: rotate(-360deg); }
}

.ma-spin-clockwise {
  transform-origin: 50% 50%;
  animation: spin-clockwise 1s linear infinite;
}

.ma-spin-counterclockwise {
  transform-origin: 50% 50%;
  animation: spin-counterclockwise 1s linear infinite;
}

/* Utility classes */

.ma-small-padding,
md-card md-card-content.ma-small-padding {
  padding: 8px;
}

.ma-no-padding,
md-card md-card-content.ma-no-padding {
  padding: 0;
}

.ma-progress-button div > md-icon {
  margin-left: 4px;
  margin-right: 4px;
}

.ma-progress-button div > md-progress-circular {
  margin-left: 6px;
  margin-right: 6px;
}

.md-button.ma-label-button {
  padding: 0;
}

.md-button.ma-label-button label {
  padding: 0 6px;
  cursor: pointer;
}

.ma-no-margin {
	margin: 0;
}

.ma-margin-top {
	margin-top: 8px;
}

.ma-margin-bottom {
	margin-bottom: 8px;
}

.ma-margin-top-bottom {
	margin-top: 8px;
	margin-bottom: 8px;
}

.ma-text-centered {
	text-align: center;
}

.ma-no-user-select {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.ma-full-width {
	width: 100%;
}

/* permissions menu */

.ma-permissions-menu {
  padding: 0;
}

.ma-permissions-menu md-checkbox {
  margin: 0;
}

md-menu-content md-checkbox:not(.md-checked) .md-container .md-icon {
    border-color: rgba(0,0,0,0.54);
}

/* import/export config components */
ma-config-export md-checkbox.ma-export-section {
  margin: 2px 0;
}

ma-config-import .ma-import-dropzone {
  height: 150px;
  border: 1px dashed currentColor;
  border-radius: 2px;
}

.ma-config-import-dialog {
  height: 90%;
}

.ma-config-import-messages {
  margin-top: 16px;
  overflow-y: scroll;
}

/* clickable elements */

[ng-click]:not([disabled]),
[role=button]:not([disabled]) {
  cursor: pointer;
}

/* color preview box */

.ma-color-picker-preview {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
  overflow: hidden;
  background-color: #fff;
  background-image: -webkit-linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd), -webkit-linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd);
  background-image: linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd), linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd);
  background-size: 8px 8px;
  background-position: 0 0, 4px 4px;
}

.ma-color-picker-preview .ma-color-picker-result {
  width: 100%;
  height: 100%;
}

/* file store browser */
ma-file-store-browser {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

ma-file-store-browser .ma-file-selected {
	background-color: grey;
}

.ma-file-store-browser-crumbs {
	font-size: 2.0rem;
	margin-bottom: 20px;
}

.ma-file-store-browser-crumbs label {
	height: 100%;
	width: 100%;
	display: block
}

.ma-file-store-browser-files  table.md-table thead.md-head > tr.md-row {
	height: 30px;
}

.ma-file-store-browser-files table.md-table tr td.md-cell:first-child,
.ma-file-store-browser-files table.md-table tr th.md-column:first-child {
	width: 24x;
	padding: 0 0 0 5px !important;
}

.ma-file-store-browser-files table.md-table tr td.md-cell:last-child,
.ma-file-store-browser-files table.md-table tr th.md-column:last-child {
	width: 200px;
	padding: 0 !important;
}

.ma-file-store-browser-files table.md-table tr td.md-cell .md-button {
	margin: 0 -4px;
}
.ma-file-store-browser-files table.md-table tr td.md-cell .md-button:first-child {
	margin-left: 0;
}
.ma-file-store-browser-files table.md-table tr td.md-cell .md-button:last-child {
	margin-right: 0;
}

.ma-file-store-browser-preview {
	overflow: auto;
	width: 300px;
	padding-left: 16px;
}

@media (max-width: 959px) {
	.ma-file-store-browser-preview {
		width: auto;
		height: 200px;
		padding-left: 0;
		padding-top: 16px;
		padding-bottom: 16px;
	}
}

.ma-file-store-browser-preview img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.ma-file-store-browser-preview .ma-no-preview {
	padding: 10px;
	box-sizing: border-box;
	border: 1px dashed;
	width: 100%;
	height: 100%;
	max-width: 300px;
	max-height: 300px;
	text-align: center;
}

ma-file-store-browser > md-progress-linear.ng-hide:not(.ng-hide-animate) {
  display: block !important;
  visibility: hidden;
}

.ma-file-store-dialog {
	height: 90%;
}

.mobile .ma-file-store-dialog {
	height: 100%;
}


/* Ace editor styles */

ma-ace-editor {
	resize: vertical;
	overflow-y: auto;
	padding-bottom: 10px;
	height: 300px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

ma-ace-editor > .ace_editor {
	display: flex;
	flex-grow: 1;
	font-size: 1.4rem;
}

/* Events table */

ma-events-table .active-status {
	font-weight: bold;
}

ma-events-table .event-link md-icon {
	font-size: 22px;
}