<md-checkbox ng-model="$ctrl.eventHandler.disabled"><span ma-tr="common.disabled"></span></md-checkbox>

<label ma-tr="eventHandlers.customTemplate"></label>
<ma-ace-editor name="customTemplate" mode="html" ng-model="$ctrl.eventHandler.customTemplate"></ma-ace-editor>

<md-checkbox ng-model="$ctrl.eventHandler.includeSystemInfo"><span ma-tr="eventHandlers.includeSystemInfo"></span></md-checkbox>
<md-checkbox ng-model="$ctrl.eventHandler.includeLogfile"><span ma-tr="eventHandlers.includeLogfile"></span></md-checkbox>

<md-input-container>
    <label ma-tr="eventHandlers.includePointValueCount"></label>
    <input name="includePointValueCount" ng-model="$ctrl.eventHandler.includePointValueCount" min="0" step="1" ma-validation-messages="$ctrl.validationMessages">
    <div ng-messages="$ctrl.form.customTemplate.$error">
        <div ng-message="required" ma-tr="ui.app.required"></div>
        <div ng-message="validationMessage" ng-bind="$ctrl.form.customTemplate.validationMessage"></div>
    </div>
</md-input-container>

<md-checkbox ng-model="$ctrl.eventHandler.sendEscalation"><span ma-tr="eventHandlers.escal"></span></md-checkbox>
<div ng-if="$ctrl.eventHandler.sendEscalation">

</div>

<md-checkbox ng-model="$ctrl.eventHandler.sendInactive"><span ma-tr="eventHandlers.inactiveNotif"></span></md-checkbox>
<md-checkbox ng-if="$ctrl.eventHandler.sendInactive" ng-model="overrideInactive"><span ma-tr="eventHandlers.inactiveOverride"></span></md-checkbox>
<div ng-if="overrideInactive">
    
</div>
