<h3 ma-tr="ui.eventHandlers.scriptSettings"></h3>
<div layout layout-align="space-between center" layout-wrap class="ma-inputs-container">
    <md-input-container flex="100" flex-gt-md="50">
        <label ma-tr="script.scriptEngine"></label>
        <md-select name="engineName" ng-model="$ctrl.eventHandler.engineName" ng-change="$ctrl.updateEditMode()" required>
            <md-option ng-repeat="engine in $ctrl.engines | orderBy:'engineName' track by engine.engineName" ng-value="engine.engineName">
                <span ng-bind="engine.engineName"></span> (<span ng-bind="engine.languageName"></span> &mdash; <span ng-bind="engine.languageVersion"></span>)
            </md-option>
        </md-select>
        <div ng-messages="editor.form.engineName.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="editor.form.engineName.validationMessage"></div>
        </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-md="50">
        <label ma-tr="ui.app.scriptRoles"></label>
        <input name="scriptRoles" ng-model="editor.eventHandler.scriptRoles" pattern="^\s*[\w-]+?\s*(,\s*[\w-]+?\s*)*$" ma-array-input>
        <div ng-messages="editor.form.scriptRoles.$error">
            <div ng-message="pattern" ma-tr="validate.invalidPermissions"></div>
            <div ng-message="validationMessage" ng-bind="editor.form.scriptRoles.validationMessage"></div>
        </div>
        <ma-permissions-menu ng-model="editor.eventHandler.scriptRoles" ma-array-input></ma-permissions-menu>
    </md-input-container>
</div>

<ma-ace-editor mode="{{$ctrl.editMode}}" show-gutter="true" required name="script" ng-model="$ctrl.eventHandler.script"></ma-ace-editor>

<div ng-if="editor.form.script.$error" ng-messages="editor.form.script.$error" role="alert" md-colors="::{color: 'warn'}">
    <div ng-message="required" ma-tr="validate.required"></div>
    <div ng-message="validationMessage" ng-bind="editor.form.script.validationMessage"></div>
</div>