<div flex layout="column" ng-form="$ctrl.form">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <div flex layout>
                    <div flex>
                        <span class="md-headline">
                            <span ma-tr="ui.app.mailingLists.setup"></span>
                        </span>
                    </div>
        
                    <div flex layout layout-align="end center" class="ma-margin-bottom">
                        <md-button class="md-raised md-primary" ng-click="$ctrl.save($event)">
                            <md-icon>save</md-icon> <span ma-tr="common.save"></span>
                        </md-button>
                        <md-button class="md-raised md-warn" ng-click="$ctrl.delete($event)" ng-disabled="!$ctrl.form.$valid && !$ctrl.form.$touched">
                            <md-icon>delete</md-icon> <span ma-tr="common.delete"></span>
                        </md-button>
                    </div>
                </div>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
        
            <div layout="row" layout-align="space-between top" layout-wrap>
                <md-input-container flex="100" flex-gt-md="45" flex-order-gt-md="1" class="ma-input-space-between">
                    <label ma-tr="common.name"></label>
                    <input name="name" ng-model="$ctrl.list.name" required>
                    <span ng-if="$ctrl.checkError('name')" class="ma-warn">{{ $ctrl.checkError('name').message }}</span>
                    <div ng-messages="$ctrl.form.name.$error">
                        <div ng-message="required" ma-tr="ui.app.required"></div>
                    </div>
                </md-input-container>

                <md-input-container flex="100" flex-gt-md="45" flex-order-gt-md="2" class="ma-input-space-between">
                    <label ma-tr="common.xid"></label>
                    <input name="xid" ng-model="$ctrl.list.xid">
                    <div ng-messages="$ctrl.form.xid.$error">
                        <div ng-message="required" ma-tr="ui.app.required"></div>
                    </div>
                </md-input-container>

            </div>

            <div layout="column">
                <span class="md-headline">
                    <span ma-tr="eventHandlers.emailRecipients"></span>
                </span>
                
                <md-input-container flex="100" class="ma-input-space-between" class="w-100">
                    <label ma-tr="ui.app.mailingLists.sendAlarmEmail"></label>
                    <md-select ng-model="$ctrl.list.receiveAlarmEmails" required>
                        <md-option value="NONE">None</md-option>
                        <md-option value="INFORMATION">Information</md-option>
                        <md-option value="IMPORTART">Important</md-option>
                        <md-option value="WARNING">Warning</md-option>
                        <md-option value="URGENT">Urgent</md-option>
                        <md-option value="CRITICAL">Critical</md-option>
                        <md-option value="LIFE_SAFETY">Safety</md-option>
                        <md-option value="DO_NOT_LOG">Do Not Log</md-option>
                        <md-option value="IGNORE">Ignore</md-option>
                    </md-select>
                </md-input-container>
                
                <span ng-if="$ctrl.checkError('recipients')" class="ma-warn">{{ $ctrl.checkError('recipients').message }}</span>
                <md-table-container flex="100" class="ma-input-space-between">
                    <table md-table>
                        <thead md-head>
                            <tr md-row>
                                <th md-column ma-tr="common.type"></th>
                                <th md-column ma-tr="mailingLists.recipient"></th>
                                <th md-column></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="recipient in $ctrl.list.recipients">
                                <td class="cell" flex md-cell>
                                    <md-input-container layout flex class="ma-input-space-between">
                                        <label ma-tr="common.type"></label>
                                        <md-select ng-model="recipient.recipientType" flex required>
                                            <md-option value="ADDRESS">Address</md-option>
                                            <md-option value="USER">User</md-option>
                                        </md-select>
                                    </md-input-container>
                                </td>
                                <td class="cell" flex md-cell>
                                    <md-input-container layout flex ng-if="recipient.recipientType === 'ADDRESS'" flex class="ma-input-space-between">
                                        <label ma-tr="mailingLists.emailAddress"></label>
                                        <input name="address" ng-model="recipient.address" required ma-validation-messages="$ctrl.validationMessages">
                                        <div ng-messages="$ctrl.form.address.$error">
                                            <div ng-message="required" ma-tr="ui.app.required"></div>
                                            <div ng-message="validationMessage" ng-bind="$ctrl.form.name.validationMessage"></div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container ng-if="recipient.recipientType === 'USER'" layout flex class="ma-input-space-between">
                                        <label ma-tr="common.user"></label>
                                        <md-select ng-model="recipient.username" required flex>
                                            <md-option ng-repeat="user in $ctrl.users" value="{{user.username}}">{{ user.username }}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </td>
                                <td class="cell" md-cell>
                                    <span ng-if="$ctrl.checkError('recipients[' + $index + ']')" class="ma-warn">{{ $ctrl.checkError('recipients[' + $index + ']').message }}</span>
                                    <md-button class="md-icon-button" aria-label="Delete Template" ng-click="$ctrl.deleteRecipient(recipient)">
                                        <md-tooltip md-direction="bottom" ma-tr="excelreports.ui.deleteTemplate"></md-tooltip>
                                        <md-icon>delete</md-icon>
                                    </md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div layout="row" layout-align="start top">
                    <md-button class="md-raised md-primary" ng-click="$ctrl.addRecipient()" class="add-button">
                        <md-icon>add</md-icon><span ma-tr="mailingLists.addRecipient"></span>
                    </md-button>
                </div>
            </div>

            <md-divider></md-divider>

            <div layout="row" class="weekly-schedule-container">
                <ma-weekly-schedule class="w-100" ng-model="$ctrl.list.inactiveSchedule" lock-all="false" lock-weekends="false" lock-weekdays="false"></ma-weekly-schedule>
            </div>

        </md-card-content>
    </md-card>

        
</div>