<ma-watch-list-select ng-model="$ctrl.watchList" ng-change="$ctrl.watchListChanged()" watch-list-xid="WL_ac76beaa-10f4-40f0-b714-d0fda1c1e801"></ma-watch-list-select>

<ma-bulk-data-point-tasks all-users="true"></ma-bulk-data-point-tasks>

<div>
    <md-button class="md-raised md-primary" ng-click="$ctrl.start($event)" ng-disabled="!$ctrl.selectedPoints.length || !$ctrl.updateBody || $ctrl.bulkTaskPromise || $ctrl.pointsPromise">
        <md-icon>edit</md-icon>
        <span ma-tr="ui.app.startBulkEdit"></span>
    </md-button>
    
    <md-button class="md-raised" ng-click="$ctrl.watchListChanged($event)"
        ng-disabled="$ctrl.bulkTaskPromise || $ctrl.pointsPromise">
        <md-icon>refresh</md-icon>
        <span ma-tr="ui.app.reloadPoints"></span>
    </md-button>
</div>

<md-input-container>
    <label ma-tr="ui.app.selectColumns"></label>
    <md-select multiple="true" ng-model="$ctrl.selectedColumns" ng-model-options="{trackBy: '$value.name'}" ng-disabled="$ctrl.bulkTaskPromise || $ctrl.pointsPromise">
        <md-option ng-repeat="column in $ctrl.columns track by column.name" ng-value="column"><span ma-tr="{{column.label}}"></span></md-option>
    </md-select>
</md-input-container>

<md-input-container>
    <label ma-tr="ui.app.selectTags"></label>
    <md-select multiple="true" ng-model="$ctrl.selectedTags" ng-change="$ctrl.selectedTagsChanged()" ng-disabled="$ctrl.bulkTaskPromise || $ctrl.pointsPromise" ng-model-options="{trackBy: '$value.name'}">
        <md-option ng-repeat="tag in $ctrl.availableTags track by tag.name" ng-value="tag"><span ng-bind="tag.label"></span></md-option>
    </md-select>
</md-input-container>

<md-button class="md-icon-button" ng-click="$ctrl.addTagColumn($event)">
    <md-icon>add</md-icon>
    <md-tooltip ma-tr="ui.app.addATag"></md-tooltip>
</md-button>

<md-table-container>
    <table md-table md-row-select multiple ng-model="$ctrl.selectedPoints" md-progress="$ctrl.pointsPromise">
        <thead class="ma-bulk-edit-controls">
            <tr class="ma-bulk-edit-button-row">
                <th><!-- Spacer for checkbox --></th>
                <th><!-- Spacer for error --></th>
                <th>
                    <md-button class="md-icon-button" ng-click="$ctrl.sortColumn({name: 'xid'})">
                        <md-icon>{{$ctrl.tableOrder == 'xid' ? 'arrow_downward' : ($ctrl.tableOrder == '-xid' ? 'arrow_upward' : 'sort')}}</md-icon>
                    </md-button>
                </th>
                <th ng-repeat="column in $ctrl.selectedColumns track by column.name">
                    <md-button class="md-icon-button" ng-click="$ctrl.sortColumn(column)">
                        <md-icon>{{$ctrl.tableOrder == column.name ? 'arrow_downward' : ($ctrl.tableOrder == '-' + column.name ? 'arrow_upward' : 'sort')}}</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="$ctrl.resetColumn(column)" ng-if="$ctrl.updateBody[column.name] !== undefined"><md-icon>undo</md-icon></md-button>
                </th>
                <th ng-repeat="tag in $ctrl.selectedTags track by tag.name">
                    <md-button class="md-icon-button" ng-click="$ctrl.removeTag(tag)"><md-icon>delete</md-icon></md-button>
                    <md-button class="md-icon-button" ng-click="$ctrl.resetTag(tag)" ng-if="$ctrl.updateBody.tags[tag.name] !== undefined"><md-icon>undo</md-icon></md-button>
                </th>
            </tr>
            <tr class="ma-bulk-edit-input-row">
                <th class="ma-checkbox-column">
                    <md-checkbox aria-label="Select all" ng-model="$ctrl.selectAll" ng-change="$ctrl.selectAllChanged()"
                        ng-disabled="$ctrl.bulkTaskPromise || $ctrl.pointsPromise" md-indeterminate="$ctrl.selectAllIndeterminate">
                    </md-checkbox>
                </th>
                <th></th>
                <th><span ma-tr="ui.app.xidShort"></span></th>
                <th ng-repeat="column in $ctrl.selectedColumns track by column.name">
                    <md-input-container>
                        <label ma-tr="{{column.label}}"></label>
                        <input ng-model="$ctrl.updateBody[column.name]">
                    </md-input-container>
                </th>
                <th ng-repeat="tag in $ctrl.selectedTags track by tag.name">
                    <md-input-container>
                        <label ng-bind="tag.label"></label>
                        <input ng-model="$ctrl.updateBody.tags[tag.name]">
                    </md-input-container>
                </th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="point in $ctrl.points | orderBy: $ctrl.tableOrder | limitTo: $ctrl.numberOfRows: ($ctrl.pageNumber - 1) * $ctrl.numberOfRows track by point.xid"
                    ng-disabled="$ctrl.bulkTaskPromise || $ctrl.pointsPromise"
                    md-select="point"
                    md-select-id="xid"
                    md-on-select="$ctrl.pointSelectedBound"
                    md-on-deselect="$ctrl.pointDeselectedBound"
                    ng-class="{'ma-row-error': point.error}">

                <td md-cell>
                    <div ng-if="$ctrl.getPointError(point)">
                        <md-icon class="md-warn">warning</md-icon>
                        <md-tooltip ng-bind="$ctrl.getPointError(point).localizedMessage"></md-tooltip>
                    </div>
                </td>
                
                <td md-cell ng-bind="point.xid"></td>
                
                <td ng-repeat="column in $ctrl.selectedColumns track by column.name" md-cell ng-class="{'ma-cell-modified': $ctrl.columnModified(column, point)}">
                    <span ng-class="{'ma-empty-null': !$ctrl.valueForColumn(column, point)}" ng-bind="$ctrl.valueForColumn(column, point) | maDisplayNull"></span>
                </td>
                
                <td ng-repeat="tag in $ctrl.selectedTags track by tag.name" md-cell ng-class="{'ma-cell-modified': $ctrl.tagModified(tag, point)}">
                    <span ng-class="{'ma-empty-null': !$ctrl.valueForTag(tag, point)}" ng-bind="$ctrl.valueForTag(tag, point) | maDisplayNull"></span>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination md-limit="$ctrl.numberOfRows" md-limit-options="[10, 15, 25, 50, 100, 200]" md-page="$ctrl.pageNumber" md-page-select md-total="{{$ctrl.points.length}}"></md-table-pagination>
