<md-progress-linear ng-if="$ctrl.queryPromise"></md-progress-linear>

<md-list class="ma-no-padding ma-no-text-overflow">
    <md-list-item ng-if="$ctrl.showNew && !$ctrl.filter" class="md-2-line" ng-click="$ctrl.createNew($event)" md-colors="{'background': $ctrl.selected.isNew() ? 'accent-hue-1' : 'background-hue-1'}">
        <div class="md-list-item-text">
            <h3 ma-tr="ui.app.new"></h3>
            <p ma-tr="dsList.createDataSource"></p>
        </div>
        <md-button class="md-secondary md-icon-button" ng-click="$ctrl.createNew($event)">
            <md-icon>add</md-icon>
        </md-button>
    </md-list-item>

    <md-list-item class="md-2-line" ng-repeat="item in $ctrl.items track by item.xid"
            ng-class="{'ma-list-selected': $ctrl.selected.xid === item.xid}"
            md-colors="{'background': $ctrl.selected.xid === item.xid ? 'accent-hue-1' : 'background-hue-1'}"
            ng-click="$ctrl.setViewValue(item)">
        <div class="md-list-item-text">
            <h3 ng-bind="item.name"></h3>
            <p><span ng-bind="item.description"></span> &mdash; <span ng-bind="item.connectionDescription"></span></p>
        </div>
        <md-switch ng-if="$ctrl.showEnableSwitch" class="md-secondary" ng-model="item.isEnabled"></md-switch>
    </md-list-item>
    
    <md-list-item ng-if="!$ctrl.items.length && !$ctrl.queryPromise">
        <span ma-tr="dsList.emptyList"></span>
    </md-list-item>
</md-list>