ma-drop-down {
	display: flex;
	flex-direction: column;
	position: fixed;
	 /* has to be less than md-backdrop z-index (99) */
	z-index: 98;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}

ma-drop-down.ma-slide-down {
	transform-origin: 0 0;
	transform: scaleY(0);
}

ma-drop-down.ma-slide-down.ma-open {
	transform: scaleY(1);
}

ma-drop-down.ma-slide-down.ma-open.ma-open-add {
	transition: transform 0.3s ease-in-out;
	transform: scaleY(0);
}

ma-drop-down.ma-slide-down.ma-open.ma-open-add-active {
	transform: scaleY(1);
}

ma-drop-down.ma-slide-down.ma-open-remove {
	transition: transform 0.3s ease-in-out;
	transform: scaleY(1);
}

ma-drop-down.ma-slide-down.ma-open-remove-active {
	transform: scaleY(0);
}
