<div ng-class="{'desktop': $ctrl.$mdMedia('gt-sm')}" layout="column" layout-gt-sm="row" flex layout-align="end end">
    <md-table-pagination flex flex-order="3" flex-order-gt-sm="1" class="underline" md-limit="$ctrl.limit"
            md-limit-options="[5, 10, 15, 25, 50, 100, 200]" md-page="$ctrl.page" md-total="{{$ctrl.total}}"
            md-page-select md-on-paginate="$ctrl.onPaginateBound">
    </md-table-pagination>
    <md-button ng-if="!$ctrl.hideAckButton" flex-order="2" class="md-raised md-primary md-hue-2" ng-click="$ctrl.acknowledgeAll()" ng-disabled="!$ctrl.totalUnAcknowledged">
        <span ma-tr="ui.app.acknowledgeXEvents" ma-tr-args="[$ctrl.totalUnAcknowledged]"></span>
    </md-button>
    <md-button ng-if="!$ctrl.hideCsvButton" class="md-icon-button" ng-href="{{$ctrl.csvUrl}}" download="events.csv">
        <md-icon>file_download</md-icon>
        <md-tooltip><span ma-tr="ui.app.downloadCSV"></span></md-tooltip>
    </md-button>
</div>
<md-table-container class="events-table">
    <table md-table ng-class="{'mobile': !$ctrl.$mdMedia('gt-sm')}" md-progress="$ctrl.tableQueryPromise">
        <thead md-head md-order="$ctrl.sort" md-on-reorder="$ctrl.onReorderBound">
            <tr md-row>
                <th md-column md-order-by="alarmLevel" ma-tr="ui.app.alarmLvl" class="narrow-column"></th>
                <th md-column md-order-by="activeTimestamp" ma-tr="ui.app.time" class="medium-column"></th>
                <th md-column md-order-by="message" ma-tr="ui.app.msg" class="msg-column"></th>
                <th md-column md-order-by="activeRtn" ma-tr="ui.app.status" class="medium-column"></th>
                <th md-column ma-tr="ui.app.duration" class="medium-column"></th>
                <th md-column md-order-by="ackTs" ma-tr="ui.app.acknowledge" class="narrow-column"></th>
            </tr>
        </thead>
        <tbody md-body ng-hide="$ctrl.total">
            <tr md-row>
                <td md-cell colspan="6" style="height:60px; font-weight: bold;" ma-tr="ui.app.noEventsFound"></td>
            </tr>
        </tbody>
        <tbody md-body ng-show="$ctrl.total">
            <tr md-row ng-repeat="event in $ctrl.events track by event.id">
                <td md-cell class="narrow-column">
                    <i class="fa fa-flag alarm-flag fa-lg" ng-class="event.alarmLevel" ng-click="$ctrl.addNote($event, event)">
                        <md-tooltip md-delay="250" md-direction="right" md-autohide>
                            <!--<span ma-tr="ui.app.addUserNote"></span> - -->
                            <span ng-bind="event.alarmLevel"></span> -
                            (<span ma-tr="ui.app.eventId"></span>: {{event.id}})
                        </md-tooltip>
                    </i>
                </td>
                <td md-cell class="medium-column" ng-bind="$ctrl.formatDate(event.activeTimestamp)"></td>
                
                <td md-cell class="msg-column" ng-class="{'truncated' : !toggle}" ng-click="toggle = !toggle"
                        ng-init="linkInfo = $ctrl.linkInfo[event.eventType.eventType] || $ctrl.linkInfo[event.eventType.systemEventType]">
                    <a class="event-link" ng-if="linkInfo && (!$ctrl.hideLink || $ctrl.hideLink !== event.eventType.eventType && $ctrl.hideLink !== event.eventType.systemEventType)"
                            ng-init="linkParams = linkInfo.stateParams(event)" ui-state="linkInfo.stateName" ui-state-params="linkParams">
                        <md-icon class="md-48" md-colors="{'color': 'accent-hue-2'}">
                            {{linkInfo.icon}}
                            <md-tooltip md-delay="250" md-direction="right" md-autohide><span ma-tr="{{linkInfo.tooltipTranslation}}"></span></md-tooltip>
                        </md-icon>
                    </a>

                    <md-icon ng-if="event.hasNotes">
                        speaker_notes
                        <md-tooltip md-delay="250" md-direction="right" md-autohide ma-tr="ui.app.hasNotes"></md-tooltip>
                    </md-icon>

                    <span ng-bind-html="$ctrl.parseHTML(event.message)"></span>
                </td>
                
                <!-- Status column -->
                <td md-cell>
                    <span ng-if="event.returnToNormalTimestamp !== 0"><span ng-bind="$ctrl.formatDate(event.returnToNormalTimestamp)"></span> - </span>
                    <span ng-if="event.status" ng-bind="event.status"></span>
                    <span ng-if="event.active" md-colors="{'color': 'accent-hue-2'}" class="active-status" ma-tr="ui.app.active"></span>
                </td>
                
                <!-- Duration column -->
                <td md-cell class="medium-column">
                    <span ng-if="event.returnToNormalTimestamp === 0 && !event.active" ma-tr="ui.app.na"></span>
                    <span ng-if="event.returnToNormalTimestamp !== 0 || event.active" ng-bind="event.duration | maDuration: 'humanize'"></span>
                </td>
                
                <td md-cell class="narrow-column">
                    <i class="fa fa-circle-o fa-lg acknowledged-checkbox" ng-click="$ctrl.acknowledgeEvent(event);" ng-if="!$ctrl.hideAckButton && !event.acknowledged"></i>
                    <i class="fa fa-check-circle-o fa-lg acknowledged-checkbox" ng-if="event.acknowledged">
                        <md-tooltip ma-tr="ui.app.acknowledgedByAt" ma-tr-args="[event.acknowledgedByUsername, (event.acknowledgedTimestamp | maMoment:'format':'l LT')]"></md-tooltip>
                    </i>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>
