<form name="$ctrl.form">
    <md-button class="md-raised" ui-sref="^.uiSettings">
        <md-icon>arrow_back</md-icon>&nbsp;<span ma-tr="ui.app.backToUiSettings"></span>
    </md-button>
    
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline" ma-tr="ui.app.themeEditor"></span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout>
                <md-input-container flex>
                    <label>Select theme to edit</label>
                    <md-select ng-model="$ctrl.theme" ng-change="$ctrl.editTheme($ctrl.theme)">
                        <md-option ng-repeat="theme in $ctrl.themes track by theme.name" ng-value="theme" ng-bind="theme.name"></md-option>
                    </md-select>
                </md-input-container>
            </div>

            <md-checkbox flex ng-model="$ctrl.theme.dark" ng-change="$ctrl.uiSettings.generateTheme()">
                <span ma-tr="ui.app.darkTheme"></span>
            </md-checkbox>
            
            <md-checkbox ng-model="showAllHues"><span ma-tr="ui.app.showAllHues"></span></md-checkbox>
            <div layout layout-wrap>
                <div flex="50" flex-gt-md="25" layout="column" layout-align="start stretch" ng-repeat="palette in $ctrl.palettes">
                    <h4 layout="column" layout-align="start center" ma-tr="ui.app.{{palette}}Palette"></h4>
                    <md-input-container>
                        <md-select ng-model="$ctrl.theme[palette + 'Palette']" ng-change="$ctrl.uiSettings.generateTheme()" required>
                            <md-option ng-repeat="(name, palette) in $ctrl.getPalettes()" ng-value="name" ng-bind="name"></md-option>
                        </md-select>
                    </md-input-container>
                    <ma-color-preview theme="{{$ctrl.theme.name}}" palette="{{palette}}"></ma-color-preview>
                </div>
            </div>
        
            <div layout layout-wrap ng-show="showAllHues">
                <div flex="50" flex-gt-md="25" layout="column" layout-align="start stretch" ng-repeat="palette in $ctrl.palettes">
                    <ma-color-preview theme="{{$ctrl.theme.name}}" palette="{{palette}}" all-hues="true"></ma-color-preview>
                </div>
            </div>
        </md-card-content>
        <md-card-actions>
            <md-button flex="nogrow" class="md-raised md-primary" ng-click="$ctrl.save($event)" ng-disabled="$ctrl.promise || !$ctrl.store || $ctrl.form.$pristine"><md-icon>save</md-icon> <span ma-tr="common.save"></span></md-button>
            <md-button flex="nogrow" class="md-raised" ng-click="$ctrl.get($event)" ng-disabled="$ctrl.promise || !$ctrl.store || $ctrl.form.$pristine"><md-icon>undo</md-icon> <span ma-tr="ui.app.revert"></span></md-button>
            <md-button flex="nogrow" class="md-raised md-warn" ng-click="$ctrl.resetToDefault($event)" ng-disabled="$ctrl.promise || !$ctrl.store"><md-icon>delete</md-icon> <span ma-tr="ui.app.resetToDefault"></span></md-button>
        </md-card-actions>
    </md-card>
</form>