<style>
    html {
        overflow-y: hidden
    }
    
    .active-button {
        border: solid 2px;
    }
    
    .sm-bt {
        min-width: 35px;
    }
    
    md-select,
    .md-input {
        margin: 0 !important;
        min-width: 110px !important;
        width: 110px !important;
    }
    
    md-input-container {
        margin: 8px 0;
    }
    
    .date-picker-to-from input {
        margin: 0 !important;
        min-width: 200px !important;
        width: 200px !important;
    }
    
    .date-picker-to-from.mobile input {
        min-width: 165px !important;
        width: 165px !important;
        font-size: 13px;
    }
    
    .date-picker {
        background-color: white;
        border: 2px solid black;
        padding: 6px;
        border-radius: 3px;
        font-size: 16px;
    }
    
    .date-picker md-select {
        margin: 0 !important;
        min-width: 150px !important;
        width: 150px !important;
    }
    
    .date-picker.mobile md-select {
        margin: 0 !important;
        min-width: 80px !important;
        width: 80px !important;
    }
    
    h2.project-header {
        margin: 1rem;
        font-size: 28px;
    }
    /* Table Component */
    
    table-component md-table-container {
        height: 500px;
    }
    
    table-component md-table-container.lg-screen {
        height: 730px;
    }
    
    .md-toolbar-tools.mobile h2 span {
        font-size: 16px;
    }
    
    .md-toolbar-tools.mobile h2 {
        line-height: 18px;
    }
    
    md-toolbar.md-table-toolbar form> input:focus {
        outline: none;
    }
    
    md-toolbar.md-table-toolbar form> input {
        width: 100%;
        margin-left: 16px;
        border: none;
    }
    
    md-toolbar.ng-animate {
        transition: none;
    }
    
    md-toolbar.md-table-toolbar em {
        font-size: 1.6rem;
    }
    
    table.md-table td.md-cell {
        font-size: 12px;
    }
    /*table.md-table .md-checkbox-cell, table.md-table .md-checkbox-column {
  display: none;
}*/
    
    table.md-table tbody.md-body>tr.md-row,
    table.md-table tfoot.md-foot>tr.md-row {
        height: 38px;
    }
    
    table.md-table td.md-cell,
    table.md-table th.md-column {
        padding: 0 10px 0 5px !important;
    }
    
    .xsSpark {
        width: 100px;
    }
    
    .smSpark {
        width: 120px;
    }
    
    .mdSpark {
        width: 150px;
    }
    
    .lgSpark {
        width: 300px;
    }
    
    md-body md-progress-linear.spark,
    md-body md-progress-linear.spark ._md-container,
    md-body md-progress-linear.spark ._md-container ._md-bar {
        height: 10px;
    }
    /* Chart Component */
    
    .chart-content {
        height: 500px;
    }
    
    .chart-content.lg-screen {
        height: 660px;
    }
    
    path.amcharts-graph-stroke {
        stroke-width: 2.5px;
        stroke-opacity: .7;
    }
    
    path.amcharts-graph-fill {
        fill-opacity: 0.5;
    }
    
    md-tabs.noTabPanel md-tabs-wrapper {
        display: none !important;
    }
</style>

<div layout="row">
    <md-input-container flex>
        <label>Preset</label>
        <ma-date-range-picker from="from" to="to" preset="LAST_1_DAYS" update-interval="5 seconds"></ma-date-range-picker>
    </md-input-container>
    <md-input-container class="date-picker-to-from" ng-class="{'mobile': $mdMedia('xs')}">
        <label>From date</label>
        <ma-date-picker ng-model="from"></ma-date-picker>
    </md-input-container>
    <md-input-container class="date-picker-to-from" ng-class="{'mobile': $mdMedia('xs')}">
        <label>To date</label>
        <ma-date-picker ng-model="to"></ma-date-picker>
    </md-input-container>
</div>

<div layout="column" ng-init="unitData = {mode: 'unit', type: 'power'}">
    <md-card flex>
        <watch-list-table data="unitData" to="to" from="from" selected="selected"></watch-list-table>
    </md-card>

    <md-card flex>
        <watch-list-chart data="unitData" to="to" from="from" add-checked="selected" date-preset="datePreset" rollup-type="rollupType" rollup-interval-number="rollupIntervalNumber" rollup-interval-period="rollupIntervalPeriod"></watch-list-chart>
    </md-card>
</div>