<div flex="noshrink" ma-dropzone ma-drag-enter="dragOver = true" ma-drag-leave="dragOver = false" ma-drop="dragOver = false; $ctrl.fileDropped($data)"
        ng-class="{'ma-drag-over': dragOver}" ng-form="bulkEditorForm" ma-form-exclude>
    <div layout layout-align="start center" class="ma-bulk-edit-toolbar">
        <div ng-transclude="extraControls"></div>

        <md-button ng-if="!$ctrl.bulkTaskPromise && $ctrl.dataSource" class="md-raised" ng-click="$ctrl.createDataPoint($event)" ng-disabled="$ctrl.pointsPromise">
            <md-icon>add</md-icon>
            <span ma-tr="common.add"></span>
        </md-button>

        <md-button ng-if="!$ctrl.bulkTaskPromise" class="md-raised" ng-disabled="$ctrl.pointsPromise" ng-click="$ctrl.editSelectedPoints($event)">
            <md-icon>edit</md-icon>
            <span ma-tr="ui.app.editSelected"></span>
        </md-button>
        
        <md-button ng-if="!$ctrl.bulkTaskPromise" class="md-raised md-warn" ng-click="$ctrl.confirmDeleteSelected($event)" ng-disabled="$ctrl.pointsPromise">
            <md-icon>delete</md-icon>
            <span ma-tr="ui.app.deleteSelected"></span>
        </md-button>
        
        <md-button ng-if="$ctrl.bulkTask" class="md-raised md-warn" ng-click="$ctrl.cancel($event)">
            <md-icon>cancel</md-icon>
            <span ma-tr="ui.app.cancelBulkEdit"></span>
        </md-button>

        <div flex></div>
        
        <span ng-if="$ctrl.bulkTask">
            <span ng-bind="$ctrl.bulkTask.progress || 0"></span>% (<span ma-tr="ui.app.pointXofX" ma-tr-args="[$ctrl.bulkTask.position || 0, $ctrl.bulkTask.maximum || 0]"></span>)
        </span>
        
        <div flex></div>
        
        <md-input-container md-no-float="true">
            <md-select md-selected-text="'ui.app.selectColumns' | maTr" multiple="true" ng-model="$ctrl.selectedColumns"
                    ng-change="$ctrl.selectedColumnsChanged()"
                    ng-model-options="{trackBy: '$value.name'}" ng-disabled="$ctrl.bulkTaskPromise || $ctrl.pointsPromise">
                <md-option ng-repeat="column in $ctrl.columns track by column.name" ng-value="column"><span ma-tr="{{column.label}}"></span></md-option>
            </md-select>
        </md-input-container>
        
        <md-input-container md-no-float="true">
            <md-select md-selected-text="'ui.app.selectTags' | maTr" multiple="true" ng-model="$ctrl.selectedTags"
                    ng-change="$ctrl.selectedTagsChanged()"
                    ng-model-options="{trackBy: '$value.name'}" ng-disabled="$ctrl.bulkTaskPromise || $ctrl.pointsPromise">
                <md-option ng-repeat="tag in $ctrl.availableTags track by tag.name" ng-value="tag"><span ng-bind="tag.label"></span></md-option>
            </md-select>
        </md-input-container>
        
        <md-button class="md-icon-button" ng-click="$ctrl.addTagColumn($event)" ng-disabled="$ctrl.bulkTaskPromise || $ctrl.pointsPromise">
            <md-icon>add</md-icon>
            <md-tooltip ma-tr="ui.app.addATag"></md-tooltip>
        </md-button>
        
        <md-button class="md-icon-button" ng-click="$ctrl.downloadCSV($event)" ng-disabled="$ctrl.bulkTaskPromise || $ctrl.pointsPromise">
            <md-icon>file_download</md-icon>
            <md-tooltip ma-tr="ui.app.downloadCSV"></md-tooltip>
        </md-button>
        
        <md-button class="md-icon-button" ng-click="$ctrl.uploadCSVButtonClicked($event)" ng-disabled="$ctrl.bulkTaskPromise || $ctrl.pointsPromise">
            <md-icon>file_upload</md-icon>
            <md-tooltip ma-tr="ui.app.uploadCSV"></md-tooltip>
        </md-button>
        
        <input style="display:none" type="file" ng-model="dummyFileModel"
            ma-change="$ctrl.csvFileInputChanged($event)" ng-attr-accept="text/csv,.csv">
    </div>
    
    <md-progress-linear ng-if="$ctrl.bulkTask" md-mode="determinate" ng-value="$ctrl.bulkTask.progress"></md-progress-linear>

    <md-table-container>
        <table md-table md-progress="$ctrl.pointsPromise">
            <thead md-head md-order="$ctrl.tableOrder">
                <tr md-row>
                    <th md-column class="ma-checkbox-column">
                        <md-checkbox aria-label="{{'ui.app.selectAll' | maTr}}" ng-model="$ctrl.selectAll" ng-change="$ctrl.selectAllChanged()"
                            ng-disabled="$ctrl.bulkTaskPromise || $ctrl.pointsPromise" md-indeterminate="$ctrl.selectAllIndeterminate">
                        </md-checkbox>
                    </th>
                    <th md-column ng-repeat="column in $ctrl.selectedColumns | orderBy:'order' track by column.name"
                            md-order-by="{{column.name}}">
                        <span ma-tr="{{column.label}}"></span>
                    </th>
                    <th md-column ng-repeat="tag in $ctrl.selectedTags track by tag.name">
                        <span ng-bind="tag.label"></span>
                    </th>
                    <th md-column><!-- Spacer for point actions column --></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="point in $ctrl.points | orderBy: $ctrl.tableOrder | limitTo: $ctrl.numberOfRows: ($ctrl.pageNumber - 1) * $ctrl.numberOfRows track by point.xid"
                        ng-disabled="$ctrl.bulkTaskPromise || $ctrl.pointsPromise">

                    <td md-cell class="ma-checkbox-column">
                        <md-checkbox aria-label="{{'ui.app.selectAll' | maTr}}" ng-model="point.$selected" ng-change="$ctrl.pointSelectedChanged(point)"
                            ng-disabled="$ctrl.bulkTaskPromise || $ctrl.pointsPromise">
                        </md-checkbox>
                    </td>

                    <td ng-repeat="column in $ctrl.selectedColumns | orderBy:'order' track by column.name" md-cell>
                        <span ng-class="{'ma-empty-null': point[column.name] == null}" ng-bind="point[column.name] | maDisplayNull"></span>
                    </td>
                    
                    <td ng-repeat="tag in $ctrl.selectedTags track by tag.name" md-cell>
                        <span ng-class="{'ma-empty-null': point.tags[tag.name] == null}" ng-bind="point.tags[tag.name] | maDisplayNull"></span>
                    </td>
                    
                    <td md-cell class="ma-point-actions">
                        <div layout layout-align="end center">
                            <md-switch ng-model="point.isEnabled"></md-switch>
                            <md-button class="md-icon-button" ng-click="$ctrl.editDataPoint($event, point)">
                                <md-icon>edit</md-icon>
                                <md-tooltip ma-tr="common.edit"></md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="$ctrl.copyDataPoint($event, point)">
                                <md-icon>content_copy</md-icon>
                                <md-tooltip ma-tr="common.copy"></md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button md-warn" ng-click="$ctrl.deleteDataPoint($event, point)">
                                <md-icon>delete</md-icon>
                                <md-tooltip ma-tr="common.delete"></md-tooltip>
                            </md-button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-if="!$ctrl.points.length && !$ctrl.pointsPromise" class="ma-no-points-found" ma-tr="ui.app.noPointsToDisplay"></div>
        <div ng-if="!$ctrl.points.length && $ctrl.pointsPromise" class="ma-no-points-found" ma-tr="ui.app.loadingPoints"></div>
    </md-table-container>
    
    <div layout layout-align="start center">
        <div class="ma-selection-count" ma-tr="ui.app.xPointsSelectedLong" ma-tr-args="[$ctrl.selectedPoints.length]"></div>
        <md-table-pagination  flex md-limit="$ctrl.numberOfRows" md-limit-options="[10, 15, 25, 50, 100]" md-page="$ctrl.pageNumber" md-page-select md-total="{{$ctrl.points.length}}"></md-table-pagination>
    </div>
    
</div>

<ma-dialog show-dialog="$ctrl.showDialog" on-hide="$ctrl.editTarget = null; $ctrl.csvFile = null" on-cancel="$ctrl.editTarget = null;  $ctrl.csvFile = null">
    <md-dialog flex="100" flex-gt-sm="80" flex-gt-md="65" flex-gt-lg="50" flex-gt-xl="30">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span ng-if="$ctrl.csvFile">Uploading CSV</span>
                    <span ng-if="$ctrl.editTarget.length" ma-tr="ui.components.editXDataPoints" ma-tr-args="[$ctrl.editTarget.length]"></span>
                    <span ng-if="!$ctrl.editTarget.length && !$ctrl.editTarget.isNew()" ma-tr="dsList.editDataPoint" ma-tr-args="[$ctrl.editTarget.name]"></span>
                    <span ng-if="!$ctrl.editTarget.length && $ctrl.editTarget.isNew()" ma-tr="dsList.createDataPoint"></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$dialog.cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout="column" flex>
            <ma-data-point-editor flex="noshrink" layout="column" dynamic-height="!$dialog.fullscreen()"
                ng-model="$ctrl.editTarget" ng-change="$dialog.hide()" fixed-type="true" import-csv="$ctrl.csvFile">
            </ma-data-point-editor>
        </md-dialog-content>
    </md-dialog>
</ma-dialog>