<md-input-container class="ma-icon-inside" ng-if="$ctrl.inputType !== 'checkbox' && $ctrl.inputType !== 'color'">
  <label ma-tr="{{$ctrl.labelTr}}"></label>
  <input ng-if="$ctrl.inputType === 'text'" ng-model="$ctrl.systemSetting.value" ng-change="$ctrl.settingChanged()" ng-model-options="{debounce: {default: 1000, blur: 0}, updateOn : 'default blur'}" name="{{$ctrl.name}}" id="{{$ctrl.name}}" ng-disabled="$ctrl.disabled">
  <input ng-if="$ctrl.inputType === 'password'" type="password" ng-model="$ctrl.systemSetting.value" ng-change="$ctrl.settingChanged()" ng-model-options="{debounce: {default: 1000, blur: 0}, updateOn : 'default blur'}" name="{{$ctrl.name}}" id="{{$ctrl.name}}" ng-disabled="$ctrl.disabled">
  <input ng-if="$ctrl.inputType === 'number'" type="number" min="{{$ctrl.min}}" max="{{$ctrl.max}}" step="{{$ctrl.step}}" ng-model="$ctrl.systemSetting.value" ng-change="$ctrl.settingChanged()" ng-model-options="{debounce: {default: 1000, blur: 0}, updateOn : 'default blur'}" name="{{$ctrl.name}}" id="{{$ctrl.name}}" ng-disabled="$ctrl.disabled">
  <md-select ng-if="$ctrl.inputType === 'select'" ng-model="$ctrl.systemSetting.value" ng-change="$ctrl.settingChanged()" name="{{$ctrl.name}}" id="{{$ctrl.name}}" ng-disabled="$ctrl.disabled">
    <div ng-transclude="options"></div>
  </md-select>
  <md-select ng-if="$ctrl.inputType === 'alarmlevel'" ng-model="$ctrl.systemSetting.value" ng-change="$ctrl.settingChanged()" name="{{$ctrl.name}}" id="{{$ctrl.name}}" ng-disabled="$ctrl.disabled">
    <md-option ng-value="0"><md-icon class="fa fa-flag alarm-flag NONE"></md-icon><span ma-tr="common.alarmLevel.none"></span></md-option>
    <md-option ng-value="1"><md-icon class="fa fa-flag alarm-flag INFORMATION"></md-icon><span ma-tr="common.alarmLevel.info"></span></md-option>
    <md-option ng-value="2"><md-icon class="fa fa-flag alarm-flag IMPORTANT"></md-icon><span ma-tr="common.alarmLevel.important"></span></md-option>
    <md-option ng-value="3"><md-icon class="fa fa-flag alarm-flag WARNING"></md-icon><span ma-tr="common.alarmLevel.warning"></span></md-option>
    <md-option ng-value="4"><md-icon class="fa fa-flag alarm-flag URGENT"></md-icon><span ma-tr="common.alarmLevel.urgent"></span></md-option>
    <md-option ng-value="5"><md-icon class="fa fa-flag alarm-flag CRITICAL"></md-icon><span ma-tr="common.alarmLevel.critical"></span></md-option>
    <md-option ng-value="6"><md-icon class="fa fa-flag alarm-flag LIFE_SAFETY"></md-icon><span ma-tr="common.alarmLevel.lifeSafety"></span></md-option>
    <md-option ng-value="-2"><md-icon class="fa fa-times-circle alarm-flag DO_NOT_LOG"></md-icon><span ma-tr="common.alarmLevel.doNotLog"></span></md-option>
    <md-option ng-value="-3"><md-icon class="fa fa-times alarm-flag IGNORE"></md-icon><span ma-tr="common.alarmLevel.ignore"></span></md-option>
  </md-select>
  <md-select ng-if="$ctrl.inputType === 'timeperiodtype'" ng-model="$ctrl.systemSetting.value" ng-change="$ctrl.settingChanged()" name="{{$ctrl.name}}" id="{{$ctrl.name}}" ng-disabled="$ctrl.disabled">
    <md-option value="DAYS"><span ma-tr="common.tp.days"></span></md-option>
    <md-option value="WEEKS"><span ma-tr="common.tp.weeks"></span></md-option>
    <md-option value="MONTHS"><span ma-tr="common.tp.months"></span></md-option>
    <md-option value="YEARS"><span ma-tr="common.tp.years"></span></md-option>
  </md-select>
  <textarea ng-if="$ctrl.inputType === 'textarea'" ng-model="$ctrl.systemSetting.value" ng-change="$ctrl.settingChanged()" ng-model-options="{debounce: {default: 1000, blur: 0}, updateOn : 'default blur'}" name="{{$ctrl.name}}" id="{{$ctrl.name}}"  ng-disabled="$ctrl.disabled"></textarea>
  <md-icon ng-show="$ctrl.saving || $ctrl.done || $ctrl.error" class="md-icon-button" ng-class="{'md-warn': $ctrl.error}">{{$ctrl.saving && 'sync' || $ctrl.done && 'done' || $ctrl.error && 'sync_problem' }}</md-icon>
  <div ng-messages="$ctrl.messages" md-auto-hide="false">
    <div ng-message="errorSaving" ma-tr="ui.app.errorSavingSetting"></div>
  </div>
</md-input-container>
<md-checkbox ng-if="$ctrl.inputType === 'checkbox'" ng-model="$ctrl.systemSetting.value" ng-change="$ctrl.settingChanged()"><span ma-tr="{{$ctrl.labelTr}}"></span></md-checkbox>

<div layout layout-align="start center" ng-if="$ctrl.inputType === 'color'">
    <div class="ma-color-picker-preview" ng-click="!$ctrl.disabled && $ctrl.chooseColor($event)" role="button" tabindex="-1">
      <div class="ma-color-picker-result" ng-style="{'background-color': $ctrl.systemSetting.value}"></div>
    </div>
    <md-input-container flex class="ma-icon-inside">
        <label ma-tr="{{$ctrl.labelTr}}"></label>
        <input ng-model="$ctrl.systemSetting.value" ng-change="$ctrl.settingChanged()" ng-model-options="{debounce: {default: 1000, blur: 0}, updateOn : 'default blur'}" name="{{$ctrl.name}}" id="{{$ctrl.name}}" ng-disabled="$ctrl.disabled">
        <md-icon ng-show="$ctrl.saving || $ctrl.done || $ctrl.error" class="md-icon-button" ng-class="{'md-warn': $ctrl.error}">{{$ctrl.saving && 'sync' || $ctrl.done && 'done' || $ctrl.error && 'sync_problem' }}</md-icon>
        <div ng-messages="$ctrl.messages" md-auto-hide="false">
            <div ng-message="errorSaving" ma-tr="ui.app.errorSavingSetting"></div>
        </div>
    </md-input-container>
</div>
