a:not(.md-button) {
  color: {{getThemeColor('accent-500-1.0')}};
  border-bottom-color: {{getThemeColor('accent-500-0.2')}};
}

a:not(.md-button):hover,
a:not(.md-button):focus {
  color: {{getThemeColor('accent-700-1.0')}};
  border-bottom-color: {{getThemeColor('accent-700-1.0')}};
}

table.md-table.md-row-select tbody.md-body>tr.md-row.md-selected {
  background-color: {{getThemeColor('background-400-0.4')}} !important;
}

table.md-table.md-row-select tbody.md-body>tr.md-row:not([disabled]):hover {
  background-color: {{getThemeColor('background-400-0.6')}} !important;
}

table.md-table tbody.md-body>tr.md-row.blocked-thread {
  background-color: {{getThemeColor('background-400-0.6')}} !important;
}

mdp-calendar .md-button.md-raised:not(.md-accent) {
    background-color: {{getThemeColor('background-100-0.8')}} !important;
}

button, html, input, select, textarea, .ma-default-font {
  font-family: {{uiSettings.fonts.default}}, sans-serif;
}

p, .ma-paragraph-font {
  font-family: {{uiSettings.fonts.paragraph}}, sans-serif;
}

h1, h2, h3, h4, h5, h6, .ma-heading-font {
  font-family: {{uiSettings.fonts.heading}}, sans-serif;
}

pre, code, div.ace_editor, .ma-code-font {
  font-family: {{uiSettings.fonts.code}}, monospace;
}

code {
  background: {{getThemeColor('background-500-0.15')}};
}

md-input-container:not(.md-input-invalid).md-input-focused md-icon.md-accent {
  color: {{getThemeColor('accent')}};
}

md-input-container:not(.md-input-invalid).md-input-focused md-icon.md-warn {
  color: {{getThemeColor('warn')}};
}

ma-point-value[display-type=dateTime].ma-flash-on-change.ma-point-value-time-changed,
ma-point-value.ma-flash-on-change.ma-point-value-changed {
    color: {{getThemeColor('accent')}}
}

/* AmCharts */

.amcharts-gauge-arrow, .amcharts-gauge-arrow-nail {
    fill: {{getThemeColor('accent')}};
    stroke: {{getThemeColor('accent')}};
}

/* Data point details */

table.ma-point-values-table .ma-point-values-non-realtime tr.ma-point-value-cached {
  color: {{getThemeColor('warn')}}
}

/* Toast background color */
md-toast._md .md-toast-content {
	color: {{theme.isDark ? getThemeColor('background-A100-0.87') : getThemeColor('background-A200-0.87')}};
	background-color: {{getThemeColor('background-hue-3')}};
}

md-toast._md.md-warn .md-toast-content {
	background-color: {{getThemeColor('warn')}};
}

md-toast._md.md-primary .md-toast-content {
	background-color: {{getThemeColor('primary')}};
}

md-toast._md.md-accent .md-toast-content {
	background-color: {{getThemeColor('accent')}};
}

md-toast._md.md-warn .md-toast-content,
md-toast._md.md-primary .md-toast-content,
md-toast._md.md-accent .md-toast-content {
	color: {{getThemeColor('background-A100')}};
}

md-toast._md.md-warn .md-toast-content .md-button.md-highlight,
md-toast._md.md-primary .md-toast-content .md-button.md-highlight,
md-toast._md.md-accent .md-toast-content .md-button.md-highlight {
	color: {{getThemeColor('background-A100')}};
}

/* when hovering over a number on the clock */
.mdp-clock .mdp-clock-container > .md-button.md-icon-button.md-raised:hover,
.mdp-clock .mdp-clock-container > .md-button.md-icon-button.md-raised.md-primary:hover {
	background-color: {{getThemeColor('background-300')}};
	color: {{getThemeColor('background-A200-0.87')}};
}

/* the selected number on the clock */
.mdp-clock .mdp-clock-container > .md-button.md-icon-button.md-raised.md-primary {
	background-color: {{getThemeColor('accent')}};
	color: {{getThemeColor('background-A100-0.87')}};
}

/* the circle at the end of the clock pointer */
.mdp-clock .mdp-clock-container > .mdp-pointer > .mdp-clock-selected {
	background-color: {{getThemeColor('primary')}};
}

ma-ui-bulk-data-point-edit-page thead.ma-bulk-edit-controls tr.ma-bulk-edit-input-row th,
ma-ui-bulk-data-point-edit-page thead.ma-bulk-edit-controls tr.ma-bulk-edit-input-row th md-input-container label,
ma-ui-bulk-data-point-edit-page thead.ma-bulk-edit-controls tr.ma-bulk-edit-input-row th md-input-container md-select .md-select-value.md-select-placeholder {
	color: {{theme.isDark ? getThemeColor('background-A100-0.87') : getThemeColor('background-A200-0.87')}};
}

ma-ui-bulk-data-point-edit-page table.md-table td.md-cell.ma-cell-modified {
	background-color: {{getThemeColor('accent-hue-2-0.6')}};
}

ma-ui-bulk-data-point-edit-page table.md-table td.md-cell.ma-cell-error {
	color: {{getThemeColor('warn')}};
}

.ma-drag-over {
	border-color: {{getThemeColor('accent')}};
}
