<div ng-if="$ctrl.$state.params.event" class="ma-margin-bottom" layout layout-align="center center">
    <div md-colors="::{background: 'accent-hue-1'}" class="md-padding">
        <span ma-tr="ui.app.eventHandlersFiltered" ma-tr-args="[$ctrl.$state.params.event.message]"></span>
        <md-button class="md-icon-button ma-small-button ma-no-margin-right" ng-click="$ctrl.clearEventState()">
            <md-icon>clear</md-icon>
            <md-tooltip ma-tr="ui.app.showAllEventHandlers"></md-tooltip>
        </md-button>
    </div>
</div>

<div layout="column" layout-gt-md="row" layout-gt-lg="row" flex="noshrink">
    <md-card flex-gt-md="25" flex-gt-lg="20" layout="column">
        <md-toolbar class="md-hue-3">
            <div class="md-toolbar-tools">
                <span ma-tr="events.selectEventHandler"></span>
                <div flex></div>
                <md-button class="md-raised" ng-click="$ctrl.newEventHandler($event)" ng-if="!$ctrl.$mdMedia('gt-md')">
                    <md-icon>add</md-icon> <span ma-tr="ui.app.new"></span>
                    <md-tooltip><span ma-tr="events.createEventHandler"></span></md-tooltip>
                </md-button>
            </div>
        </md-toolbar>
    
        <md-card-content flex layout layout-align="start center" ng-if="!$ctrl.$mdMedia('gt-md')">
            <ma-event-handler-select flex layout ng-model="$ctrl.eventHandler" ng-change="$ctrl.eventHandlerChanged()"
                show-new-option="true" event="$ctrl.$state.params.event">
            </ma-event-handler-select>
        </md-card-content>
    
        <md-card-content flex class="ma-no-padding ma-scroll-parent" ng-if="$ctrl.$mdMedia('gt-md')">
            <ma-event-handler-list class="ma-scroll-child" flex layout="column" ng-model="$ctrl.eventHandler" ng-change="$ctrl.eventHandlerChanged()"
                event="$ctrl.$state.params.event">
            </ma-event-handler-list>
        </md-card-content>
    </md-card>

    <div flex>
        <md-card>
            <md-toolbar class="md-hue-3">
                <div class="md-toolbar-tools">
                    <span ng-if="!$ctrl.eventHandler.isNew()" ma-tr="events.editEventHandler"></span>
                    <span ng-if="$ctrl.eventHandler.isNew()" ma-tr="events.createEventHandler"></span>
                </div>
            </md-toolbar>
            <ma-event-handler-editor ng-model="$ctrl.eventHandler" ng-change="$ctrl.eventHandlerSaved()" confirm-discard="true"></ma-event-handler-editor>
        </md-card>
    </div>
</div>
