<md-input-container ng-if="$ctrl.showFilter" class="ma-filter" md-no-float>
    <input name="filter" ma-form-exclude ng-model="$ctrl.filter" ng-change="$ctrl.query()" ng-model-options="{debounce: 500}" ma-tr="ui.app.filter" tabindex="-1">
    <md-button ng-show="$ctrl.filter" class="ma-input-button md-icon-button" ng-click="$ctrl.clearFilter()">
        <md-icon>clear</md-icon>
    </md-button>
</md-input-container>
<div class="ma-option-list-container" role="listbox">
    <div role="option" md-ink-ripple ng-repeat="item in $ctrl.items track by $ctrl.itemId(item)"
            ng-click="$ctrl.select(item)"
            ng-class="{'ma-selected': $ctrl.isSelected(item)}"
            ng-attr-autofocus="{{$ctrl.isSelected(item) || undefined}}">
        <span ng-bind="item"></span>
    </div>
</div>
<div ng-if="!$ctrl.items.length" class="ma-option-list-no-items">
    <span ng-if="!$ctrl.queryPromise" ma-tr="ui.components.noItemsToList"></span>
    <span ng-if="$ctrl.queryPromise" ma-tr="ui.components.loadingItems"></span>
</div>
<div class="ma-option-list-loading" ng-if="$ctrl.queryPromise">
    <md-progress-linear></md-progress-linear>
</div>