ma-option-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

ma-option-list > .ma-option-list-container {
    overflow-y: auto;
}

ma-option-list > .ma-option-list-no-items {
    padding: 8px;
    font-style: italic;
    display: flex;
    justify-content: center;
}
