/* Stops the content of non-active tabs scrolling past on first load */ 
ma-data-point-editor md-tab-content:not(.md-active) * {
	visibility: hidden;
}

ma-data-point-editor .ma-dialog-actions > .md-button {
	margin: 0 4px;
}

ma-data-point-editor md-switch {
	margin-top: 0;
}

@media (min-width: 1280px) {
	ma-data-point-editor .ma-inputs-container > [flex-gt-md="50"] {
		max-width: calc(50% - 10px);
	}
}