<div layout="row" layout-wrap layout-align="space-between start" class="ma-inputs-container">
    <md-input-container flex="100" flex-gt-md="50">
        <md-icon>save</md-icon>
        <label ma-tr="pointEdit.logging.type"></label>
        <md-select name="loggingType" ng-model="$ctrl.dataPoint.loggingProperties.loggingType" required>
            <md-option ng-if="$ctrl.dataPoint.loggingProperties.loggingType.hasMultipleValues()" ng-value="$ctrl.dataPoint.loggingProperties.loggingType">
                <em ng-bind="$ctrl.dataPoint.loggingProperties.loggingType"></em>
            </md-option>
            <md-option ng-repeat="loggingType in $ctrl.loggingTypes track by loggingType.type" ng-value="loggingType.type">
                <span ma-tr="{{loggingType.translation}}"></span>
            </md-option>
        </md-select>
        <div ng-messages="loggingProperties.loggingType.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="loggingProperties.loggingType.validationMessage"></div>
        </div>
    </md-input-container>
    
    <md-input-container flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.loggingProperties.loggingType === 'ON_CHANGE' || $ctrl.dataPoint.loggingProperties.loggingType === 'ON_CHANGE_INTERVAL'">
        <md-icon>tune</md-icon>
        <label ma-tr="pointEdit.logging.tolerance"></label>
        <input name="tolerance" ng-model="$ctrl.dataPoint.loggingProperties.tolerance" required type="number" min="0">
        <div ng-messages="loggingProperties.tolerance.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="min" ma-tr="ui.app.minNumber" ma-tr-args="[0]"></div>
            <div ng-message="validationMessage" ng-bind="loggingProperties.tolerance.validationMessage"></div>
        </div>
    </md-input-container>
    
    <div flex="100" flex-gt-md="50" layout layout-align="start start"
            ng-if-start="$ctrl.dataPoint.loggingProperties.loggingType === 'INTERVAL' || $ctrl.dataPoint.loggingProperties.loggingType === 'ON_CHANGE_INTERVAL'">
        <md-input-container flex>
            <md-icon>av_timer</md-icon>
            <label ma-tr="pointEdit.logging.period"></label>
            <input name="intervalLoggingPeriod.periods" ng-model="$ctrl.dataPoint.loggingProperties.intervalLoggingPeriod.periods" required type="number" min="1" step="1">
            <div ng-messages="loggingProperties['intervalLoggingPeriod.periods'].$error">
                <div ng-message="required" ma-tr="ui.app.required"></div>
                <div ng-message="min" ma-tr="ui.app.minNumber" ma-tr-args="[1]"></div>
                <div ng-message="step" ma-tr="ui.app.wholeNumber"></div>
                <div ng-message="validationMessage" ng-bind="loggingProperties['intervalLoggingPeriod.periods'].validationMessage"></div>
            </div>
        </md-input-container>
        <md-input-container flex>
            <label ma-tr="pointEdit.logging.period"></label>
            <md-select name="intervalLoggingPeriod.periodType" ng-model="$ctrl.dataPoint.loggingProperties.intervalLoggingPeriod.periodType" required>
                <md-option ng-if="$ctrl.dataPoint.loggingProperties.intervalLoggingPeriod.periodType.hasMultipleValues()" ng-value="$ctrl.dataPoint.loggingProperties.intervalLoggingPeriod.periodType">
                    <em ng-bind="$ctrl.dataPoint.loggingProperties.intervalLoggingPeriod.periodType"></em>
                </md-option>
                <md-option ng-repeat="period in $ctrl.intervalLoggingPeriods track by period.type" ng-value="period.type">
                    <span ma-tr="{{period.translation}}"></span>
                </md-option>
            </md-select>
            <div ng-messages="loggingProperties['intervalLoggingPeriod.periodType'].$error">
                <div ng-message="required" ma-tr="ui.app.required"></div>
                <div ng-message="validationMessage" ng-bind="loggingProperties['intervalLoggingPeriod.periodType'].validationMessage"></div>
            </div>
        </md-input-container>
    </div>

    <md-input-container flex="100" flex-gt-md="50">
        <md-icon>build</md-icon>
        <label ma-tr="pointEdit.logging.valueType"></label>
        <md-select name="intervalLoggingType" ng-model="$ctrl.dataPoint.loggingProperties.intervalLoggingType" required>
            <md-option ng-if="$ctrl.dataPoint.loggingProperties.intervalLoggingType.hasMultipleValues()" ng-value="$ctrl.dataPoint.loggingProperties.intervalLoggingType">
                <em ng-bind="$ctrl.dataPoint.loggingProperties.intervalLoggingType"></em>
            </md-option>
            <md-option ng-repeat="valueType in $ctrl.intervalLoggingValueTypes track by valueType.type" ng-value="valueType.type">
                <span ma-tr="{{valueType.translation}}"></span>
            </md-option>
        </md-select>
        <div ng-messages="loggingProperties.intervalLoggingType.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="loggingProperties.intervalLoggingType.validationMessage"></div>
        </div>
    </md-input-container>
    
    <md-input-container flex="100" flex-gt-md="50" ng-if="$ctrl.allowSampleWindow.includes($ctrl.dataPoint.loggingProperties.intervalLoggingType) || $ctrl.dataPoint.loggingProperties.overrideIntervalLoggingSamples">
        <md-icon>aspect_ratio</md-icon>
        <label ma-tr="pointEdit.props.intervalLoggingSampleWindowSize"></label>
        <input name="intervalLoggingSampleWindowSize" ng-model="$ctrl.dataPoint.loggingProperties.intervalLoggingSampleWindowSize" type="number" required>
        <div ng-messages="loggingProperties.intervalLoggingSampleWindowSize.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="loggingProperties.intervalLoggingSampleWindowSize.validationMessage"></div>
        </div>
    </md-input-container>
    
    <div flex="100" ng-if="$ctrl.dataPoint.loggingProperties.intervalLoggingType === 'AVERAGE'" ng-if-end>
        <md-checkbox class="ma-input-container-height" name="overrideIntervalLoggingSamples" ng-model="$ctrl.dataPoint.loggingProperties.overrideIntervalLoggingSamples">
            <span ma-tr="pointEdit.props.overrideIntervalLoggingSamples"></span>
        </md-checkbox>
    </div>
</div>

<div ng-if="$ctrl.dataPoint.dataType === 'NUMERIC'">
    <md-checkbox class="ma-input-container-height" name="discardExtremeValues" ng-model="$ctrl.dataPoint.loggingProperties.discardExtremeValues">
        <span ma-tr="pointEdit.logging.discard"></span>
    </md-checkbox>
</div>

<div layout="row" layout-wrap layout-align="space-between start" class="ma-inputs-container"
        ng-if="$ctrl.dataPoint.dataType === 'NUMERIC' && $ctrl.dataPoint.loggingProperties.discardExtremeValues">
    <md-input-container flex="100" flex-gt-md="50">
        <md-icon>vertical_align_bottom</md-icon>
        <label ma-tr="pointEdit.logging.discardLow"></label>
        <input name="discardLowLimit" ng-model="$ctrl.dataPoint.loggingProperties.discardLowLimit" type="number" required
                ma-less-than="{{$ctrl.dataPoint.loggingProperties.discardHighLimit}}">
        <div ng-messages="loggingProperties.discardLowLimit.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="lessThan" ma-tr="ui.app.lessThan" ma-tr-args="[$ctrl.dataPoint.loggingProperties.discardHighLimit]"></div>
            <div ng-message="validationMessage" ng-bind="loggingProperties.discardLowLimit.validationMessage"></div>
        </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-md="50">
        <md-icon>vertical_align_top</md-icon>
        <label ma-tr="pointEdit.logging.discardHigh"></label>
        <input name="discardHighLimit" ng-model="$ctrl.dataPoint.loggingProperties.discardHighLimit" type="number" required
                ma-greater-than="{{$ctrl.dataPoint.loggingProperties.discardLowLimit}}">
        <div ng-messages="loggingProperties.discardHighLimit.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="greaterThan" ma-tr="ui.app.greaterThan" ma-tr-args="[$ctrl.dataPoint.loggingProperties.discardLowLimit]"></div>
            <div ng-message="validationMessage" ng-bind="loggingProperties.discardHighLimit.validationMessage"></div>
        </div>
    </md-input-container>
</div>
