<h3 ma-tr="dsEdit.latestPollTimes"></h3>
<md-table-container>
    <table md-table md-progress="$ctrl.promise">
        <thead md-head md-order="$ctrl.order">
            <tr md-row>
                <th md-column md-order-by="startTime" ma-tr="dsEdit.pollStartTime"></th>
                <th md-column md-order-by="duration" ma-tr="dsEdit.pollDuration"></th>
                <th md-column md-order-by="aborted" ma-tr="event.ds.pollAborted"></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="poll in $ctrl.status.latestPolls | orderBy:$ctrl.order track by $index">
                <td md-cell ng-bind="poll.startTime | maDate:'shortDateTimeSeconds'"></td>
                <td md-cell ng-bind="poll.duration"></td>
                <td md-cell><em ng-if="poll.aborted" ma-tr="event.ds.pollAborted" class="ma-error-text"></em></td>
            </tr>
        </tbody>
    </table>
</md-table-container>

<h3 ma-tr="dsEdit.latestAbortedPollTimes"></h3>
<em ng-if="!$ctrl.status.latestAbortedPolls.length" ma-tr="dsEdit.noAbortedPolls"></em>
<md-table-container ng-if="$ctrl.status.latestAbortedPolls.length">
    <table md-table md-progress="$ctrl.promise">
        <thead md-head md-order="$ctrl.order">
            <tr md-row>
                <th md-column md-order-by="startTime | maDate:'shortDateTimeSeconds'" ma-tr="dsEdit.pollStartTime"></th>
                <th md-column md-order-by="duration" ma-tr="dsEdit.pollDuration"></th>
                <th md-column md-order-by="aborted" ma-tr="event.ds.pollAborted"></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="poll in $ctrl.status.latestAbortedPolls | orderBy:$ctrl.order track by $index">
                <td md-cell ng-bind="poll.startTime"></td>
                <td md-cell ng-bind="poll.duration"></td>
                <td md-cell><em ng-if="poll.aborted" ma-tr="event.ds.pollAborted" class="ma-error-text"></em></td>
            </tr>
        </tbody>
    </table>
</md-table-container>