<md-input-container md-no-float="$ctrl.noFloat" flex>
    <label ng-if="!$ctrl.noFloat" ng-transclude="label"><span ma-tr="ui.components.selectTagValue" ma-tr-args="[$ctrl.key]"></span></label>
    <ma-drop-down-button>
        <span ng-if="$ctrl.selectedText" ng-bind="$ctrl.selectedText"></span>
        <span ng-if="!$ctrl.selectedText">
            <span ng-if="$ctrl.multiple && $ctrl.selected.length" ng-bind="$ctrl.selected.join(', ')"></span>
            <span ng-if="!$ctrl.multiple && $ctrl.selected != null" ng-bind="$ctrl.selected"></span>
        </span>
        <ma-drop-down auto-focus="::false" class="ma-full-screen-centered" ng-disabled="$ctrl.disabled"
                      on-open="$ctrl.onOpen()" on-close="$ctrl.onClose()">
            <ma-option-list ma-form-exclude ma-configure-input-container
                            ng-model="$ctrl.selected" ng-change="$ctrl.inputChanged()"
                            ng-multiple="$ctrl.multiple" ng-required="$ctrl.required" ng-disabled="$ctrl.disabled"
                            items="$ctrl.doQuery($filter)" reload-items="$ctrl.reloadItems"
                            filter-changed="$ctrl.filterChanged($filter, $inOptions)"
                            filter-placeholder="{{$ctrl.filterPlaceholder}}"
                            query-on-open="$ctrl.queryOnOpen">
                <ma-option ng-if="!$ctrl.multiple && !$ctrl.required" ng-value="undefined"><em ma-tr="ui.app.any"></em></ma-option>
                <ma-option ng-if="$ctrl.editMode && $ctrl.addNewValue" ng-value="$ctrl.addNewValue">
                    <span class="ma-ellipsis">
                        <span ng-bind="$ctrl.addNewValue"></span> (<em ma-tr="ui.components.newTagValue"></em>)
                    </span>
                </ma-option>
                <ma-option ng-repeat="value in $items" ng-value="value">
                    <md-icon ng-if="$multiple" class="ma-selected-show">check</md-icon>
                    <span class="ma-ellipsis" md-highlight-text="$filter" md-highlight-flags="ig">{{value}}</span>
                </ma-option>
            </ma-option-list>
        </ma-drop-down>
    </ma-drop-down-button>
</md-input-container>
