<div class="ma-heat-map-container">
    <div class="ma-heat-map-y-axis">
        <div class="ma-heat-map-axis-label" ng-repeat="y in $ctrl.yAxis track by y.timestamp" ng-bind="y.label" ng-style="y.style"></div>
    </div>
    <div class="ma-heat-map-x-axis">
        <div class="ma-heat-map-axis-label" ng-repeat="x in $ctrl.columns track by x.timestamp" ng-bind="x.label" ng-style="x.style"></div>
    </div>
    <div ng-repeat="col in $ctrl.columns track by col.timestamp" class="ma-heat-map-column">
        <div ng-repeat="row in col.rows track by col.timestamp + '' + row.pointValue.timestamp"
            class="ma-heat-map-row" ng-style="::row.style"
            title="{{::row.title}}">
        </div>
    </div>
</div>

<div ng-if="$ctrl.showLegend" class="ma-heat-map-legend">
    <div class="ma-heat-map-legend-cell" ng-repeat="v in $ctrl.legend" ng-style="{'background-color': $ctrl.getColorScaled(v)}"></div>
</div>
