<svg width="1600" height="600">
    <g class="ma-heat-map-graph"></g>
    <g class="ma-heat-map-x-axis"></g>
    <g class="ma-heat-map-y-axis"></g>
    <g class="ma-heat-map-tooltip" style="opacity: 0; pointer-events: none;">
        <rect fill="black" stroke="currentColor" rx="5" ry="5" x="10" y="10"></rect>
        <text fill="currentColor" y="15">
            <tspan class="ma-heat-map-tooltip-time" x="15" dy="1em"></tspan>
            <tspan class="ma-heat-map-tooltip-value" x="15" dy="1em"></tspan>
        </text>
    </g>
</svg>