/* Table Component */

.watchlist-main md-table-container {
    padding-bottom: 10px;
}

.watchlist-main .md-toolbar-tools.mobile h2 {
    line-height: 18px;
    font-size: 16px;
}
.watchlist-main md-toolbar.md-table-toolbar form > input:focus {
    outline: none;
}
.watchlist-main md-toolbar.md-table-toolbar form > input {
    width: 100%;
    margin-left: 16px;
    border: none;
}
.watchlist-main th.md-checkbox-column > md-checkbox {
    display: none;
}
.watchlist-main table.md-table:not(.desktop) td.md-cell, .watchlist-main table.md-table:not(.desktop) th.md-column {
    padding: 0 4px 0 4px !important;
}
.watchlist-main table.md-table:not(.desktop) td.md-cell, .watchlist-main table.md-table:not(.desktop) th.md-column {
    font-size: 1.1rem;
}
.watchlist-main table.md-table:not(.desktop)  td.md-cell.icons {
    font-size: 1.5rem;
}
.watchlist-main table.md-table td.md-cell i {
    color: rgb(0,173,239);
}
.watchlist-main table.md-table td.md-cell i.alternate {
    color: rgb(0,173,239);
}
.watchlist-main table.md-table td.md-cell {
    transition: color 0.2s;
}

.watchlist-main table.md-table td.md-cell.flash-on-change {
    color: rgb(255,133,0);
}

.watchlist-main .md-table-pagination {
  border: 0;
}

/* Pagination mobile fixes*/
.watchlist-main .md-table-pagination,
.watch-list-stats-dialog .md-table-pagination {
    padding: 0 10px 0 0;
}
.watchlist-main .md-table-pagination md-select,
.watch-list-stats-dialog .md-table-pagination md-select {
    min-width: 40px;
}
.watchlist-main .md-table-pagination > .buttons > .label + .md-button.md-icon-button,
.watch-list-stats-dialog .md-table-pagination > .buttons > .label + .md-button.md-icon-button {
    margin-left: 10px;
}

.watchlist-2-pane .watchlist-main {
 	margin-left: 16px;
}

.watchlist-main md-card {
  margin-left: 0;
  margin-right: 0;
}

.watchlist-main md-card:first-child {
  margin-top: 0;
}

.watchlist-main md-card:last-child {
  margin-bottom: 0;
}

ma-ui-watch-list-page .watch-list-back.md-button {
  margin-left: 0;
  margin-right: 0;
}

ma-ui-watch-list-page ma-watch-list-chart {
  height: 400px;
  width: 100%;
}
ma-ui-watch-list-page ma-watch-list-chart path.amcharts-graph-stroke {
    stroke-width: 2.5px;
    stroke-opacity: .7;
}
ma-ui-watch-list-page ma-watch-list-chart path.amcharts-graph-fill {
    fill-opacity: 0.5;
}

ma-ui-watch-list-page ma-watch-list-parameters md-input-container {
  margin-bottom: 0;
}

/* md-autocomplete must have the margin at the bottom or the drop down shows up covering the input */
ma-ui-watch-list-page ma-watch-list-parameters md-autocomplete md-input-container {
  margin-bottom: 18px;
}

ma-ui-watch-list-page .md-table-pagination > * {
  height: 32px;
}

ma-ui-watch-list-page ma-point-value img {
	max-width: 200px;
	max-height: 200px;
}

ma-ui-watch-list-page ma-point-value > md-fab-speed-dial[md-direction=right] {
	top: -5px;
}
