<form name="$ctrl.form" novalidate>
    <div layout="column">
        <div class="already-logged-in" ng-if="!$ctrl.loggingIn && $ctrl.maUser.current" ng-transclude="loggedIn">
            <span ma-tr="login.aleadyLoggedIn" ma-tr-args="[$ctrl.maUser.current.username]"></span>
            <a ui-sref="ui.dataPointDetails" ma-tr="login.ui.goToUI"></a>
        </div>
    	<md-input-container class="md-icon-float md-block">
            <label ma-tr="login.userId"></label>
            <md-icon>person</md-icon>
            <input name="username" ng-model="$ctrl.username" type="text" autofocus ma-autofocus tabindex="1"
                    ng-change="$ctrl.resetServerErrors()" required md-no-asterisk>
            <div ng-messages="$ctrl.form.username.$error">
                <div ng-message="required" ma-tr="login.validation.noUsername"></div>
            </div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
            <label ma-tr="login.password"></label>
            <md-icon>vpn_key</md-icon>
            <input name="password" ng-model="$ctrl.password" type="password" tabindex="2"
                    ng-change="$ctrl.resetServerErrors()" required md-no-asterisk>
            <div ng-messages="$ctrl.form.password.$error">
                <div ng-message="required" ma-tr="login.validation.noPassword"></div>
            </div>
        </md-input-container>
        <div ng-messages="$ctrl.errors" md-colors="{color: 'warn'}">
            <div ng-message="invalidLogin" ma-tr="login.ui.loginFailed" ma-tr-args="[$ctrl.invalidLoginMessage]"></div>
            <div ng-message="otherError" ma-tr="login.error" ma-tr-args="[$ctrl.errors.otherError]"></div>
        </div>
    </div>
    <div layout="row" layout-align="start center" class="ma-action-buttons">
        <div ng-transclude="links" layout="column">
            <a ng-if="$ctrl.publicRegistrationEnabled" ui-sref="verifyEmail" tabindex="5" ma-tr="login.emailVerification.registerNewUser"></a>
            <a ui-sref="forgotPassword({username: username})" tabindex="4" ma-tr="login.forgotYourPassword"></a>
        </div>
        <div flex></div>
        <md-button type="submit" ng-click="$ctrl.doLogin()" ng-disabled="$ctrl.loggingIn" tabindex="3"
                ma-tr="login.loginButton" class="md-accent md-raised" aria-label="{{'login.loginButton'|maTr}}"></md-button>
    </div>
</form>