<div layout layout-align="space-between center">
    <div flex></div>
    <div flex ng-repeat="minterm in $ctrl.minterms track by minterm.id">
        <span ng-bind="minterm.label"></span>
        <md-button class="md-icon-button ma-small-button" ng-click="$ctrl.removeColumn(minterm)">
            <md-icon>remove_circle_outline</md-icon>
            <md-tooltip><span ma-tr="ui.permissions.hideColumn"></span></md-tooltip>
        </md-button>
    </div>
    <div flex ma-tr="ui.permissions.otherRolesWithAccess"></div>
</div>
<div ng-transclude></div>