ma-permission-editor-container {
    display: block;
    overflow: auto;
    padding-bottom: 8px;
}

ma-permission-editor-container .ma-permission-editor-row {
    min-height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ma-permission-editor-container .ma-permission-editor-header {
    align-items: flex-end;
}

ma-permission-editor-container .ma-permission-editor-row > div {
    display: flex;
    width: 200px;
    flex-shrink: 0;
    flex-grow: 2;
    padding: 8px;
}

ma-permission-editor-container .ma-permission-editor-row > div.ma-permission-editor-checkbox-column {
    width: 100px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

ma-permission-editor-container .ma-permission-editor-header > div.ma-permission-editor-checkbox-column {
    flex-direction: column;
    text-align: center;
}

ma-permission-editor-container .ma-permission-editor-header {
    font-weight: bold;
}

.ma-permission-editor-container-role-selector md-switch,
.ma-permission-editor-container-role-selector md-switch:last-of-type {
    margin: 8px 8px 0;
}

ma-permission-editor-container md-input-container.ma-filter {
    margin-left: 0;
    margin-right: 0;
}
