<div layout layout-align="space-between center">
    <div flex></div>
    <div flex ng-repeat="column in $ctrl.columns track by column.id">
        <span ng-bind="column.label"></span>
        <md-button class="md-icon-button ma-small-button" ng-click="$ctrl.removeColumn(column.minterm)">
            <md-icon>visibility_off</md-icon>
            <md-tooltip><span ma-tr="ui.permissions.hideColumn"></span></md-tooltip>
        </md-button>
    </div>
    <div flex ma-tr="ui.permissions.otherRolesWithAccess"></div>
</div>
<div ng-transclude></div>