<ma-json-store xid="allChartReports" item="$ctrl.allChartReportsItem" value="$ctrl.allChartReports"></ma-json-store>
<ma-json-store xid="executiveReports" item="$ctrl.executiveReportsItem" value="$ctrl.executiveReports"></ma-json-store>
<ma-json-store xid="{{$ctrl.selectedExecutiveReport.uid}}" item="$ctrl.executiveReportListItem" value="$ctrl.executiveReportList"></ma-json-store>

<div layout="row" layout-align="start center">
    <md-input-container flex>
        <label>Choose an Exectuive Report</label>
        <md-select ng-model="$ctrl.selectedExecutiveReport" ng-model-options="{trackBy: '$value.uid'}" ng-disabled="!$ctrl.localExecutiveReportList.reports.length" ng-change="$ctrl.reportChanged()">
            <md-option ng-repeat="report in $ctrl.localExecutiveReportList.reports track by report.uid" ng-value="report" ng-bind="report.name"></md-option>
        </md-select>
    </md-input-container>

    <md-input-container flex>
        <label ma-tr="dashboards.v3.app.name"></label>
        <input ng-disabled="!$ctrl.localExecutiveReportList.reports.length" ng-model="$ctrl.selectedExecutiveReport.name" md-select-on-focus id="executive-report-name-input">
    </md-input-container>

    <md-input-container flex>
        <label>Select a Report to Add</label>
        <md-select ng-disabled="!$ctrl.localExecutiveReportList.reports.length" ng-model="$ctrl.selectedChartReports" ng-model-options="{trackBy: '$value.xid'}" multiple>
            <md-option ng-repeat="report in $ctrl.allChartReports.reports track by report.xid" ng-value="report" ng-bind="report.name"></md-option>
        </md-select>
    </md-input-container>

    <md-input-container flex>
      <label ma-tr="dashboards.v3.app.readPermission"></label>
      <input ng-disabled="!$ctrl.localExecutiveReportList.reports.length" ng-model="$ctrl.selectedExecutiveReport.readPermission" md-select-on-focus>
    </md-input-container>

    <md-button class="md-raised md-primy md-hue-1" ng-disabled="!$ctrl.selectedExecutiveReport.name || !$ctrl.selectedChartReports.length || !$ctrl.localExecutiveReportList.reports.length" 
    ng-click="$ctrl.saveExecutiveReport()">
        <md-icon>save</md-icon>
        <span ma-tr="common.save"></span>
    </md-button>
    <md-button class="md-raised md-warn" ng-disabled="!$ctrl.selectedExecutiveReport" ng-click="$ctrl.deleteExecutiveReport()">
        <md-icon>delete</md-icon>
        <span ma-tr="common.delete"></span>
    </md-button>
    <md-button class="md-raised md-accent" ng-click="$ctrl.addExecutiveReport()">
        <md-icon>add</md-icon>
        <span>New Exceutive Report</span>
    </md-button>
</div>