<form flex layout="column" name="$ctrl.form" ma-validation-messages="$ctrl.validationMessages" layout-wrap>
    <div flex layout layout-align="end center" class="ma-margin-bottom">
        <md-button class="md-raised md-primary" ng-click="$ctrl.save($event)">
            <md-icon>save</md-icon> <span ma-tr="common.save"></span>
        </md-button>
        <md-button class="md-raised md-warn" ng-click="$ctrl.delete($event)" ng-disabled="!$ctrl.form.$valid && !$ctrl.form.$touched">
            <md-icon>delete</md-icon> <span ma-tr="common.delete"></span>
        </md-button>
        <md-button  ng-click="$ctrl.cancel($event)">
            <md-icon>cancel</md-icon> <span ma-tr="common.cancel"></span>
        </md-button>
    </div>

    <div flex layout="row" layout-align="space-between top" layout-wrap>
        <md-input-container flex="100" flex-gt-sm="45" class="ma-input-space-between">
            <label ma-tr="common.xid"></label>
            <input name="xid" ng-model="$ctrl.virtualSerialPort.xid" required>
            <div ng-messages="$ctrl.form.xid.$error">
                <div ng-message="required" ma-tr="ui.app.required"></div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-sm="45" class="ma-input-space-between">
            <label ma-tr="systemSettings.comm.virtual.serialClientSocketBridgeSettings.commPortId"></label>
            <input name="portName" ng-model="$ctrl.virtualSerialPort.portName" required>
            <div ng-messages="$ctrl.form.portName.$error">
                <div ng-message="required" ma-tr="ui.app.required"></div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-sm="45" class="ma-input-space-between" ng-if="$ctrl.virtualSerialPort.portType !== 'SERIAL_SERVER_SOCKET_BRIDGE'">
            <label ma-tr="systemSettings.comm.virtual.serialClientSocketBridgeSettings.address"></label>
            <input name="address" ng-model="$ctrl.virtualSerialPort.address" required>
            <div ng-messages="$ctrl.form.address.$error">
                <div ng-message="required" ma-tr="ui.app.required"></div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-sm="45" class="ma-input-space-between">
            <label ma-tr="systemSettings.comm.virtual.serialClientSocketBridgeSettings.port"></label>
            <input name="port" ng-model="$ctrl.virtualSerialPort.port" type="number" required>
            <div ng-messages="$ctrl.form.port.$error">
                <div ng-message="required" ma-tr="ui.app.required"></div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-sm="45" class="ma-input-space-between">
            <label ma-tr="systemSettings.comm.virtual.serialPorts.types"></label>
            <md-select name="portType" ng-model="$ctrl.virtualSerialPort.portType" required>
                <md-option value="SERIAL_SOCKET_BRIDGE" ma-tr="systemSettings.comm.virtual.serialPorts.types.serialClientSocketBridge"></md-option>
                <md-option value="SERIAL_SERVER_SOCKET_BRIDGE" ma-tr="systemSettings.comm.virtual.serialPorts.types.serialServerSocketBridge"></md-option>
            </md-select>
            <div ng-messages="$ctrl.interfaceForm.ipv4AddressingType[$index].$error">
                <div ng-message="required" ma-tr="ui.app.required"></div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-sm="45" class="ma-input-space-between" ng-if="$ctrl.virtualSerialPort.portType === 'SERIAL_SERVER_SOCKET_BRIDGE'">
            <label ma-tr="systemSettings.comm.virtual.serialServerSocketBridgeSettings.bufferSize"></label>
            <input name="port" ng-model="$ctrl.virtualSerialPort.bufferSize" type="number" required>
            <div ng-messages="$ctrl.form.port.$error">
                <div ng-message="required" ma-tr="ui.app.required"></div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-sm="45" class="ma-input-space-between">
            <label ma-tr="systemSettings.comm.virtual.serialClientSocketBridgeSettings.timeout"></label>
            <input name="port" ng-model="$ctrl.virtualSerialPort.timeout" type="number" required>
            <div ng-messages="$ctrl.form.port.$error">
                <div ng-message="required" ma-tr="ui.app.required"></div>
            </div>
        </md-input-container>
    </div>
</form>