ma-ui-admin-home-page md-card.ma-rounded-border {
    border-radius: 6px;
}

ma-ui-admin-home-page md-card.ma-rounded-border md-card-header {
    border-radius: 6px 6px 0 0;
}

ma-ui-admin-home-page md-card-header {
    background-color: var(--ma-primary-hue-2);
    color: var(--ma-primary-hue-2-contrast);
    padding-top: 8px;
    padding-bottom: 4px;
}

ma-ui-admin-home-page md-card-header > .md-button {
    border-radius: 20px;
    border: solid 2px currentColor;
}

ma-ui-admin-home-page .ma-ui-home-page-sub-text {
    color: var(--ma-foreground-3);
}

ma-ui-admin-home-page md-card > span > md-card-content > div ma-svg {
    width: 64px;
    height: 64px;
    margin-bottom: 12px;
}

ma-ui-admin-home-page .ma-server-details > div:not(:last-child) {
    margin-bottom: 12px;
}

ma-ui-admin-home-page .ma-sparkline-chart {
    height: 170px;
    width: 250px;
    margin: -20px -10px;
}

ma-ui-admin-home-page div > md-card.ma-info-card,
ma-ui-admin-home-page div > md-card.ma-detailed-info-card div md-card-content > div.ma-hover {
    border: 2px solid transparent !important;
    cursor: pointer;
    position: relative;
}

ma-ui-admin-home-page div > md-card.ma-info-card:hover,
ma-ui-admin-home-page div > md-card.ma-detailed-info-card div md-card-content > div.ma-hover:hover {
    border: 2px solid currentColor !important;
}

ma-ui-admin-home-page div > md-card.ma-info-card md-icon{
    font-size: 48px;
}

ma-ui-admin-home-page div > md-card.ma-info-card  div.ma-add {
    margin-left: auto;
    margin-bottom: auto;
    z-index: 1;
}

ma-ui-admin-home-page div > md-card.ma-info-card  div.ma-add > md-icon {
    font-size: 36px;
}

ma-ui-admin-home-page div > md-card.ma-info-card  div.ma-content > ma-point-value,
ma-ui-admin-home-page div > md-card.ma-detailed-info-card div md-card-content > div > div.ma-content > ma-point-value, 
ma-ui-admin-home-page div > md-card.ma-detailed-info-card div md-card-content > div > div.ma-content > div.ma-info-card-binded-value {
    font-size: 24px;
}

ma-ui-admin-home-page div > md-card.ma-detailed-info-card div md-card-content > div {
    padding: 0px 8px;
}

ma-ui-admin-home-page div > md-card.ma-detailed-info-card > md-card-header md-icon {
    font-size: 36px;
}

ma-ui-admin-home-page div > md-card.ma-detailed-info-card>div {
    position: relative;
}

ma-ui-admin-home-page .ma-watermark {
    position: absolute !important;
    bottom: 0px;
    right: 0px;
}
ma-ui-admin-home-page .ma-watermark > md-icon {
    font-size: 96px !important;
}

ma-ui-admin-home-page .ma-watermark.ma-big > md-icon {
    font-size: 216px !important;
}

ma-ui-admin-home-page .ma-redirect {
    border-radius: 5px;
    border: 2px solid transparent !important;
    z-index: 1;
}
ma-ui-admin-home-page .ma-redirect > div > ma-point-value {
    margin: 0px 8px;
}
ma-ui-admin-home-page .ma-redirect.ma-hover:hover {
    border: 2px solid currentColor !important;
    cursor: pointer;
}