<!-- <md-card>
    <div class="ma-ui-home-page-header" md-colors="{'background-color': 'primary'}" layout="row">
        <i class="fa fa-server" aria-hidden="true"></i>
        <h2 class="ma-ui-home-page-header ma-ui-home-page-text" ma-tr="ui.adminHome.serverStatus"></h2>
        <md-button class="ma-ui-home-page-header-action" ma-tr="ui.app.moreDetails" ui-sref="ui.settings.systemStatus"
            md-colors="{'color': 'primary-100', 'border-color': 'primary-100'}"></md-button>
    </div>
    <div class="ma-ui-home-page-content ma-ui-home-page-server-info-card" layout="column">
        <div class="ma-ui-home-page-section-1" md-colors="{'background-color': 'background-900'}" layout-xs="row"
            layout="column">
            <div class="ma-ui-home-page-dp">
                <div class="ma-ui-home-page-text" ng-bind="$ctrl.maUiServerInfo.serverTimezone"></div>
                <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}" ma-tr="users.timezone"></div>
            </div>
            <div class="ma-ui-home-page-dp">
                <ma-get-point-value point-xid="internal_mango_uptime_hrs" point="uptimePoint"></ma-get-point-value>
                <div class="ma-ui-home-page-text" ng-bind="(uptimePoint.value * 3600000) | maDuration:'humanize'"></div>
                <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}" ma-tr="ui.adminHome.uptime">
                </div>
            </div>
            <div class="ma-ui-home-page-dp">
                <div class="ma-ui-home-page-text" ng-bind="$ctrl.maUiServerInfo.coreLicenseType"></div>
                <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}" ma-tr="modules.licenseType">
                </div>
            </div>
        </div>
        <div class="ma-ui-home-page-section-2 ma-ui-home-page-server" md-colors="{'background-color': 'background-800'}"
            layout="row" layout-align="space-around center">
            <div class="ma-ui-home-page-dp">
                <ma-svg ng-include="$ctrl.sqlSvg" md-colors="{'color': 'primary-200'}">
                </ma-svg>
                <div>
                    <ma-point-value point-xid="internal_mango_sql_db_size"></ma-point-value>
                    <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}"
                        ma-tr="systemInfo.databaseSizeDesc"></div>
                </div>
            </div>
            <div class="ma-ui-home-page-dp">
                <ma-svg ng-include="$ctrl.noSqlSvg" md-colors="{'color': 'primary-200'}">
                </ma-svg>
                <div>
                    <ma-point-value point-xid="internal_mango_no_sql_db_size" class="ma-ui-home-page-text">
                    </ma-point-value>
                    <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}"
                        ma-tr="systemSettings.noSqlDatabaseSize"></div>
                </div>
            </div>
            <div class="ma-ui-home-page-dp">
                <ma-svg ng-include="$ctrl.diskspaceSvg" md-colors="{'color': 'primary-200'}" class="ma-smaller-icon">
                </ma-svg>
                <div>
                    <ma-get-point-value point-xid="internal_mango_disk_used_space" point="usedDiskSpace">
                    </ma-get-point-value>
                    <ma-get-point-value point-xid="internal_mango_disk_total_space" point="totalDiskSpace">
                    </ma-get-point-value>
                    <div layout-gt-lg="row" layout-xs="row" layout="column">
                        <div class="ma-ui-home-page-text" ng-bind="usedDiskSpace.renderedValue"></div>
                        <div class="ma-ui-home-page-text" ng-bind="' / ' + totalDiskSpace.renderedValue"></div>
                    </div>
                    <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}"
                        ma-tr="ui.adminHome.diskSpace"></div>
                </div>
            </div>
        </div>
        <div class="ma-ui-home-page-section-3 ma-ui-home-page-server" md-colors="{'background-color': 'background-300'}"
            layout="row" layout-align="space-around center">
            <div class="ma-ui-home-page-dp">
                <ma-svg ng-include="$ctrl.ramSvg" md-colors="{'color': 'primary-200'}" class="ma-bigger-icon"></ma-svg>
                <div>
                    <ma-point-value point-xid="internal_jvm_used_memory" class="ma-ui-home-page-text"></ma-point-value>
                    &#47;
                    <ma-point-value point-xid="internal_jvm_max_memory" class="ma-ui-home-page-text"></ma-point-value>
                    <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}"
                        ma-tr="java.monitor.JAVA_FREE_MEMORY"></div>
                </div>
            </div>
            <div class="ma-ui-home-page-dp">
                <ma-svg ng-include="$ctrl.cpuloadSvg" md-colors="{'color': 'primary-200'}" class="ma-bigger-icon">
                </ma-svg>
                <div>
                    <ma-point-value point-xid="internal_cpu_process_load" class="ma-ui-home-page-text"></ma-point-value>
                    &#47;
                    <ma-point-value point-xid="internal_cpu_system_load" class="ma-ui-home-page-text"></ma-point-value>
                    <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}"
                        ma-tr="ui.adminHome.cpuLoad"></div>
                </div>
            </div>
            <div class="ma-ui-home-page-dp graph">
                <ma-get-point-value point-xid="internal_cpu_system_load" point="cpuLoad"></ma-get-point-value>
                <ma-get-point-value point-xid="internal_jvm_used_memory" point="freeRam"></ma-get-point-value>
                <ma-point-values point="cpuLoad" values="cpuLoadValues" from="$ctrl.maUiDateBar.from"
                    to="$ctrl.maUiDateBar.to" rollup="{{$ctrl.maUiDateBar.rollupType}}"
                    rollup-interval="{{$ctrl.maUiDateBar.rollupIntervals}} {{$ctrl.maUiDateBar.rollupIntervalPeriod}}">
                </ma-point-values>
                <ma-point-values point="freeRam" values="freeRamValues" from="$ctrl.maUiDateBar.from"
                    to="$ctrl.maUiDateBar.to" rollup="{{$ctrl.maUiDateBar.rollupType}}"
                    rollup-interval="{{$ctrl.maUiDateBar.rollupIntervals}} {{$ctrl.maUiDateBar.rollupIntervalPeriod}}">
                </ma-point-values>
                <ma-serial-chart class="ma-sparkline-chart" style="height: 170px; width: 300px"
                    series-1-values="cpuLoadValues" series-1-point="cpuLoad" series-1-type="smoothedLine"
                    series-1-color="#6effa3" series-2-values="freeRamValues" series-2-point="freeRam"
                    series-2-type="smoothedLine" series-2-color="#49abd0" series-2-axis="right" balloon="true"
                    options="{autoMargins: false, categoryAxis:{labelsEnabled:false, gridAlpha: 0, axisAlpha: 0}}">
                </ma-serial-chart>
            </div>
        </div>
    </div>
</md-card> -->

<md-card>
    <md-card-header md-colors="{'background-color': 'primary'}" layout layout-align="space-between center">
        <span layout layout-align="center center">
            <i class="fa fa-server fa-2x" aria-hidden="true" layout-padding></i>
            <h3 ma-tr="ui.adminHome.serverStatus"></h3>
        </span>
        <md-button ma-tr="ui.app.moreDetails" ui-sref="ui.settings.systemStatus"
            md-colors="{'color': 'primary-100', 'border-color': 'primary-100'}"></md-button>
    </md-card-header>
    <span layout="column" layout-gt-sm="row" layout-wrap>
        <md-card-content layout-xs="column" layout-sm="row" layout="column" layout-align="space-between stretch"
            layout-align-gt-sm="start start" layout-margin md-colors="{'background-color': 'background-hue-1'}">
            <div>
                <div ng-bind="$ctrl.maUiServerInfo.serverTimezone"></div>
                <div md-colors="{'color': 'primary-200'}" ma-tr="users.timezone"></div>
            </div>
            <div>
                <ma-get-point-value point-xid="internal_mango_uptime_hrs" point="uptimePoint"></ma-get-point-value>
                <div ng-bind="(uptimePoint.value * 3600000) | maDuration:'humanize'"></div>
                <div md-colors="{'color': 'primary-200'}" ma-tr="ui.adminHome.uptime">
                </div>
            </div>
            <div>
                <div ng-bind="$ctrl.maUiServerInfo.coreLicenseType"></div>
                <div md-colors="{'color': 'primary-200'}" ma-tr="modules.licenseType">
                </div>
            </div>
        </md-card-content>
        <md-card-content layout-xs="column" layout="row" layout-align="space-between stretch"
            layout-align-gt-sm="space-between center" flex md-colors="{'background-color': 'background'}">
            <div layout-margin>
                <ma-svg ng-include="$ctrl.sqlSvg" md-colors="{'color': 'primary-200'}">
                </ma-svg>
                <div>
                    <ma-point-value point-xid="internal_mango_sql_db_size"></ma-point-value>
                    <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}"
                        ma-tr="systemInfo.databaseSizeDesc"></div>
                </div>
            </div>
            <div layout-margin>
                <ma-svg ng-include="$ctrl.noSqlSvg" md-colors="{'color': 'primary-200'}">
                </ma-svg>
                <div>
                    <ma-point-value point-xid="internal_mango_no_sql_db_size" class="ma-ui-home-page-text">
                    </ma-point-value>
                    <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}"
                        ma-tr="systemSettings.noSqlDatabaseSize"></div>
                </div>
            </div>
            <div layout-margin>
                <ma-svg ng-include="$ctrl.diskspaceSvg" md-colors="{'color': 'primary-200'}" class="ma-smaller-icon">
                </ma-svg>
                <div>
                    <ma-get-point-value point-xid="internal_mango_disk_used_space" point="usedDiskSpace">
                    </ma-get-point-value>
                    <ma-get-point-value point-xid="internal_mango_disk_total_space" point="totalDiskSpace">
                    </ma-get-point-value>
                    <div layout-gt-lg="row" layout-xs="row" layout="column">
                        <div class="ma-ui-home-page-text" ng-bind="usedDiskSpace.renderedValue"></div>
                        <div class="ma-ui-home-page-text" ng-bind="' / ' + totalDiskSpace.renderedValue"></div>
                    </div>
                    <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}"
                        ma-tr="ui.adminHome.diskSpace"></div>
                </div>
            </div>
        </md-card-content>
        <md-card-content layout-xs="column" layout="row" layout-align="space-between stretch"
            layout-align-gt-sm="space-between center" flex flex-md="100"
            md-colors="{'background-color': 'background-hue-2'}">
            <div layout-margin>
                <ma-svg ng-include="$ctrl.ramSvg" md-colors="{'color': 'primary-200'}" class="ma-bigger-icon"></ma-svg>
                <div>
                    <ma-point-value point-xid="internal_jvm_used_memory" class="ma-ui-home-page-text"></ma-point-value>
                    &#47;
                    <ma-point-value point-xid="internal_jvm_max_memory" class="ma-ui-home-page-text"></ma-point-value>
                    <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}"
                        ma-tr="java.monitor.JAVA_FREE_MEMORY"></div>
                </div>
            </div>
            <div layout-margin>
                <ma-svg ng-include="$ctrl.cpuloadSvg" md-colors="{'color': 'primary-200'}" class="ma-bigger-icon">
                </ma-svg>
                <div>
                    <ma-point-value point-xid="internal_cpu_process_load" class="ma-ui-home-page-text"></ma-point-value>
                    &#47;
                    <ma-point-value point-xid="internal_cpu_system_load" class="ma-ui-home-page-text"></ma-point-value>
                    <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}"
                        ma-tr="ui.adminHome.cpuLoad"></div>
                </div>
            </div>
            <div class="graph" layout-margin>
                <ma-get-point-value point-xid="internal_cpu_system_load" point="cpuLoad"></ma-get-point-value>
                <ma-get-point-value point-xid="internal_jvm_used_memory" point="freeRam"></ma-get-point-value>
                <ma-point-values point="cpuLoad" values="cpuLoadValues" from="$ctrl.maUiDateBar.from"
                    to="$ctrl.maUiDateBar.to" rollup="{{$ctrl.maUiDateBar.rollupType}}"
                    rollup-interval="{{$ctrl.maUiDateBar.rollupIntervals}} {{$ctrl.maUiDateBar.rollupIntervalPeriod}}">
                </ma-point-values>
                <ma-point-values point="freeRam" values="freeRamValues" from="$ctrl.maUiDateBar.from"
                    to="$ctrl.maUiDateBar.to" rollup="{{$ctrl.maUiDateBar.rollupType}}"
                    rollup-interval="{{$ctrl.maUiDateBar.rollupIntervals}} {{$ctrl.maUiDateBar.rollupIntervalPeriod}}">
                </ma-point-values>
                <ma-serial-chart class="ma-sparkline-chart" style="height: 170px; width: 300px"
                    series-1-values="cpuLoadValues" series-1-point="cpuLoad" series-1-type="smoothedLine"
                    series-1-color="#6effa3" series-2-values="freeRamValues" series-2-point="freeRam"
                    series-2-type="smoothedLine" series-2-color="#49abd0" series-2-axis="right" balloon="true"
                    options="{autoMargins: false, categoryAxis:{labelsEnabled:false, gridAlpha: 0, axisAlpha: 0}}">
                </ma-serial-chart>
            </div>
        </md-card-content>
    </span>
</md-card>

<!-- missing -->
<div class="ma-ui-home-page-grid ma-ui-home-page-grid-cards">
    <div class="ma-ui-home-page-info-card action"
        md-colors="{'background-color': 'background-900', 'border-color': 'primary-100'}"
        ng-if="$ctrl.maUser.current.hasRole('superadmin')" ui-sref="ui.settings.dataSources">
        <div class="ma-ui-home-page-info-card-icon">
            <i class="material-icons" md-colors="{'color': 'primary-200'}">device_hub</i>
        </div>
        <div class="ma-ui-home-page-info-card-content" layout="column" layout-align="center center">
            <ma-point-value point-xid="internal_mango_num_data_sources" class="ma-ui-home-page-text"></ma-point-value>
            <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}" ma-tr="ui.app.dataSources"></div>
        </div>
        <div class="ma-ui-home-page-info-card-action">
            <i class="material-icons">add</i>
        </div>
        <div class="ma-ui-home-page-watermark">
            <i class="material-icons">device_hub</i>
        </div>
    </div>
    <!-- 1/2 done, revise roles & permisions -->
    <div class="ma-ui-home-page-info-card action"
        md-colors="{'background-color': 'background-900', 'border-color': 'primary-100'}" ui-sref="ui.dataPointDetails">
        <div class="ma-ui-home-page-info-card-icon">
            <i class="material-icons" md-colors="{'color': 'primary-200'}">timeline</i>
        </div>
        <div class="ma-ui-home-page-info-card-content" layout="column" layout-align="center center">
            <ma-point-value point-xid="internal_mango_num_data_points" class="ma-ui-home-page-text"></ma-point-value>
            <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}" ma-tr="ui.app.dataPoints"></div>
        </div>
        <div class="ma-ui-home-page-info-card-action">
            <i class="material-icons" md-colors="{'border-color': 'primary-100', 'border-color': 'primary-100'}">add</i>
        </div>
        <div class="ma-ui-home-page-watermark">
            <i class="material-icons">timeline</i>
        </div>
    </div>
    <div class="ma-ui-home-page-info-card action"
        md-colors="{'background-color': 'background-900', 'border-color': 'primary-100'}" ui-sref="ui.watchList">
        <div class="ma-ui-home-page-info-card-icon">
            <i class="material-icons" md-colors="{'color': 'primary-200'}">remove_red_eye</i>
        </div>
        <div class="ma-ui-home-page-info-card-content" layout="column" layout-align="center center">
            <ma-point-value point-xid="internal_mango_num_watchlists" class="ma-ui-home-page-text"></ma-point-value>
            <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}" ma-tr="ui.app.watchLists"></div>
        </div>
        <div class="ma-ui-home-page-info-card-action">
            <i class="material-icons" md-colors="{'border-color': 'primary-100', 'border-color': 'primary-100'}">add</i>
        </div>
        <div class="ma-ui-home-page-watermark">
            <i class="material-icons">remove_red_eye</i>
        </div>
    </div>
    <div class="ma-ui-home-page-info-card action"
        md-colors="{'background-color': 'background-900', 'border-color': 'primary-100'}"
        ng-if="$ctrl.maUser.current.hasRole('superadmin')" ui-sref="ui.settings.publishers">
        <div class="ma-ui-home-page-info-card-icon">
            <i class="material-icons" md-colors="{'color': 'primary-200'}">publish</i>
        </div>
        <div class="ma-ui-home-page-info-card-content" layout="column" layout-align="center center">
            <ma-point-value point-xid="internal_mango_num_publishers" class="ma-ui-home-page-text"></ma-point-value>
            <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}" ma-tr="ui.app.publishers"></div>
        </div>
        <div class="ma-ui-home-page-info-card-action">
            <i class="material-icons" md-colors="{'border-color': 'primary-100', 'border-color': 'primary-100'}">add</i>
        </div>
        <div class="ma-ui-home-page-watermark">
            <i class="material-icons">publish</i>
        </div>
    </div>
    <md-card ng-if="$ctrl.maUser.current.hasRole('superadmin')">
        <div class="ma-ui-home-page-header" md-colors="{'background-color': 'primary'}" layout="row">
            <i class="material-icons">settings</i>
            <h2 class="ma-ui-home-page-header ma-ui-home-page-text" ma-tr="ui.app.system"></h2>
        </div>
        <div class="ma-ui-home-page-content" layout="column">
            <div class="ma-ui-home-page-section-1" md-colors="{'background-color': 'background-900'}">
                <div class="ma-ui-home-page-info-card action" layout="row" layout-align="space-between center"
                    ui-sref="ui.settings.modules">
                    <div class="ma-ui-home-page-info-card-content" layout="column" layout-align="center center">
                        <ma-point-value point-xid="internal_mango_num_updates_available" class="ma-ui-home-page-text">
                        </ma-point-value>
                        <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}"
                            ma-tr="ui.app.modules"></div>
                    </div>
                    <div class="ma-ui-home-page-info-card-action">
                        <i class="material-icons"
                            md-colors="{'border-color': 'primary-100', 'border-color': 'primary-100'}">add</i>
                    </div>
                </div>
            </div>
            <div class="ma-ui-home-page-section-2" md-colors="{'background-color': 'background-800'}">
                <div class="ma-ui-home-page-info-card action" layout="row" layout-align="space-between center"
                    ui-sref="{{::$ctrl.hasDashboardDesigner ? 'ui.settings.dashboardDesigner' : 'ui.settings.editPages'}}">
                    <div class="ma-ui-home-page-info-card-content" layout="column">
                        <div class="ma-ui-home-page-text" ng-bind="$ctrl.pageCount"></div>
                        <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}"
                            ma-tr="ui.app.customPages"></div>
                    </div>
                    <div class="ma-ui-home-page-info-card-action">
                        <i class="material-icons"
                            md-colors="{'border-color': 'primary-100', 'border-color': 'primary-100'}">add</i>
                    </div>
                </div>
            </div>
            <div class="ma-ui-home-page-section-3" md-colors="{'background-color': 'background-300'}">
                <div class="ma-ui-home-page-list">
                    <div class="ma-ui-home-page-list-item redirect"
                        md-colors="{'background-color': 'primary-300', 'border-color': 'primary-100'}"
                        ui-sref="ui.settings.system" layout="row" layout-align="space-between center">
                        <div md-colors="{'color': 'primary-200'}" ma-tr="ui.app.systemSettings"></div>
                        <md-icon md-colors="{'color': 'primary-200'}">subdirectory_arrow_right</md-icon>
                    </div>
                    <div class="ma-ui-home-page-list-item redirect"
                        md-colors="{'background-color': 'primary-300', 'border-color': 'primary-100'}"
                        ui-sref="ui.settings.importExport" layout="row" layout-align="space-between center">
                        <div md-colors="{'color': 'primary-200'}" ma-tr="header.emport"></div>
                        <md-icon md-colors="{'color': 'primary-200'}">subdirectory_arrow_right</md-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="ma-ui-home-page-watermark ma-big">
            <i class="material-icons">settings</i>
        </div>
    </md-card>
    <!-- Missing roles and permisions link -->
    <md-card ng-if="$ctrl.maUser.current.hasRole('superadmin')">
        <div class="ma-ui-home-page-header" md-colors="{'background-color': 'primary'}" layout="row">
            <i class="material-icons">people</i>
            <h2 class="ma-ui-home-page-header ma-ui-home-page-text" ma-tr="ui.app.users"></h2>
            <md-button class="ma-ui-home-page-header-action"
                md-colors="{'color': 'primary-100', 'border-color': 'primary-100'}" ma-tr="ui.app.viewAll"
                ui-sref="ui.settings.users">
            </md-button>
        </div>
        <div class="ma-ui-home-page-content" layout="column">
            <div class="ma-ui-home-page-section-1" md-colors="{'background-color': 'background-900'}">
                <div class="ma-ui-home-page-info-card action" layout="row" layout-align="space-between center"
                    ui-sref="ui.settings.users">
                    <div class="ma-ui-home-page-info-card-content" layout="column">
                        <ma-point-value point-xid="internal_mango_num_users" class="ma-ui-home-page-text">
                        </ma-point-value>
                        <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}" ma-tr="ui.app.users">
                        </div>
                    </div>
                    <div class="ma-ui-home-page-info-card-action">
                        <i class="material-icons"
                            md-colors="{'border-color': 'primary-100', 'border-color': 'primary-100'}">add</i>
                    </div>
                </div>
            </div>
            <div class="ma-ui-home-page-section-2" md-colors="{'background-color': 'background-800'}">
                <div class="ma-ui-home-page-info-card">
                    <div class="ma-ui-home-page-info-card-content" layout="column">
                        <ma-point-value point-xid="internal_mango_num_active_user_sessions"
                            class="ma-ui-home-page-text"></ma-point-value>
                        <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}"
                            ma-tr="ui.app.activeSessions"></div>
                    </div>
                </div>
            </div>
            <div class="ma-ui-home-page-section-3" md-colors="{'background-color': 'background-300'}">
                <!-- TODO: missing roles and permisions -->
                <div class="ma-ui-home-page-list">
                    <div class="ma-ui-home-page-list-item redirect" md-colors="{'background-color': 'primary-300'}"
                        layout="row" layout-align="space-between center">
                        <div md-colors="{'color': 'primary-200'}" class="listText">Roles and permmisions</div>
                        <md-icon md-colors="{'color': 'primary-200'}">subdirectory_arrow_right</md-icon>
                    </div>
                    <div class="ma-ui-home-page-list-item redirect" md-colors="{'background-color': 'primary-300'}"
                        layout="row" layout-align="space-between center" ui-sref="ui.settings.autoLoginSettings">
                        <div md-colors="{'color': 'primary-200'}" class="listText">Auto login (local)</div>
                        <md-icon md-colors="{'color': 'primary-200'}">subdirectory_arrow_right</md-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="ma-ui-home-page-watermark ma-big">
            <i class="material-icons">people</i>
        </div>
    </md-card>
    <!-- missing section 1 & 2 data point & missing section 3 full card-->
    <md-card ng-if="$ctrl.maUser.current.hasRole('superadmin')">
        <div class="ma-ui-home-page-header" md-colors="{'background-color': 'primary'}" layout="row">
            <i class="material-icons">alarm</i>
            <h2 class="ma-ui-home-page-header ma-ui-home-page-text" ma-tr="ui.app.events"></h2>
            <md-button class="ma-ui-home-page-header-action" ma-tr="ui.app.viewAll"
                md-colors="{'color': 'primary-100', 'border-color': 'primary-100'}"></md-button>
        </div>
        <div class="ma-ui-home-page-content" layout="column">
            <div class="ma-ui-home-page-section-1" md-colors="{'background-color': 'background-900'}">
                <div class="ma-ui-home-page-info-card action" ui-sref="ui.events({eventType: 'DATA_POINT'})">
                    <div class="ma-ui-home-page-info-card-content" layout="column">
                        <div class="ma-ui-home-page-text" ng-bind="$ctrl.eventCounts.dataPoint"></div>
                        <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}"
                            ma-tr="ui.app.dataPointEvents"></div>
                    </div>
                </div>
            </div>
            <div class="ma-ui-home-page-section-2" md-colors="{'background-color': 'background-800'}">
                <div class="ma-ui-home-page-info-card action" ui-sref="ui.events({eventType: 'SYSTEM'})">
                    <div class="ma-ui-home-page-info-card-content" layout="column">
                        <div class="ma-ui-home-page-text" ng-bind="$ctrl.eventCounts.system"></div>
                        <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}"
                            ma-tr="ui.app.systemEvents"></div>
                    </div>
                </div>
            </div>
            <div class="ma-ui-home-page-section-3" md-colors="{'background-color': 'background-300'}">
                <div class="ma-ui-home-page-list">
                    <div class="ma-ui-home-page-list-item"
                        md-colors="{'background-color': 'primary-300', 'border-color': 'primary-100'}" layout="row">
                        <ma-point-value point-xid="internal_mango_num_event_detectors" class="ma-info-list-item-value">
                        </ma-point-value>
                        <div md-colors="{'color': 'primary-200'}" ma-tr="ui.app.eventDetectors"></div>
                    </div>
                    <div class="ma-ui-home-page-list-item redirect"
                        md-colors="{'background-color': 'primary-300', 'border-color': 'primary-100'}"
                        ui-sref="ui.settings.eventHandlers" layout="row">
                        <ma-point-value point-xid="internal_mango_num_event_handlers" class="ma-info-list-item-value">
                        </ma-point-value>
                        <div md-colors="{'color': 'primary-200'}" ma-tr="ui.app.eventHandlers"></div>
                        <md-icon md-colors="{'color': 'primary-200'}" class="ma-info-list-item-icon">
                            subdirectory_arrow_right</md-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="ma-ui-home-page-watermark ma-big">
            <i class="material-icons">alarm</i>
        </div>
    </md-card>
    <!-- missing section 1, test section 2 -->
    <md-card ng-if="$ctrl.maUser.current.hasRole('superadmin')">
        <div class="ma-ui-home-page-header" md-colors="{'background-color': 'primary'}" layout="row">
            <i class="material-icons">book</i>
            <h2 class="ma-ui-home-page-header ma-ui-home-page-text" ma-tr="ui.app.reports"></h2>
            <md-button class="ma-ui-home-page-header-action" ma-tr="ui.app.viewAll"
                md-colors="{'color': 'primary-100', 'border-color': 'primary-100'}"></md-button>
        </div>
        <div class="ma-ui-home-page-content" layout="column">
            <div class="ma-ui-home-page-section-1" md-colors="{'background-color': 'background-900'}">
                <div class="ma-ui-home-page-info-card action" ui-sref="ui.settings.mailingLists">
                    <div class="ma-ui-home-page-info-card-content" layout="column">
                        <ma-get-point-value point-xid="internal_mango_num_excel_report_templates"
                            point="excelReportTemplates"></ma-get-point-value>
                        <ma-point-value point-xid="internal_mango_num_mailing_lists" class="ma-ui-home-page-text">
                        </ma-point-value>
                        <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}"
                            ma-tr="ui.app.mailingLists"></div>
                    </div>
                </div>
            </div>
            <div class="ma-ui-home-page-section-2" md-colors="{'background-color': 'background-800'}">
                <div class="ma-ui-home-page-info-card" ui-sref="ui.settings.excelReports"
                    ng-class="{'action': excelReportTemplates != null}">
                    <div class="ma-ui-home-page-info-card-content" layout="column">
                        <ma-get-point-value point-xid="internal_mango_num_excel_report_templates"
                            point="excelReportTemplates"></ma-get-point-value>
                        <div class="ma-ui-home-page-text">
                            {{excelReportTemplates.value ?  excelReportTemplates.value : 0}}</div>
                        <div class="ma-ui-home-page-sub-text" md-colors="{'color': 'primary-200'}"
                            ma-tr="ui.app.excelReports"></div>
                    </div>
                </div>
            </div>
            <div class="ma-ui-home-page-section-3" md-colors="{'background-color': 'background-300'}">

            </div>
        </div>
        <div class="ma-ui-home-page-watermark ma-big">
            <i class="material-icons">book</i>
        </div>
    </md-card>
</div>

<md-card ng-if="::$ctrl.utilityMenuItems.length">
    <md-card-header md-colors="{'background-color': 'primary'}" layout layout-align="space-between center">
        <span layout layout-align="center center">
            <i class="fa fa-cogs fa-2x" aria-hidden="true" layout-padding></i>
            <h3 ma-tr="ui.app.utilities"></h3>
        </span>
        <md-button ma-tr="ui.app.viewAll" ui-sref="ui.settings.systemStatus"
            md-colors="{'color': 'primary-100', 'border-color': 'primary-100'}"></md-button>
    </md-card-header>
    <md-card-content 
        layout-xs="column"
        layout
        layout-wrap 
        layout-align-gt-xs="space-between center">
        <div class="ma-ui-home-page-list-item redirect"
            md-colors="{'background-color': 'primary-hue-2', 'border-color': 'primary-100'}" layout="row"
            layout-align="space-between center" flex-sm="45" flex-md="30" flex-gt-md="20"
            ng-repeat="item in ::$ctrl.utilityMenuItems track by item.name"
            ng-if="$ctrl.maUser.current.hasAnyRole(item.permission)" ui-sref="{{item.name}}">
            <div md-colors="{'color': 'primary-50'}" ma-tr="{{item.menuTr}}"></div>
            <md-icon md-colors="{'color': 'primary-50'}">{{item.menuIcon}}</md-icon>
        </div>
    </md-card-content>
</md-card>