<form>
    <div layout="row" layout-align="start center">
    	<label ng-if="$ctrl.label" ng-bind="$ctrl.label"></label>
        <md-input-container flex ng-if="$ctrl.inputType === 'numeric'">
            <input type="number" step="{{$ctrl.step}}" ng-model="$ctrl.inputValue"  aria-label="{{'common.value' | maTr}}"
              ng-disabled="!$ctrl.point.pointLocator.settable" md-select-on-focus>
        </md-input-container>
        <md-input-container flex ng-if="$ctrl.inputType === 'text'">
            <input type="text" ng-model="$ctrl.inputValue" aria-label="{{'common.value' | maTr}}"
              ng-disabled="!$ctrl.point.pointLocator.settable" md-select-on-focus>
        </md-input-container>
        <md-select flex ng-if="$ctrl.inputType === 'select'"
            ng-model="$ctrl.inputValue" ng-change="$ctrl.selectChanged()"
              ng-disabled="!$ctrl.point.pointLocator.settable" aria-label="{{'common.value' | maTr}}">
            <md-option ng-repeat="option in $ctrl.options track by option.id" ng-style="option.style" ng-value="option.id" ng-bind="option.label"></md-option>
        </md-select>
        <md-button type="submit" class="md-raised md-accent" ng-show="$ctrl.showButton"
                ng-disabled="!$ctrl.point.pointLocator.settable || $ctrl.result.pending" ng-click="$ctrl.result=$ctrl.point.setValueResult($ctrl.inputValue)"
                ng-class="{'set-pending': $ctrl.result.pending, 'set-success': $ctrl.result.success, 'set-error': $ctrl.result.error, 'md-warn': $ctrl.result.error}"
                aria-label="{{'common.set' | maTr}}">
            <div layout="row" layout-align="center center">
                <span ma-tr="common.set"></span>
                <md-progress-circular md-diameter="18px" md-mode="indeterminate" ng-if="$ctrl.result.pending"></md-progress-circular>
                <md-icon ng-if="$ctrl.result.success" class="md-primary">check</md-icon>
                <md-icon ng-if="$ctrl.result.error" class="md-primary">error</md-icon>
            </div>
        </md-button>
    </div>
</form>