<div class="ma-margin-bottom">
    <md-button class="md-raised" ng-click="$ctrl.addUser($event)">
        <md-icon>person_add</md-icon>&nbsp;<span ma-tr="users.add"></span>
    </md-button>
    <md-button class="md-raised md-warn" ng-click="$ctrl.deleteUsers($event)" ng-disabled="!$ctrl.selectedUsers.length">
        <md-icon>delete</md-icon>&nbsp;<span ma-tr="common.delete"></span>
    </md-button>
</div>

<ma-user-table ng-model="$ctrl.selectedUsers" select-multiple="true"
    row-clicked="$ctrl.rowClicked($event, $item, $index, $tableCtrl)"></ma-user-table>

<ma-dialog show-dialog="$ctrl.showDialog" on-hide="$ctrl.userEditorClosed()" on-cancel="$ctrl.userEditorClosed()">
    <md-dialog flex="100" flex-gt-sm="80" flex-gt-md="65" flex-gt-lg="50" flex-gt-xl="30">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span ng-if="!$ctrl.user.isNew()" ma-tr="ui.app.editUserX" ma-tr-args="[$ctrl.user.username]"></span>
                <span ng-if="$ctrl.user.isNew()" ma-tr="ui.app.editNewUser"></span>
                <div flex></div>
                <ma-user-actions-menu user="$ctrl.user" on-copy="$ctrl.editUser($user)"></ma-user-actions-menu>
                <md-button class="md-icon-button" ng-click="$dialog.cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout="column" flex>
            <md-tabs md-dynamic-height="true" md-border-bottom="true" md-swipe-content="false" md-selected="$ctrl.selectedTab">
                <md-tab>
                    <md-tab-label>
                        <span ng-if="!$ctrl.user.isNew()" ma-tr="users.editUser"></span>
                        <span ng-if="$ctrl.user.isNew()" ma-tr="users.add"></span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="md-padding">
                            <ma-user-editor user="$ctrl.user" on-delete="$dialog.cancel()" on-save="$dialog.hide()"></ma-user-editor>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab ng-if="!$ctrl.user.isNew()">
                    <md-tab-label>
                        <span ma-tr="ui.app.status"></span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="md-padding">
                            <ma-user-status user="$ctrl.user"></ma-user-status>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab ng-if="!$ctrl.user.isNew()">
                    <md-tab-label>
                        <span ma-tr="ui.app.authTokens"></span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="md-padding">
                            <ma-user-auth-tokens user="$ctrl.user"></ma-user-auth-tokens>
                        </div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
    </md-dialog>
</ma-dialog>