<md-toolbar class="md-whiteframe-glow-z1">
    <div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
        <h2 flex>
            <span>Watchlist</span>
        </h2>
        <md-button class="md-icon-button" ng-click="showSearch=true">
            <md-icon>search</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-card-content layout="column" ng-init="query={limit:15, page:1}; page={tableOrder:'deviceName', searchQuery:'', points:[], promise: {}}; showSearch=false; selected=[];">

    <!-- <ma-point-query query="{name:searchQuery}" limit="query.limit" start="(query.page-1)*query.limit" points="points" promise="promise"></ma-point-query> -->
    <ma-point-query ng-if="page.searchQuery" query="page.searchQuery" start="0" points="page.points" promise="page.promise"></ma-point-query>

    <md-toolbar class="md-table-toolbar md-default" ng-show="showSearch">
        <div class="md-toolbar-tools">
            <md-icon>search</md-icon>
            <form flex="" name="filter.form">
                <input type="text" ng-model="page.searchQuery" ng-model-options="{debounce:1000}" placeholder="search">
            </form>
            <md-button class="md-icon-button" ng-click="showSearch=false">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-table-container ng-class="{'lg-screen': $mdMedia('gt-lg')}">
        <div ng-repeat="point in page.points" style="display: none;">
            <ma-get-point-value point-xid="{{point.xid}}" point="liveValue">
            </ma-get-point-value>
            {{ $parent.stats[$index].name = point.name }} 
            {{ $parent.stats[$index].xid = point.xid }} 
            {{ $parent.stats[$index].deviceName = point.deviceName }}
            {{ $parent.stats[$index].suffix = liveValue.textRenderer.suffix }} 
            {{ $parent.stats[$index].val = (liveValue.value) }}
            {{ $parent.stats[$index].render = (liveValue.renderedValue) }} 
            {{ $parent.stats[$index].valTime = (liveValue.time | moment:'format':'LTS') }}
        </div>
        <table md-table md-row-select multiple ng-model="selected" md-progress="page.promise">
            <thead md-head md-order="page.tableOrder">
                <tr md-row>
                    <th md-column md-order-by="deviceName">Device</th>
                    <th md-column md-order-by="name">Name</th>
                    <th md-column md-numeric md-order-by="val">Value</th>
                    <th md-column md-numeric md-order-by="valTime">Time</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="point" md-select-id="id" md-auto-select ng-repeat="point in stats | orderBy: page.tableOrder">
                    <td md-cell>{{point.deviceName}}</td>
                    <td md-cell>{{point.name}}</td>
                    <td md-cell>{{point.render }} </td>
                    <td md-cell>{{point.valTime}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <!-- <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15, 20, 25, 50, 100]" md-page="query.page" md-total="{{page.points.$total}}" md-page-select=""></md-table-pagination> -->
</md-card-content>