/**
 * Taken from AngularJS Material documentation -
 *
 * Some Example Valid Theming Expressions
 * =======================================
 *
 * Intention group expansion: (valid for primary, accent, warn, background)
 *
 * {{primary-100}} - grab shade 100 from the primary palette
 * {{primary-100-0.7}} - grab shade 100, apply opacity of 0.7
 * {{primary-100-contrast}} - grab shade 100's contrast color
 * {{primary-hue-1}} - grab the shade assigned to hue-1 from the primary palette
 * {{primary-hue-1-0.7}} - apply 0.7 opacity to primary-hue-1
 * {{primary-color}} - Generates .md-hue-1, .md-hue-2, .md-hue-3 with configured shades set for each hue
 * {{primary-color-0.7}} - Apply 0.7 opacity to each of the above rules
 * {{primary-contrast}} - Generates .md-hue-1, .md-hue-2, .md-hue-3 with configured contrast (ie. text) color shades set for each hue
 * {{primary-contrast-0.7}} - Apply 0.7 opacity to each of the above rules
 *
 * Foreground expansion: Applies rgba to black/white foreground text
 *
 * {{foreground-1}} - used for primary text
 * {{foreground-2}} - used for secondary text/divider
 * {{foreground-3}} - used for disabled text
 * {{foreground-4}} - used for dividers
 */

ma-drop-down-button.md-THEME_NAME-theme {
	color: '{{foreground-3}}';
	border-bottom-color: '{{foreground-4}}';
}

ma-drop-down-button.md-THEME_NAME-theme:focus:not([disabled]),
ma-drop-down-button.md-THEME_NAME-theme:active:not([disabled]),
ma-drop-down-button.md-THEME_NAME-theme.ma-drop-down-open:not([disabled]) {
	color: '{{primary-color}}';
	border-bottom-color: '{{primary-color}}';
}

ma-drop-down-button.md-THEME_NAME-theme:not([disabled]) > div {
	color: '{{foreground-1}}';
}

ma-drop-down-button.md-THEME_NAME-theme > md-icon {
	color: inherit;
}

ma-data-point-selector.md-THEME_NAME-theme .ma-data-point-row:hover,
ma-data-point-selector.md-THEME_NAME-theme .ma-data-point-row:focus {
	background-color: '{{background-hue-2}}';
	color: '{{background-hue-2-contrast}}';
	outline: none;
}

ma-tile-map.md-THEME_NAME-theme.leaflet-container .leaflet-popup-content-wrapper a:not(.md-button) {
	color: '{{accent-500}}';
}

ma-tile-map.md-THEME_NAME-theme.leaflet-container .leaflet-popup-content-wrapper,
ma-tile-map.md-THEME_NAME-theme.leaflet-container .leaflet-popup-tip,
ma-tile-map.md-THEME_NAME-theme.leaflet-container .leaflet-tooltip {
	background-color: '{{background-default}}';
	color: '{{background-contrast}}';
}

.md-THEME_NAME-theme .ma-material-table td {
	border-bottom-color: '{{background-hue-3-0.12}}';
}

md-input-container.md-THEME_NAME-theme .ma-hint {
	color: '{{background-contrast-0.7}}';
}