.md-button.md-piMangoLight-theme.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-piMangoLight-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-piMangoLight-theme.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-piMangoLight-theme.md-primary.md-raised:not([disabled]):hover {
    background-color: var(--ma-accent-600);
}

.md-button.md-piMangoLight-theme.md-accent.md-fab:not([disabled]).md-focused, .md-button.md-piMangoLight-theme.md-accent.md-fab:not([disabled]):hover, .md-button.md-piMangoLight-theme.md-accent.md-raised:not([disabled]).md-focused, .md-button.md-piMangoLight-theme.md-accent.md-raised:not([disabled]):hover {
    background-color: var(--ma-primary);
    color: var(--ma-primary-contrast);
}

.md-button.md-piMangoLight-theme.md-accent.md-fab:not([disabled]).md-focused md-icon, .md-button.md-piMangoLight-theme.md-accent.md-fab:not([disabled]):hover md-icon, .md-button.md-piMangoLight-theme.md-accent.md-raised:not([disabled]).md-focused md-icon, .md-button.md-piMangoLight-theme.md-accent.md-raised:not([disabled]):hover md-icon {
    color: var(--ma-primary-contrast);
}

.md-button.md-piMangoLight-theme.md-hue-1.md-accent.md-fab:not([disabled]).md-focused, .md-button.md-piMangoLight-theme.md-hue-1.md-accent.md-fab:not([disabled]):hover, .md-button.md-piMangoLight-theme.md-hue-1.md-accent.md-raised:not([disabled]).md-focused, .md-button.md-piMangoLight-theme.md-hue-1.md-accent.md-raised:not([disabled]):hover {
    background-color: var(--ma-primary);
    color: var(--ma-primary-contrast);
}

.md-button.md-piMangoLight-theme.md-hue-1.md-accent.md-fab:not([disabled]).md-focused md-icon, .md-button.md-piMangoLight-theme.md-hue-1.md-accent.md-fab:not([disabled]):hover md-icon, .md-button.md-piMangoLight-theme.md-hue-1.md-accent.md-raised:not([disabled]).md-focused md-icon, .md-button.md-piMangoLight-theme.md-hue-1.md-accent.md-raised:not([disabled]):hover md-icon {
    color: var(--ma-primary-contrast);
}

.md-button.md-piMangoLight-theme.md-hue-1.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-piMangoLight-theme.md-hue-1.md-primary.md-fab:not([disabled]):hover, .md-button.md-piMangoLight-theme.md-hue-1.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-piMangoLight-theme.md-hue-1.md-primary.md-raised:not([disabled]):hover {
    background-color: var(--ma-primary);
    color: var(--ma-primary-contrast);
}

.md-button.md-piMangoLight-theme.md-hue-2.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-piMangoLight-theme.md-hue-2.md-primary.md-fab:not([disabled]):hover, .md-button.md-piMangoLight-theme.md-hue-2.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-piMangoLight-theme.md-hue-2.md-primary.md-raised:not([disabled]):hover {
    background-color: var(--ma-accent);
}

md-toolbar.md-piMangoLight-theme.md-hue-2:not(.md-menu-toolbar) ma-drop-down-button:not([disabled]) > div  {
    color: var(--ma-primary-contrast);
}

md-select-menu.md-piMangoLight-theme md-content md-option[selected].md-focused, md-select-menu.md-piMangoLight-theme md-content md-option[selected]:focus {
    color: var(--ma-foreground-1);
}

.md-button.md-pimangoDark-theme.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-pimangoDark-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-pimangoDark-theme.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-pimangoDark-theme.md-primary.md-raised:not([disabled]):hover {
    background-color: var(--ma-accent);
}

.md-button.md-pimangoDark-theme.md-accent.md-fab:not([disabled]).md-focused, .md-button.md-pimangoDark-theme.md-accent.md-fab:not([disabled]):hover, .md-button.md-pimangoDark-theme.md-accent.md-raised:not([disabled]).md-focused, .md-button.md-pimangoDark-theme.md-accent.md-raised:not([disabled]):hover {
    background-color: var(--ma-primary);
    color: var(--ma-primary-contrast);
}

.md-button.md-pimangoDark-theme.md-accent.md-fab:not([disabled]).md-focused md-icon, .md-button.md-pimangoDark-theme.md-accent.md-fab:not([disabled]):hover md-icon, .md-button.md-pimangoDark-theme.md-accent.md-raised:not([disabled]).md-focused md-icon, .md-button.md-pimangoDark-theme.md-accent.md-raised:not([disabled]):hover md-icon {
    color: var(--ma-primary-contrast);
}

.md-button.md-pimangoDark-theme.md-hue-1.md-accent.md-fab:not([disabled]).md-focused, .md-button.md-pimangoDark-theme.md-hue-1.md-accent.md-fab:not([disabled]):hover, .md-button.md-pimangoDark-theme.md-hue-1.md-accent.md-raised:not([disabled]).md-focused, .md-button.md-pimangoDark-theme.md-hue-1.md-accent.md-raised:not([disabled]):hover {
    background-color: var(--ma-primary);
    color: var(--ma-primary-contrast);
}

.md-button.md-pimangoDark-theme.md-hue-1.md-accent.md-fab:not([disabled]).md-focused md-icon, .md-button.md-pimangoDark-theme.md-hue-1.md-accent.md-fab:not([disabled]):hover md-icon, .md-button.md-pimangoDark-theme.md-hue-1.md-accent.md-raised:not([disabled]).md-focused md-icon, .md-button.md-pimangoDark-theme.md-hue-1.md-accent.md-raised:not([disabled]):hover md-icon {
    color: var(--ma-primary-contrast);
}

.md-button.md-pimangoDark-theme.md-hue-1.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-pimangoDark-theme.md-hue-1.md-primary.md-fab:not([disabled]):hover, .md-button.md-pimangoDark-theme.md-hue-1.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-pimangoDark-theme.md-hue-1.md-primary.md-raised:not([disabled]):hover {
    background-color: var(--ma-primary);
    color: var(--ma-primary-contrast);
}

.md-button.md-pimangoDark-theme.md-hue-2.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-pimangoDark-theme.md-hue-2.md-primary.md-fab:not([disabled]):hover, .md-button.md-pimangoDark-theme.md-hue-2.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-pimangoDark-theme.md-hue-2.md-primary.md-raised:not([disabled]):hover {
    background-color: var(--ma-accent);
}

md-toolbar.md-pimangoDark-theme.md-hue-2:not(.md-menu-toolbar) ma-drop-down-button:not([disabled]) > div  {
    color: var(--ma-primary-contrast);
}

md-select-menu.md-pimangoDark-theme md-content md-option[selected].md-focused, md-select-menu.md-pimangoDark-theme md-content md-option[selected]:focus {
    color: var(--ma-foreground-1);
}

md-tabs.md-pimangoDark-theme .md-tab.md-active, md-tabs.md-pimangoDark-theme .md-tab.md-active md-icon, md-tabs.md-pimangoDark-theme .md-tab.md-focused, md-tabs.md-pimangoDark-theme .md-tab.md-focused md-icon {
    color: var(--ma-primary-contrast)
}

md-content.md-piMangoLight-theme .ma-ui-menu {
    background-color: var(--ma-primary);
    color: var(--ma-primary-contrast);
}

md-list md-list-item.ma-list-selected button.md-piMangoLight-theme {
    color: var(--ma-accent-contrast);
}

md-list md-list-item button.md-piMangoLight-theme {
    color:  var(--ma-accent-hue-1);
}

md-toolbar.md-piMangoLight-theme:not(.md-menu-toolbar), md-toolbar.md-piMangoLight-theme.md-hue-3:not(.md-menu-toolbar) {
    background-color: var(--ma-background);
    color: var(--ma-background-contrast);
}

md-content.md-piMangoLight-theme {
    background-color: var(--ma-background-hue-3);
    color: var(--ma-background-hue-3-contrast);
}

md-toolbar.md-pimangoDark-theme.md-hue-3:not(.md-menu-toolbar) {
    background-color: var(--ma-background-hue-1);
    color: var(--ma-background-hue-1-contrast);
}

.md-button.md-piMangoLight-theme.md-primary.md-fab, .md-button.md-piMangoLight-theme.md-primary.md-raised {
    background-color: var(--ma-accent);
    color: var(--ma-accent-contrast);
}

.md-button.md-piMangoLight-theme.md-primary.md-fab[disabled], .md-button.md-piMangoLight-theme.md-primary.md-raised[disabled] {
    background-color: var(--ma-foreground-4);
    color: var(--ma-foreground-3);
}

ma-ui-admin-home-page md-card.md-piMangoLight-theme md-card-header {
    background-color: var(--ma-background-hue-1);
    color: var(--ma-background-hue-1-contrast);
}

ma-ui-admin-home-page md-card.md-piMangoLight-theme md-card-header span span {
    color: var(--ma-background-contrast);
}

.ma-ui-menu-toggle-icon md-icon.md-piMangoLight-theme, .ma-ui-menu-icon.md-piMangoLight-theme, .ma-ui-menu-toggle md-icon.md-piMangoLight-theme {
    color: inherit;
}

.ma-ui-menu .md-button.ma-ui-menu-link.ma-ui-menu-active.md-piMangoLight-theme {
    background-color: var(--ma-primary-300);
}

.main-page-area md-toolbar.md-piMangoLight-theme .md-toolbar-tools .ma-ui-breadcrumb md-icon {
    color: var(--ma-foreground-1);
}

.main-page-area md-toolbar.md-piMangoLight-theme .md-toolbar-tools .ma-ui-tools ma-badge {
    background-color: var(--ma-warn);
}

ma-ui-admin-home-page .ma-watermark > md-icon.md-piMangoLight-theme.material-icons {
    color: var(--ma-accent-100);
}

ma-ui-admin-home-page md-card.md-piMangoLight-theme md-card-header {
    background-color: var(--ma-background-400);
}

ma-ui-admin-home-page .ma-info-card-button.md-piMangoLight-theme .ma-add {
    z-index: 1;
}

ma-ui-admin-home-page .ma-info-card-button.md-piMangoLight-theme .ma-add md-icon {
    color: var(--ma-accent-500);
}

ma-ui-admin-home-page .ma-detailed-info-card > div > .md-piMangoLight-theme:nth-child(2n), ma-ui-admin-home-page .md-piMangoLight-theme .ma-server-status-contents > :nth-child(2n) {
    background-color: var(--ma-background-300);
}

ma-ui-date-bar md-toolbar.ma-ui-date-bar.md-piMangoLight-theme:not(.md-menu-toolbar) {
    background-color: var(--ma-background-300);
}

ma-ui-admin-home-page .ma-info-card-button .ma-button-icon > md-icon.md-piMangoLight-theme {
    color: var(--ma-accent-500);
}