<ma-json-store xid="{{$ctrl.dashboardId}}" item="$ctrl.markerStoreItem" value="$ctrl.markerList"></ma-json-store>

<div layout="column" layout-gt-md="row" flex>
    <div layout="row" flex layout-align="start center">
        <md-input-container flex>
            <label ma-tr="dashboards.v3.app.chooseMarker"></label>
            <md-select ng-model="$ctrl.selectedMarker" ng-model-options="{trackBy: '$value.uid'}" ng-disabled="!$ctrl.localMarkerList.markers.length" ng-change="$ctrl.markerChanged()">
                <md-option ng-repeat="marker in $ctrl.localMarkerList.markers track by marker.uid" ng-value="marker" ng-bind="marker.name"></md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex>
            <label ma-tr="dashboards.v3.app.name"></label>
            <input ng-disabled="!$ctrl.localMarkerList.markers.length" ng-model="$ctrl.selectedMarker.name" md-select-on-focus id="marker-name-input">
        </md-input-container>
        <md-input-container flex>
            <label ma-tr="dashboards.v3.app.lat"></label>
            <input ng-disabled="!$ctrl.localMarkerList.markers.length" type="number" ng-model="$ctrl.selectedMarker.lat" md-select-on-focus>
        </md-input-container>
        <md-input-container flex>
            <label ma-tr="dashboards.v3.app.long"></label>
            <input ng-disabled="!$ctrl.localMarkerList.markers.length" type="number" ng-model="$ctrl.selectedMarker.long" md-select-on-focus>
        </md-input-container>

        <md-input-container flex>
            <label ma-tr="dashboards.v3.app.selectMarkerIcon"></label>
            <md-select ng-model="$ctrl.selectedMarker.markerIcon" ng-disabled="!$ctrl.localMarkerList.markers.length">
                <md-option ng-repeat="markerIcon in $ctrl.markerIcons" ng-value="markerIcon.image" ng-bind="markerIcon.name"></md-option>
            </md-select>
        </md-input-container>

        <ma-filtering-point-list ng-if="$ctrl.binaryMarkerMode" ng-model="$ctrl.markersBinaryPoint" point-xid="{{$ctrl.selectedMarker.markersBinaryPoint}}" auto-init="true"></ma-filtering-point-list>

        <md-input-container flex ng-if="$ctrl.binaryMarkerMode && $ctrl.markersBinaryPoint">
            <label ma-tr="dashboards.v3.app.selectMarkerIcon"></label>
            <md-select ng-model="$ctrl.selectedMarker.myMarkerIconFalse" ng-disabled="!$ctrl.localMarkerList.markers.length">
                <md-option ng-repeat="markerIcon in $ctrl.markerIcons" ng-value="markerIcon.image" ng-bind="markerIcon.name"></md-option>
            </md-select>
        </md-input-container>
    </div>

    <div layout="row" flex layout-align="start center">
        <ma-watch-list-select flex layout="row" watch-list-xid="{{$ctrl.selectedMarker.xid}}" watch-list="$ctrl.addWatchList" select-first="false" disabled="!$ctrl.localMarkerList.markers.length"></ma-watch-list-select>

        <md-button class="md-raised md-primary md-hue-1" ng-disabled="!$ctrl.selectedMarker.name || !$ctrl.selectedMarker.lat || !$ctrl.selectedMarker.long
        || !$ctrl.selectedMarker.markerIcon || !$ctrl.addWatchList.xid || !$ctrl.localMarkerList.markers.length" ng-click="$ctrl.save();">
            <md-icon>save</md-icon>
            <span ma-tr="common.save"></span>
        </md-button>
        <md-button class="md-raised md-warn" ng-disabled="!$ctrl.selectedMarker" ng-click="$ctrl.deleteMarker();">
            <md-icon>delete</md-icon>
            <span ma-tr="common.delete"></span>
        </md-button>
        <md-button class="md-raised md-accent" ng-click="$ctrl.addMarker()">
            <md-icon>add</md-icon>
            <span ma-tr="dashboards.v3.app.newMarker"></span>
        </md-button>
    </div>
</div>
