<div layout="column" layout-gt-md="row" class="ma-ui-page-editor-inputs" ng-form="$ctrl.pageEditorForm">
    <div flex="50" layout="column">
        <div flex layout layout-align="start center" class="ma-ui-page-editor-top-row">
            <md-input-container flex="flex" flex-gt-md="33">
              <label ma-tr="ui.app.choosePageToEdit"></label>
              <md-select name="pageSelector" ng-model="$ctrl.selectedPageSummary" ng-model-options="{trackBy: '$value.xid'}" ng-change="$ctrl.confirmLoadPage($ctrl.selectedPageSummary.xid)">
                <md-option ng-repeat="page in $ctrl.pageSummaryStore.jsonData.pages track by page.xid" ng-value="page" ng-bind="page.name"></md-option>
              </md-select>
            </md-input-container>
            <md-button class="md-icon-button" ng-click="$ctrl.confirmLoadPage()">
                <md-icon>add_box</md-icon>
                <md-tooltip md-delay="150" md-direction="bottom" md-autohide>
                    <span ma-tr="ui.app.newPage"></span>
                </md-tooltip>
            </md-button>
            <md-button class="md-icon-button md-primary" ng-click="$ctrl.savePage()" ng-disabled="!($ctrl.inputsDirty() || $ctrl.selectedPage.$dirty) || !$ctrl.pageSummaryStore">
                <md-icon>save</md-icon>
                <md-tooltip md-delay="150" md-direction="bottom" md-autohide>
                    <span ma-tr="common.save"></span>
                </md-tooltip>
            </md-button>
            <md-button class="md-icon-button md-warn" ng-click="$ctrl.confirmDeletePage($event)" ng-disabled="$ctrl.selectedPage.isNew || !$ctrl.pageSummaryStore">
              <md-icon>delete</md-icon>
              <md-tooltip md-delay="150" md-direction="bottom" md-autohide><span ma-tr="ui.app.deletePage"></span></md-tooltip>
            </md-button>
            <!-- 
            <md-button ng-click="$ctrl.confirmLoadPage($ctrl.selectedPageSummary.xid)" class="md-icon-button"
                    ng-disabled="$ctrl.selectedPage.isNew || !($ctrl.pageEditorForm.$dirty || $ctrl.selectedPage.$dirty)">
                <md-icon>undo</md-icon>
                <md-tooltip md-delay="150" md-direction="bottom" md-autohide>
                    <span ma-tr="ui.app.revert"></span>
                </md-tooltip>
            </md-button>
             -->
            <md-button ng-click="$ctrl.showInputs = !$ctrl.showInputs" class="md-icon-button" ng-class="{'md-accent': $ctrl.showInputs}">
                <md-icon>edit</md-icon>
                <md-tooltip md-delay="150" md-direction="bottom" md-autohide>
                    <span ma-tr="ui.app.editNameAndPermissions"></span>
                </md-tooltip>
            </md-button>
            <md-button ng-click="$ctrl.showRevisionDialog($event)" class="md-icon-button">
                <md-icon>history</md-icon>
                <md-tooltip md-delay="150" md-direction="bottom" md-autohide>
                    <span ma-tr="ui.app.showRevisionHistory"></span>
                </md-tooltip>
            </md-button>
            <md-button ng-click="$ctrl.editMenuItem($event)" class="md-icon-button" ng-disabled="$ctrl.selectedPage.isNew || !$ctrl.User.current.hasPermission($ctrl.MA_UI_EDIT_MENUS_PERMISSION)">
                <md-icon>menu</md-icon>
                <md-tooltip md-delay="150" md-direction="bottom" md-autohide>
                    <span ma-tr="ui.app.addEditMenuItem"></span>
                </md-tooltip>
            </md-button>
            <md-button ng-href="{{$ctrl.viewPageLink}}" target="_blank" class="md-icon-button" ng-disabled="$ctrl.selectedPage.isNew">
                <md-icon>remove_red_eye</md-icon>
                <md-tooltip md-delay="150" md-direction="bottom" md-autohide>
                    <span ma-tr="ui.app.viewPage"></span>
                </md-tooltip>
            </md-button>
        </div>
    
        <div flex layout ng-show="$ctrl.showInputs" class="ng-hide">
            <md-input-container flex>
                <label ma-tr="ui.app.pageName"></label>
                <input name="pageName" required ng-model="$ctrl.selectedPage.name">
                <div ng-show="$ctrl.pageEditorForm.pageName.$invalid && ($ctrl.pageEditorForm.pageName.$touched || $ctrl.pageEditorForm.$submitted)">
                  <div ng-messages="$ctrl.pageEditorForm.pageName.$error">
                    <div ng-message="required" ma-tr="ui.app.required"></div>
                  </div>
                </div>
            </md-input-container>
            <!-- 
            <md-input-container flex>
                <label ma-tr="common.xid"></label>
                <input name="xid" required ng-model="$ctrl.selectedPage.xid" disabled>
                <div ng-messages="$ctrl.pageEditorForm.xid.$error">
                  <div ng-message="required" ma-tr="ui.app.required"></div>
                </div>
            </md-input-container> -->
            <md-input-container flex>
                <label ma-tr="ui.app.readPermission"></label>
                <input name="readPermission" ng-model="$ctrl.selectedPage.readPermission" pattern="^\s*[\w-]+?\s*(,\s*[\w-]+?\s*)*$">
                <div ng-messages="$ctrl.pageEditorForm.readPermission.$error">
                  <div ng-message="pattern" ma-tr="ui.app.invalidPermissions"></div>
                </div>
                <ma-permissions-menu ng-model="$ctrl.selectedPage.readPermission"></ma-permissions-menu>
            </md-input-container>
            
            <md-input-container flex>
                <label ma-tr="ui.app.editPermission"></label>
                <input name="editPermission" ng-model="$ctrl.selectedPage.editPermission" pattern="^\s*[\w-]+?\s*(,\s*[\w-]+?\s*)*$">
                <div ng-messages="$ctrl.pageEditorForm.editPermission.$error">
                  <div ng-message="pattern" ma-tr="ui.app.invalidPermissions"></div>
                </div>
                <ma-permissions-menu ng-model="$ctrl.selectedPage.editPermission"></ma-permissions-menu>
            </md-input-container>
        </div>
    </div>

    <div flex="50" layout layout-align="end start" ng-transclude="extraControls"></div>
</div>
