<md-switch ng-if="$ctrl.displayType === 'switch'" ng-model="$ctrl.inputValue" ng-model-options="{getterSetter: true}"
    ng-disabled="!$ctrl.point.pointLocator.settable">
  <ma-point-value point="$ctrl.point"></ma-point-value>
</md-switch>

<md-checkbox ng-if="$ctrl.displayType === 'checkbox'" ng-model="$ctrl.inputValue" ng-model-options="{getterSetter: true}"
    ng-disabled="!$ctrl.point.pointLocator.settable">
  <ma-point-value point="$ctrl.point"></ma-point-value>
</md-checkbox>

<md-radio-group ng-if="$ctrl.displayType === 'radio'" ng-model="$ctrl.inputValue" ng-model-options="{getterSetter: true}"
    ng-disabled="!$ctrl.point.pointLocator.settable">
  <md-radio-button ng-value="true" ng-if="!$ctrl.trueText"><span ma-tr="common.true"></span></md-radio-button>
  <md-radio-button ng-value="true" ng-if="$ctrl.trueText"><span ng-bind="$ctrl.trueText" ng-style="$ctrl.trueStyle"></span></md-radio-button>
  <md-radio-button ng-value="false" ng-if="!$ctrl.falseText"><span ma-tr="common.false"></span></md-radio-button>
  <md-radio-button ng-value="false" ng-if="$ctrl.falseText"><span ng-bind="$ctrl.falseText" ng-style="$ctrl.falseStyle"></span></md-radio-button>
</md-radio-group>