<div layout layout-align="start center" layout-wrap>
    <ma-user-select flex="100" flex-gt-md="33" ng-model="$ctrl.users" ng-change="$ctrl.usersChanged()" ma-form-exclude select-multiple="true">
        <ma-label ma-tr="ui.components.selectUsers"></ma-label>
    </ma-user-select>
    
    <md-input-container flex="100" flex-gt-md="33">
        <label ma-tr="common.email"></label>
        <input type="email" ng-model="$ctrl.email" ng-change="$ctrl.emailChanged()" ng-model-options="{debounce: 2000}" ma-form-exclude>
    </md-input-container>
</div>

<md-list>
    <md-list-item class="md-2-line" ng-repeat="recipient in $ctrl.recipients">
        <md-icon class="md-avatar-icon">{{$ctrl.iconForRecipient(recipient)}}</md-icon>
        
        <div class="md-list-item-text">
            <h3 ng-bind="recipient.username || recipient.address || recipient.name || recipient.xid"></h3>
            <p ma-tr="ui.components.emailRecipient.{{recipient.type}}"></p>
        </div>

        <md-button class="md-secondary md-icon-button" ng-click="$ctrl.removeRecipient(recipient, $index)">
            <md-icon>clear</md-icon>
            <md-tooltip ma-tr="ui.components.removeFromList"></md-tooltip>
        </md-button>
    </md-list-item>
    
    <md-list-item class="md-2-line" ng-if="!$ctrl.recipients.length">
        <md-icon class="md-avatar-icon">info</md-icon>
        <div class="md-list-item-text">
            <h3 ma-tr="eventHandlers.noEmailRecips"></h3>
            <p ma-tr="eventHandlers.addEmailRecipients"></p>
        </div>
    </md-list-item>
</md-list>