<div ng-form="$ctrl.form" ma-validation-messages="$ctrl.validationMessages" flex="noshrink" layout="column">
    <md-tabs flex="noshrink" layout="column" ng-attr-md-dynamic-height="{{$ctrl.dynamicHeight}}" md-border-bottom="true" md-swipe-content="false" md-selected="$ctrl.activeTab">
        <md-tab>
            <md-tab-label>
                <span ma-tr="ui.app.dataSource"></span>
            </md-tab-label>
            <md-tab-body>
                <div class="md-padding ma-no-padding-bottom" id="editor-main">
                    <div layout="row" layout-wrap layout-align="start center">
                        <md-input-container flex="100">
                            <label ma-tr="dsEdit.dataSourceType"></label>
                            <md-select name="modelType" ng-model="$ctrl.dataSource.modelType" ng-disabled="!$ctrl.dataSource.isNew()">
                                <md-option ng-repeat="type in $ctrl.types track by type.type" ng-value="type.type">
                                    <span ma-tr="{{type.description}}"></span>
                                </md-option>
                            </md-select>
                            <div ng-messages="$ctrl.form.modelType.$error">
                                <div ng-message="required" ma-tr="ui.app.required"></div>
                                <div ng-message="validationMessage" ng-bind="$ctrl.form.modelType.validationMessage"></div>
                            </div>
                        </md-input-container>
                        
                        <div flex="100">
                            <md-switch name="enabled" ng-model="$ctrl.dataSource.enabled"><span ma-tr="common.enabled"></span></md-checkbox>
                        </div>
                
                        <md-input-container flex="100" flex-gt-md="50">
                            <label ma-tr="common.xid"></label>
                            <input name="xid" ng-model="$ctrl.dataSource.xid" required>
                            <div ng-messages="$ctrl.form.xid.$error">
                                <div ng-message="required" ma-tr="ui.app.required"></div>
                                <div ng-message="validationMessage" ng-bind="$ctrl.form.xid.validationMessage"></div>
                            </div>
                        </md-input-container>
                
                        <md-input-container flex="100" flex-gt-md="50">
                            <label ma-tr="common.name"></label>
                            <input name="name" ng-model="$ctrl.dataSource.name">
                            <div ng-messages="$ctrl.form.name.$error">
                                <div ng-message="required" ma-tr="ui.app.required"></div>
                                <div ng-message="validationMessage" ng-bind="$ctrl.form.name.validationMessage"></div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout="row" layout-wrap layout-align="start center" ng-if="$ctrl.typesByName[$ctrl.dataSource.modelType].polling">
                        <div flex="100" flex-gt-md="50" layout layout-align="start center">
                            <md-input-container flex>
                                <label ma-tr="dsEdit.updatePeriod"></label>
                                <input name="pollPeriod.periods" ng-model="$ctrl.dataSource.pollPeriod.periods" required type="number" step="1" min="1">
                                <div ng-messages="$ctrl.form['pollPeriod.periods'].$error">
                                    <div ng-message="required" ma-tr="ui.app.required"></div>
                                    <div ng-message="validationMessage" ng-bind="$ctrl.form['pollPeriod.periods'].validationMessage"></div>
                                </div>
                            </md-input-container>
                            <md-input-container flex>
                                <label ma-tr="dsEdit.updatePeriod"></label>
                                <md-select name="pollPeriod.type" ng-model="$ctrl.dataSource.pollPeriod.type" required>
                                    <md-option ng-repeat="type in $ctrl.timePeriodTypes track by type.type" ng-value="type.type">
                                        <span ma-tr="{{type.translation}}"></span>
                                    </md-option>
                                </md-select>
                                <div ng-messages="$ctrl.form['pollPeriod.type'].$error">
                                    <div ng-message="validationMessage" ng-bind="$ctrl.form['pollPeriod.type'].validationMessage"></div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>

                    <div ng-include="$ctrl.typesByName[$ctrl.dataSource.modelType].templateUrl"></div>
                </div>
            </md-tab-body>
        </md-tab>
        <md-tab ng-if="!$ctrl.dataSource.isNew()" md-on-select="$ctrl.queryPoints()">
            <md-tab-label>
                <span ma-tr="ui.app.dataPoints"></span>
            </md-tab-label>
            <md-tab-body>
                <div class="md-padding ma-no-padding-bottom">
                    <div>
                        <md-button class="md-primary md-raised" ng-click="$ctrl.createDataPoint($event)">
                            <md-icon>add</md-icon>&nbsp;<span ma-tr="common.add"></span>
                        </md-button>
                        <md-button class="md-primary md-raised">
                            <md-icon>add</md-icon>&nbsp;<span ma-tr="ui.app.addMultiple"></span>
                        </md-button>
                        <md-button class="md-raised" ng-disabled="!$ctrl.selectedPoints.length">
                            <md-icon>edit</md-icon>&nbsp;<span ma-tr="ui.app.editSelected"></span>
                        </md-button>
                        <md-button class="md-raised md-warn" ng-disabled="!$ctrl.selectedPoints.length">
                            <md-icon>delete</md-icon>&nbsp;<span ma-tr="ui.app.deleteSelected"></span>
                        </md-button>
                    </div>
                    <md-table-container>
                        <table md-table md-row-select multiple ng-model="$ctrl.selectedPoints" md-progress="$ctrl.pointsPromise">
                            <thead md-head md-order="$ctrl.pointsQuery.order" md-on-reorder="$ctrl.queryPointsBound">
                                <tr md-row>
                                    <th md-column md-order-by="deviceName" ma-tr="common.deviceName"></th>
                                    <th md-column md-order-by="name" ma-tr="common.name"></th>
                                    <th md-column md-order-by="xid" ma-tr="common.xid"></th>
                                    <th md-column ma-tr="ui.app.tags"></th>
                                    <th md-column></th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row md-select="point" md-select-id="id" ng-repeat="point in $ctrl.points track by point.id">
                                    <td md-cell ng-bind="point.deviceName"></td>
                                    <td md-cell ng-bind="point.name"></td>
                                    <td md-cell ng-bind="point.xid"></td>
                                    <td md-cell ng-bind="point.formatTags()"></td>
                                    <td md-cell class="ma-point-actions">
                                        <div layout layout-align="end center">
                                            <md-switch ng-model="point.isEnabled" ma-form-exclude></md-switch>
                                            <md-button class="md-icon-button" ng-click="$ctrl.editDataPoint($event, point)">
                                                <md-icon>edit</md-icon>
                                                <md-tooltip ma-tr="common.edit"></md-tooltip>
                                            </md-button>
                                            <md-button class="md-icon-button md-warn" ng-click="$ctrl.deleteDataPoint($event, point)">
                                                <md-icon>delete</md-icon>
                                                <md-tooltip ma-tr="common.delete"></md-tooltip>
                                            </md-button>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-if="!$ctrl.points.length && !$ctrl.queryRunning">
                                    <td colspan="5" class="ma-no-points-found" ma-tr="ui.app.noPointsFoundForDs"></td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <md-table-pagination md-limit="$ctrl.pointsQuery.limit" md-limit-options="[5, 10, 15, 20, 50, 100]" md-page="$ctrl.pointsQuery.page"
                        md-total="{{$ctrl.points.$total || 0}}" md-page-select md-on-paginate="$ctrl.queryPointsBound"></md-table-pagination>
                </div>
            </md-tab-body>
        </md-tab>
    </md-tabs>

    <div class="md-padding" ng-if="$ctrl.form.validationMessage" ng-bind="$ctrl.form.validationMessage" role="alert" md-colors="::{color: 'warn'}"></div>

    <div class="md-padding ma-action-buttons">
        <md-button class="md-raised md-primary" ng-click="$ctrl.saveItem($event)" ng-disabled="!$ctrl.form">
            <md-icon>save</md-icon>
            <span ma-tr="common.save"></span>
        </md-button>
        <md-button class="md-raised" ng-click="$ctrl.revertItem($event)" ng-disabled="$ctrl.form.$pristine">
            <md-icon>undo</md-icon>
            <span ma-tr="ui.app.revert"></span>
        </md-button>
        <md-button class="md-raised md-warn" ng-click="$ctrl.deleteItem($event)" ng-disabled="$ctrl.dataSource.isNew()">
            <md-icon>delete</md-icon>
            <span ma-tr="common.delete"></span>
        </md-button>
    </div>
</div>

<ma-dialog show-dialog="$ctrl.dataPoint" on-hide="$ctrl.dataPoint = null" on-cancel="$ctrl.dataPoint = null">
    <md-dialog flex="100" flex-gt-sm="80" flex-gt-md="65" flex-gt-lg="50" flex-gt-xl="30">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span ng-if="!$ctrl.dataPoint.isNew()" ma-tr="dsList.editDataPoint" ma-tr-args="[$ctrl.dataPoint.name]"></span>
                    <span ng-if="$ctrl.dataPoint.isNew()" ma-tr="dsList.createDataPoint"></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$dialog.cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        
        <md-dialog-content layout="column" flex>
            <ma-data-point-editor flex="noshrink" layout="column" dynamic-height="!$dialog.fullscreen()"
                ng-model="$ctrl.dataPoint" ng-change="$ctrl.dataPointEdited()" fixed-type="true"
                ma-form-exclude>
            </ma-data-point-editor>
        </md-dialog-content>
    </md-dialog>
</ma-dialog>