<div layout="column" ng-init="page={}" class="data-point-details-page">
	<div flex layout="column" layout-gt-sm="row">
		<ma-point-values point="myPoint" values="renderedPointValues" from="$ctrl.dateBar.from" to="$ctrl.dateBar.to" rendered="true" rollup="{{$ctrl.dateBar.rollupType}}"
	      rollup-interval="{{$ctrl.dateBar.rollupIntervals}} {{$ctrl.dateBar.rollupIntervalPeriod}}" auto-rollup-interval="$ctrl.dateBar.autoRollup">
	    </ma-point-values>
        
        <ma-point-values point="myPoint" values="pointValues" from="$ctrl.dateBar.from" to="$ctrl.dateBar.to" converted="true" rollup="{{$ctrl.dateBar.rollupType}}"
          rollup-interval="{{$ctrl.dateBar.rollupIntervals}} {{$ctrl.dateBar.rollupIntervalPeriod}}" auto-rollup-interval="$ctrl.dateBar.autoRollup">
        </ma-point-values>

		<md-card flex class="dpd-small-card">
			<md-toolbar class="md-whiteframe-1dp md-hue-3">
				<div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
					<h2 flex>
		              <span><span ma-tr="dashboards.v3.app.dataPoint"></span>: <span ng-bind="myPoint.deviceName"></span> &mdash; <span ng-bind="myPoint.name"></span></span>
			        </h2>
				</div>
			</md-toolbar>
			<md-card-content layout="column" layout-align="space-between" flex>
				<ma-filtering-point-list ng-model="selectedPoint" ng-change="$ctrl.pointChanged(selectedPoint)" auto-init="true"
                    point-xid="{{$ctrl.pointXid}}" point-id="$ctrl.pointId"></ma-filtering-point-list>
				
				<div layout="row" layout-wrap class="point-details">
					<div ng-if="myPoint.pointLocator.dataType !== 'IMAGE'" flex="100" layout>
                      <label flex="35"><span ma-tr="dashboards.v3.app.value"></span>:</label>
                      <div class="point-value" flex="65"><ma-point-value point="myPoint" on-value-updated="$ctrl.pointValueChanged(myPoint)"></ma-point-value></div>
                    </div>
					<ma-point-value ng-if="myPoint.pointLocator.dataType === 'IMAGE'" flex="100"
                      point="myPoint" on-value-updated="$ctrl.pointValueChanged(myPoint)"></ma-point-value>
                    <label flex="35"><span ma-tr="dashboards.v3.app.xid"></span>:</label> <div flex="65" ng-bind="myPoint.xid"></div>
					<label flex="35"><span ma-tr="dashboards.v3.app.time"></span>:</label> <div class="point-time" flex="65" ng-bind="$ctrl.pointTime"></div>
					<label flex="35"><span ma-tr="dashboards.v3.app.path"></span>:</label>  <div flex="65"><span ng-repeat="folder in $ctrl.path track by $index"><span ng-bind="folder"></span> <span ng-if="!$last"> &gt; </span></span></div>
					<label flex="35"><span ma-tr="dashboards.v3.app.dataSource"></span>:</label> <div flex="65" ng-bind="myPoint.dataSourceName"></div>
					<div flex="65">
						<!-- <ma-point-hierarchy></ma-point-hierarchy> -->
					</div>
				</div>
				<div layout="row">
					<ma-set-point-value ng-if="myPoint.pointLocator.dataType !== 'IMAGE'" point="myPoint" flex="95"></ma-set-point-value>
					<md-button class="md-accent md-raised" ng-show="$ctrl.User.current.hasPermission('superadmin')"
                        ng-href="/data_point_edit.shtm?dpid={{myPoint.id}}" target="_blank""><md-icon>open_in_new</md-icon> <span ma-tr="dashboards.v3.app.edit"></span></md-button>
				</div>
			</md-card-content>
		</md-card>
		
		<md-card flex class="dpd-small-card">
			<md-toolbar class="md-whiteframe-1dp md-hue-3">
				<div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
					<h2 flex>
			            <span ma-tr="dashboards.v3.app.pointValueHistory"></span>
			        </h2>
					<h2 style="padding-right: 5px;">
			            <span ma-tr="dashboards.v3.app.realtime"></span>
			        </h2>
					<md-switch ng-model="$ctrl.realtimeMode" aria-label="Realtime Mode" ng-init="$ctrl.realtimeMode = true">
					</md-switch>
				</div>
			</md-toolbar>
			<md-table-container ng-init="myOrder='-timestamp'">
				<table md-table>
					<thead md-head md-order="myOrder">
						<tr md-row>
							<th md-column md-order-by="timestamp" ma-tr="dashboards.v3.app.time"></th>
							<th md-column md-order-by="value" ma-tr="dashboards.v3.app.pointValue"></th>
						</tr>
					</thead>
					<tbody md-body ng-if="!$ctrl.realtimeMode">
						<tr md-row ng-repeat="value in renderedPointValues | orderBy: myOrder track by value.timestamp">
							<td md-cell ng-bind="$ctrl.mdAdminSettings.formatDate(value.timestamp, 'shortDateTimeSeconds')"></td>
							<td ng-if="myPoint.pointLocator.dataType !== 'IMAGE'" md-cell><span ng-bind="::value.value"></span> <strong ng-if="::value.annotation"><em>(<span ng-bind="::value.annotation"></span>)</em></strong></td>
	                        <td ng-if="myPoint.pointLocator.dataType == 'IMAGE'" md-cell><img ng-src="{{::value.value}}" alt="{{::value.annotation||''}}" class="imageValue"></td>
						</tr>
					</tbody>
					<tbody md-body ng-if="$ctrl.realtimeMode">
						<ma-point-values point="myPoint" values="realtimePointValues" realtime="true" rendered="true" latest="100"></ma-point-values>
						<tr md-row ng-repeat="value in realtimePointValues | orderBy: myOrder track by value.timestamp">
							<td md-cell ng-bind="$ctrl.mdAdminSettings.formatDate(value.timestamp, 'shortDateTimeSeconds')"></td>
							<td ng-if="myPoint.pointLocator.dataType !== 'IMAGE'" md-cell><span ng-bind="::value.value"></span> <strong ng-if="::value.annotation"><em>(<span ng-bind="::value.annotation"></span>)</em></strong></td>
	                        <td ng-if="myPoint.pointLocator.dataType == 'IMAGE'" md-cell><img ng-src="{{::value.value}}" alt="{{::value.annotation||''}}" class="imageValue"></td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
		</md-card>
	</div>
	
	<div flex layout="column" layout-gt-sm="row">
		<md-card flex class="dpd-small-card">
			<md-toolbar class="md-whiteframe-1dp md-hue-3">
				<div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
					<h2 flex>
			              <span ma-tr="dashboards.v3.app.pointStatistics"></span>
			        </h2>
				</div>
			</md-toolbar>
			<ma-point-statistics point="myPoint" from="$ctrl.dateBar.from" to="$ctrl.dateBar.to" statistics="statsObj"></ma-point-statistics>
			<ma-statistics-table statistics="statsObj"></ma-statistics-table>
			<br />
		</md-card>
		
		<ma-user-notes-table reference-id="myPoint.id" comment-type="POINT" flex class="dpd-small-card"></ma-user-notes-table>	
	</div>

	<md-card flex ng-if="myPoint.pointLocator.dataType !== 'ALPHANUMERIC' && myPoint.pointLocator.dataType !== 'IMAGE'">
		<md-toolbar class="md-whiteframe-1dp md-hue-3">
			<div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
				<h2 flex>
					  <span ma-tr="dashboards.v3.app.chart"></span>
				</h2>
				<md-select ng-model="$ctrl.chartType" aria-label="Chart Type">
					<md-option value="smoothedLine" ma-tr="dashboards.v3.app.smooth"></md-option>
					<md-option value="line" ma-tr="dashboards.v3.app.line"></md-option>
					<md-option value="step" ma-tr="dashboards.v3.app.step"></md-option>
					<md-option value="column" ma-tr="dashboards.v3.app.bar"></md-option>
				</md-select>
			</div>
		</md-toolbar>
		<ma-serial-chart style="width: 100%" series-1-values="pointValues" series-1-point="myPoint" series-1-type="{{$ctrl.chartType}}" legend="false" balloon="true" export="true">
		</ma-serial-chart>
	</md-card>

    <md-card flex ng-if="myPoint.pointLocator.dataType == 'IMAGE'">
      <md-toolbar class="md-whiteframe-1dp md-hue-3">
        <div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
          <h2 flex>
              <span ma-tr="dashboards.v3.app.images"></span>
          </h2>
        </div>
      </md-toolbar>
      <ma-image-slider point-values="renderedPointValues"></ma-image-slider>
    </md-card>

	<md-card flex>
		<md-toolbar class="md-whiteframe-1dp md-hue-3">
			<div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
				<h2 flex>
					  <span ma-tr="dashboards.v3.app.pointEvents"></span>
				</h2>
			</div>
		</md-toolbar>
		<ma-events-table single-point="true" point-id="myPoint.id" limit="15" from="$ctrl.dateBar.from" to="$ctrl.dateBar.to" sort="'-activeTimestamp'"></ma-events-table>
	</md-card>
</div>