<div layout="column" layout-align="start start">
    <ma-system-setting-editor label-tr="systemSettings.useProxy" key="httpClientUseProxy" type="BOOLEAN" input-type="checkbox" on-value-changed="useProxy = $value"></ma-system-setting-editor>
</div>

<div layout layout-wrap layout-align="start center" ng-show="useProxy">
  <ma-system-setting-editor label-tr="systemSettings.proxyHost" key="httpClientProxyServer" flex="100" flex-gt-md="50"></ma-system-setting-editor>
  <ma-system-setting-editor label-tr="systemSettings.proxyPort" key="httpClientProxyPort" type="INTEGER" input-type="number" flex="100" flex-gt-md="50"></ma-system-setting-editor>
  <ma-system-setting-editor label-tr="systemSettings.proxyUsername" key="httpClientProxyUsername" flex="100" flex-gt-md="50"></ma-system-setting-editor>
  <ma-system-setting-editor label-tr="systemSettings.proxyPassword" key="httpClientProxyPassword" input-type="password" flex="100" flex-gt-md="50"></ma-system-setting-editor>
</div>

<!--
    public static final String HTTP_CLIENT_USE_PROXY = "httpClientUseProxy";
    public static final String HTTP_CLIENT_PROXY_SERVER = "httpClientProxyServer";
    public static final String HTTP_CLIENT_PROXY_PORT = "HTTP_CLIENT_PROXY_PORT";
    public static final String HTTP_CLIENT_PROXY_USERNAME = "httpClientProxyUsername";
    public static final String HTTP_CLIENT_PROXY_PASSWORD = "httpClientProxyPassword";
  <tag:labelledSection labelKey="systemSettings.httpSettings" closed="true">
    <table>
      <tr>
        <td class="formLabelRequired"><fmt:message key="systemSettings.useProxy"/></td>
        <td class="formField">
          <input id="<c:out value="<%= SystemSettingsDao.HTTP_CLIENT_USE_PROXY %>"/>" type="checkbox"
                  onclick="httpUseProxyChange()"/>
        </td>
      </tr>
      <tr>
        <td class="formLabel"><fmt:message key="systemSettings.proxyHost"/></td>
        <td class="formField"><input id="<c:out value="<%= SystemSettingsDao.HTTP_CLIENT_PROXY_SERVER %>"/>" type="text"/></td>
      </tr>
      <tr>
        <td class="formLabel"><fmt:message key="systemSettings.proxyPort"/></td>
        <td class="formField"><input id="<c:out value="<%= SystemSettingsDao.HTTP_CLIENT_PROXY_PORT %>"/>" type="text"/></td>
      </tr>
      <tr>
        <td class="formLabel"><fmt:message key="systemSettings.proxyUsername"/></td>
        <td class="formField"><input id="<c:out value="<%= SystemSettingsDao.HTTP_CLIENT_PROXY_USERNAME %>"/>" type="text"/></td>
      </tr>
      <tr>
        <td class="formLabel"><fmt:message key="systemSettings.proxyPassword"/></td>
        <td class="formField"><input id="<c:out value="<%= SystemSettingsDao.HTTP_CLIENT_PROXY_PASSWORD %>"/>" type="password"/></td>
      </tr>
      
      <tr>
        <td colspan="2" align="center">
          <input id="saveHttpSettingsBtn" type="button" value="<fmt:message key="common.save"/>" onclick="saveHttpSettings()"/>
          <tag:help id="httpSettings"/>
        </td>
      </tr>
      
      <tr><td colspan="2" id="httpMessage" class="formError"></td></tr>
    </table>
  </tag:labelledSection> 
 -->