<div layout="column" layout-align="start start">
    <ma-system-setting-editor label-tr="systemSettings.enablePurgePointData" key="enablePurgePointValues" type="BOOLEAN" input-type="checkbox"></ma-system-setting-editor>
</div>

<div layout layout-wrap layout-align="space-between start">
  <div layout flex="100" flex-gt-md="40">
    <ma-system-setting-editor label-tr="systemSettings.purgePointData" key="pointDataPurgePeriods" type="INTEGER" input-type="number" flex="50"></ma-system-setting-editor>
    <ma-system-setting-editor key="pointDataPurgePeriodType" input-type="timeperiodtype" flex="50"></ma-system-setting-editor>
  </div>
  <div layout flex="100" flex-gt-md="40">
    <ma-system-setting-editor label-tr="systemSettings.purgeDataPointEvents" key="dataPointEventPurgePeriods" type="INTEGER" input-type="number" flex="50"></ma-system-setting-editor>
    <ma-system-setting-editor key="dataPointEventPurgePeriodType" input-type="timeperiodtype" flex="50"></ma-system-setting-editor>
  </div>
  <div layout flex="100" flex-gt-md="40">
    <ma-system-setting-editor label-tr="systemSettings.purgeDataSourceEvents" key="dataSourceEventPurgePeriods" type="INTEGER" input-type="number" flex="50"></ma-system-setting-editor>
    <ma-system-setting-editor key="dataSourceEventPurgePeriodType" input-type="timeperiodtype" flex="50"></ma-system-setting-editor>
  </div>
  <div layout flex="100" flex-gt-md="40">
    <ma-system-setting-editor label-tr="systemSettings.purgeSystemEvents" key="systemEventPurgePeriods" type="INTEGER" input-type="number" flex="50"></ma-system-setting-editor>
    <ma-system-setting-editor key="systemEventPurgePeriodType" input-type="timeperiodtype" flex="50"></ma-system-setting-editor>
  </div>
  <div layout flex="100" flex-gt-md="40">
    <ma-system-setting-editor label-tr="systemSettings.purgePublisherEvents" key="publisherEventPurgePeriods" type="INTEGER" input-type="number" flex="50"></ma-system-setting-editor>
    <ma-system-setting-editor key="publisherEventPurgePeriodType" input-type="timeperiodtype" flex="50"></ma-system-setting-editor>
  </div>
  <div layout flex="100" flex-gt-md="40">
    <ma-system-setting-editor label-tr="systemSettings.purgeAuditEvents" key="auditEventPurgePeriods" type="INTEGER" input-type="number" flex="50"></ma-system-setting-editor>
    <ma-system-setting-editor key="auditEventPurgePeriodType" input-type="timeperiodtype" flex="50"></ma-system-setting-editor>
  </div>
  <div layout flex="100" flex-gt-md="40">
    <ma-system-setting-editor label-tr="systemSettings.purgeNoneAlarm" key="noneAlarmPurgePeriods" type="INTEGER" input-type="number" flex="50"></ma-system-setting-editor>
    <ma-system-setting-editor key="noneAlarmPurgePeriodType" input-type="timeperiodtype" flex="50"></ma-system-setting-editor>
  </div>
  <div layout flex="100" flex-gt-md="40">
    <ma-system-setting-editor label-tr="systemSettings.purgeInformationAlarm" key="informationAlarmPurgePeriods" type="INTEGER" input-type="number" flex="50"></ma-system-setting-editor>
    <ma-system-setting-editor key="informationAlarmPurgePeriodType" input-type="timeperiodtype" flex="50"></ma-system-setting-editor>
  </div>
  <div layout flex="100" flex-gt-md="40">
    <ma-system-setting-editor label-tr="systemSettings.purgeImportantAlarm" key="importantAlarmPurgePeriods" type="INTEGER" input-type="number" flex="50"></ma-system-setting-editor>
    <ma-system-setting-editor key="importantAlarmPurgePeriodType" input-type="timeperiodtype" flex="50"></ma-system-setting-editor>
  </div>
  <div layout flex="100" flex-gt-md="40">
    <ma-system-setting-editor label-tr="systemSettings.purgeWarningAlarm" key="warningAlarmPurgePeriods" type="INTEGER" input-type="number" flex="50"></ma-system-setting-editor>
    <ma-system-setting-editor key="warningAlarmPurgePeriodType" input-type="timeperiodtype" flex="50"></ma-system-setting-editor>
  </div>
  <div layout flex="100" flex-gt-md="40">
    <ma-system-setting-editor label-tr="systemSettings.purgeUrgentAlarm" key="urgentAlarmPurgePeriods" type="INTEGER" input-type="number" flex="50"></ma-system-setting-editor>
    <ma-system-setting-editor key="urgentAlarmPurgePeriodType" input-type="timeperiodtype" flex="50"></ma-system-setting-editor>
  </div>
  <div layout flex="100" flex-gt-md="40">
    <ma-system-setting-editor label-tr="systemSettings.purgeCriticalAlarm" key="criticalAlarmPurgePeriods" type="INTEGER" input-type="number" flex="50"></ma-system-setting-editor>
    <ma-system-setting-editor key="criticalAlarmPurgePeriodType" input-type="timeperiodtype" flex="50"></ma-system-setting-editor>
  </div>
  <div layout flex="100" flex-gt-md="40">
    <ma-system-setting-editor label-tr="systemSettings.purgeLifeSafetyAlarm" key="lifeSafetyAlarmPurgePeriods" type="INTEGER" input-type="number" flex="50"></ma-system-setting-editor>
    <ma-system-setting-editor key="lifeSafetyAlarmPurgePeriodType" input-type="timeperiodtype" flex="50"></ma-system-setting-editor>
  </div>
  <div layout flex="100" flex-gt-md="40">
    <ma-system-setting-editor label-tr="systemSettings.purgeEvents" key="eventPurgePeriods" type="INTEGER" input-type="number" flex="50"></ma-system-setting-editor>
    <ma-system-setting-editor key="eventPurgePeriodType" input-type="timeperiodtype" flex="50"></ma-system-setting-editor>
  </div>
  <div layout flex="100" flex-gt-md="40">
    <ma-system-setting-editor label-tr="systemSettings.futureDateLimit" key="futureDateLimitPeriods" type="INTEGER" input-type="number" flex="50"></ma-system-setting-editor>
    <ma-system-setting-editor key="futureDateLimitPeriodType" type="INTEGER" input-type="select" flex="50">
        <md-option value="2"><span ma-tr="common.tp.minutes"></span></md-option>
        <md-option value="3"><span ma-tr="common.tp.hours"></span></md-option>
    </ma-system-setting-editor>
  </div>
</div>

<!-- 
<div layout="row" layout-align="start start">
  <md-button class="md-raised md-warn" ng-click="$ctrl.confirm($event, $ctrl.purgeAllData, 'systemSettings.purgeDataConfirm')">
    <md-icon>delete_forever</md-icon> <span ma-tr="systemSettings.purgeData"></span>
  </md-button>
  <md-button class="md-raised md-warn" ng-click="$ctrl.confirm($event, $ctrl.purgeAllEvents, 'systemSettings.purgeAllEventsConfirm')">
    <md-icon>delete_forever</md-icon> <span ma-tr="systemSettings.purgeAllEvents"></span>
  </md-button>
  <md-button class="md-raised md-warn md-hue-3" ng-click="$ctrl.confirm($event, $ctrl.purgeData, 'systemSettings.purgeDataWithPurgeSettingsConfirm')">
    <md-icon>delete</md-icon> <span ma-tr="systemSettings.purgeNow"></span>
  </md-button>
</div>
 -->