<div layout="column">
    <md-checkbox ng-model="$ctrl.sendEmail"><span ma-tr="login.sendEmail"></span></md-checkbox>
    <md-checkbox ng-model="$ctrl.lockPassword"><span ma-tr="users.lockPassword"></span></md-checkbox>
</div>

<div layout>
    <md-input-container flex>
        <label ma-tr="login.resetToken"></label>
        <textarea readonly="readonly" ng-model="$ctrl.resetToken.token"></textarea>
    </md-input-container>
</div>

<div layout class="ma-reset-password-buttons">
    <md-button class="md-raised md-primary" ng-click="$ctrl.createLink($event)" ng-disabled="$ctrl.resetToken">
        <md-icon>{{$ctrl.sendEmail ? 'send' : 'arrow_forward'}}</md-icon>&nbsp;<span ma-tr="{{$ctrl.sendEmail ? 'users.sendResetToken' : 'users.createResetToken'}}"></span>
    </md-button>
    <md-button class="md-raised" ng-click="$ctrl.copyToClipboard($event)" ng-if="$ctrl.resetToken">
        <md-icon>content_copy</md-icon>&nbsp;<span ma-tr="common.copyToClipboard"></span>
    </md-button>
</div>