<pre ng-bind="$ctrl.resetData | json"></pre>

<div layout="column">
    <md-checkbox ng-model="$ctrl.sendEmail"><span ma-tr="login.sendEmail"></span></md-checkbox>
    <md-checkbox ng-model="$ctrl.lockPassword"><span ma-tr="users.lockPassword"></span></md-checkbox>
</div>

<div layout="row" layout-align="end start">
<md-button class="md-raised md-primary" ng-click="$ctrl.createLink()" ng-if="!$ctrl.resetData">
    <span ma-tr="header.resetPassword"></span>
</md-button>
<md-button class="md-raised" ng-click="$ctrl.onOk()" ng-if="$ctrl.resetData">
    <span ma-tr="common.ok"></span>
</md-button>
</div>