<div layout="column">
    <md-checkbox ng-model="$ctrl.sendEmail" ng-disabled="$ctrl.resetToken"><span ma-tr="users.sendResetToken"></span></md-checkbox>
    <md-checkbox ng-model="$ctrl.lockPassword" ng-disabled="$ctrl.resetToken"><span ma-tr="users.lockPassword"></span></md-checkbox>
</div>

<div layout ng-if="$ctrl.resetToken">
    <md-input-container flex>
        <label ma-tr="login.resetToken"></label>
        <textarea readonly="readonly" ng-model="$ctrl.resetToken.token"></textarea>
    </md-input-container>
</div>

<div ng-if="$ctrl.sendEmail" ma-tr="{{$ctrl.resetToken ? 'users.emailSentTo' : 'users.emailWillBeSentTo'}}" ma-tr-args="[$ctrl.user.email]"></div>
<div ng-if-start="$ctrl.resetToken.claims"
     ma-tr="login.tokenExpiryMessage"
     ma-tr-args="[($ctrl.tokenExpiry() | maMoment:'format':'LT z'), ($ctrl.tokenExpiry(true) | maDuration:'humanize':true)]">
</div>
<div ng-if-end>
    <a ng-href="{{$ctrl.resetToken.relativeUrl}}" ma-tr="users.passwordResetLink"></a>
</div>

<div layout class="ma-reset-password-buttons">
    <md-button class="md-raised md-primary" ng-click="$ctrl.createLink($event)" ng-if="!$ctrl.resetToken">
        <md-icon>settings_backup_restore</md-icon>&nbsp;<span ma-tr="users.createResetToken"></span>
    </md-button>
    <md-button class="md-raised" ng-click="$ctrl.copyToClipboard($event)" ng-if="$ctrl.resetToken">
        <md-icon>content_copy</md-icon>&nbsp;<span ma-tr="common.copyToClipboard"></span>
    </md-button>
</div>