<md-card ng-if="!$ctrl.$mdMedia('gt-md')">
    <md-card-content class="ma-ui-system-settings-dropdown" layout>
        <md-input-container flex>
            <label ma-tr="ui.app.chooseASection"></label>
            <md-select ng-init="section = $ctrl.$state.current" ng-model="section" ng-change="" ng-model-options="{trackBy: '$value.name'}">
                <md-option ng-repeat="child in $ctrl.menu.menuItemsByName['ui.settings.system'].children | orderBy:['weight', 'name'] track by child.name"
                    ng-value="child" ui-sref="{{child.name}}"><span ma-tr="{{child.menuTr}}"></span></md-option>
            </md-select>
        </md-input-container>
    </md-card-content>
</md-card>

<div flex="noshrink" layout>
    <div layout="column" flex="25" ng-if="$ctrl.$mdMedia('gt-md')">
        <md-card flex>
            <md-card-title flex="none">
              <md-card-title-text>
                <div class="md-headline" ma-tr="ui.app.chooseASection"></div>
              </md-card-title-text>
            </md-card-title>
            <md-card-content class="ma-no-padding">
                <md-list class="ma-no-padding">
                    <md-list-item ng-repeat="child in $ctrl.menu.menuItemsByName['ui.settings.system'].children | orderBy:['weight', 'name'] track by child.name"
                            ui-sref="{{child.name}}" md-colors="{'background': $ctrl.$state.current.name === child.name ? 'accent' : 'background-hue-1'}">
                        <p ma-tr="{{child.menuTr}}"></p>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    
    <div layout="column" flex>
        <md-card>
            <md-card-title ng-if="$ctrl.$mdMedia('gt-md')">
              <md-card-title-text>
                <div class="md-headline" ma-tr="{{$ctrl.$state.current.menuTr}}"></div>
              </md-card-title-text>
            </md-card-title>
            <md-card-content class="ma-ui-system-settings-main" ui-view></md-card-content>
        </md-card>
    </div>
</div>

<!-- 
<div ma-accordion="accordion" ma-accordion-single>
  <md-card class="ma-accordion" ng-repeat="section in $ctrl.SystemSettings.getSections() track by $index">
    <md-card-title ng-click="accordion.toggle(section.id || 'section' + $index)">
      <md-card-title-text>
        <div class="md-headline" ng-class="{'ma-accordion-expanded': accordion.section[section.id || 'section' + $index]}" layout layout-align="start center">
          <span flex ma-tr="{{section.titleTr}}"></span><md-icon>keyboard_arrow_down</md-icon>
        </div>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <ma-accordion-section id="{{section.id || 'section' + $index}}" ma-accordion-open="$index === 0">
        <div layout="column" class="md-padding" ng-include="section.template"></div>
      </ma-accordion-section>
    </md-card-content>
  </md-card>
</div>
 -->