<ma-json-store xid="dashboardStore" item="$ctrl.dashboardStoreItem" value="$ctrl.dashboardList"></ma-json-store>

<div layout="column" layout-gt-md="row" flex>
    <div layout="row" flex layout-align="start center">
        <md-input-container flex>
            <label>Choose Site</label>
            <md-select ng-model="$ctrl.selectedDashboard" ng-disabled="!$ctrl.localDashboardList.list.length" ng-change="$ctrl.dashboardChanged()">
                <md-option ng-repeat="dashboard in $ctrl.localDashboardList.list track by dashboard.uid" ng-value="dashboard" ng-bind="dashboard.name"></md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex ng-show="!$ctrl.selectOnlyMode">
            <label ma-tr="dashboards.v3.app.name"></label>
            <input ng-disabled="!$ctrl.localDashboardList.list.length" ng-model="$ctrl.selectedDashboard.name" md-select-on-focus id="dashboard-name-input" ng-change="$ctrl.markerNameChanged()">
        </md-input-container>
        <md-input-container flex ng-show="!$ctrl.selectOnlyMode">
            <label ma-tr="dashboards.v3.app.lat"></label>
            <input ng-disabled="!$ctrl.localDashboardList.list.length" type="number" ng-model="$ctrl.selectedDashboard.lat" md-select-on-focus>
        </md-input-container>
        <md-input-container flex ng-show="!$ctrl.selectOnlyMode">
            <label ma-tr="dashboards.v3.app.long"></label>
            <input ng-disabled="!$ctrl.localDashboardList.list.length" type="number" ng-model="$ctrl.selectedDashboard.long" md-select-on-focus>
        </md-input-container>

        <md-input-container flex ng-show="!$ctrl.selectOnlyMode">
            <label ma-tr="dashboards.v3.app.selectMarkerIcon"></label>
            <md-select ng-model="$ctrl.selectedDashboard.myMarkerIcon" ng-disabled="!$ctrl.localDashboardList.list.length" ng-change="$ctrl.markerChanged()">
                <md-option ng-repeat="markerIcon in $ctrl.markerIcons" ng-value="markerIcon.image" ng-bind="markerIcon.name"></md-option>
            </md-select>
        </md-input-container>

        <ma-filtering-point-list ng-show="!$ctrl.selectOnlyMode" ng-if="$ctrl.binaryMarkerMode" ng-model="$ctrl.markersBinaryPoint" point-xid="{{$ctrl.selectedDashboard.markersBinaryPoint}}" auto-init="true"></ma-filtering-point-list>
        
        <md-input-container flex ng-if="$ctrl.binaryMarkerMode && $ctrl.markersBinaryPoint" ng-show="!$ctrl.selectOnlyMode">
            <label ma-tr="dashboards.v3.app.selectMarkerIcon"></label>
            <md-select ng-model="$ctrl.selectedDashboard.myMarkerIconFalse" ng-disabled="!$ctrl.localDashboardList.list.length" ng-change="$ctrl.markerChanged()">
                <md-option ng-repeat="markerIcon in $ctrl.markerIcons" ng-value="markerIcon.image" ng-bind="markerIcon.name"></md-option>
            </md-select>
        </md-input-container>
    </div>
    
    <div layout="row" flex layout-align="start center" ng-show="!$ctrl.selectOnlyMode">
        <ma-watch-list-select flex layout="row" ng-if="$ctrl.numWatchLists >= 1" watch-list-xid="{{$ctrl.selectedDashboard.watchLists[0]}}" watch-list="$ctrl.addWatchList1" select-first="false" disabled="!$ctrl.localDashboardList.list.length"></ma-watch-list-select>
        <ma-watch-list-select flex layout="row" ng-if="$ctrl.numWatchLists >= 2" watch-list-xid="{{$ctrl.selectedDashboard.watchLists[1]}}" watch-list="$ctrl.addWatchList2" select-first="false" disabled="!$ctrl.localDashboardList.list.length"></ma-watch-list-select>
        <ma-watch-list-select flex layout="row" ng-if="$ctrl.numWatchLists >= 3" watch-list-xid="{{$ctrl.selectedDashboard.watchLists[2]}}" watch-list="$ctrl.addWatchList3" select-first="false" disabled="!$ctrl.localDashboardList.list.length"></ma-watch-list-select>

        <md-button class="md-raised md-primary md-hue-1" ng-disabled="!$ctrl.selectedDashboard.name || !$ctrl.selectedDashboard.lat || !$ctrl.selectedDashboard.long || ($ctrl.numWatchLists >= 1 && !$ctrl.addWatchList1.xid)" 
        ng-click="$ctrl.save()">
            <md-icon>save</md-icon>
            <span ma-tr="common.save"></span>
        </md-button>
        <md-button class="md-raised md-warn" ng-disabled="!$ctrl.selectedDashboard" ng-click="$ctrl.deleteDashboard();">
            <md-icon>delete</md-icon>
            <span ma-tr="common.delete"></span>
        </md-button>
        <md-button class="md-raised md-accent" ng-click="$ctrl.addDashboard()">
            <md-icon>add</md-icon>
            <span>New Site</span>
        </md-button>
    </div>
</div>