<ma-json-store xid="dashboardStore" item="$ctrl.dashboardStoreItem" value="$ctrl.dashboardList"></ma-json-store>
<!--
<md-input-container flex ng-if="$ctrl.selectOnlyMode">
    <label>Choose Site</label>
    <md-select ng-model="$ctrl.storedDashboard" ng-model-options="{trackBy: '$value.name'}" ng-disabled="!$ctrl.dashboardList.dashboards.length"  ng-change="$ctrl.changedDashboard()">
        <md-option ng-repeat="dashboard in $ctrl.dashboardList.dashboards track by dashboard.name" ng-value="dashboard" ng-bind="dashboard.name"></md-option>
    </md-select>
</md-input-container>-->

<div layout="column" layout-gt-md="row" flex ng-init="$ctrl.dashboardList.dashboards=[];" ng-if="!$ctrl.selectOnlyMode">
    <div layout="row" flex layout-align="start center">
        <md-input-container flex>
            <label>Choose Site</label>
            <md-select ng-model="$ctrl.storedDashboard" ng-disabled="!$ctrl.dashboardList.dashboards.length" ng-change="$ctrl.changedDashboard()">
                <md-option ng-repeat="dashboard in $ctrl.dashboardList.dashboards" ng-value="dashboard" ng-bind="dashboard.name"></md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex>
            <label ma-tr="dashboards.v3.app.name"></label>
            <input ng-disabled="!$ctrl.dashboardList.dashboards.length" ng-model="$ctrl.selectedDashboard.name" ng-model-options="{debounce: 1000}" md-select-on-focus id="dashboard-name-input">
        </md-input-container>
        <md-input-container flex>
            <label ma-tr="dashboards.v3.app.lat"></label>
            <input ng-disabled="!$ctrl.dashboardList.dashboards.length" type="number" ng-model="$ctrl.selectedDashboard.lat" md-select-on-focus>
        </md-input-container>
        <md-input-container flex>
            <label ma-tr="dashboards.v3.app.long"></label>
            <input ng-disabled="!$ctrl.dashboardList.dashboards.length" type="number" ng-model="$ctrl.selectedDashboard.long" md-select-on-focus>
        </md-input-container>
        <md-input-container flex>
            <label ma-tr="dashboards.v3.app.selectMarkerIcon"></label>
            <md-select ng-model="$ctrl.selectedDashboard.markerIcon" ng-disabled="!$ctrl.dashboardList.dashboards.length">
                <md-option ng-repeat="markerIcon in $ctrl.markerIcons" ng-value="markerIcon.image" ng-bind="markerIcon.name"></md-option>
            </md-select>
        </md-input-container>
    </div>
    
    <div layout="row" flex layout-align="start center">
        <ma-watch-list-select flex layout="row" watch-list-xid="{{$ctrl.selectedDashboard.watchLists[0]}}" watch-list="$ctrl.addWatchList[0]" select-first="false" disabled="!$ctrl.dashboardList.dashboards.length"></ma-watch-list-select>
        <ma-watch-list-select flex layout="row" watch-list-xid="{{$ctrl.selectedDashboard.watchLists[1]}}" watch-list="$ctrl.addWatchList[1]" select-first="false" disabled="!$ctrl.dashboardList.dashboards.length"></ma-watch-list-select>
        <ma-watch-list-select flex layout="row" watch-list-xid="{{$ctrl.selectedDashboard.watchLists[2]}}" watch-list="$ctrl.addWatchList[2]" select-first="false" disabled="!$ctrl.dashboardList.dashboards.length"></ma-watch-list-select>

        <md-button class="md-raised md-primary md-hue-1" ng-disabled="!$ctrl.selectedDashboard.name || !$ctrl.selectedDashboard.lat || !$ctrl.selectedDashboard.long || !$ctrl.addWatchList[0].xid || !$ctrl.addWatchList[1].xid
        || !$ctrl.addWatchList[2].xid || !$ctrl.dashboardList.dashboards.length" 
        ng-click="$ctrl.saveSite();">
            <md-icon>save</md-icon>
            <span ma-tr="common.save"></span>
        </md-button>
        <md-button class="md-raised md-warn" ng-disabled="!$ctrl.selectedDashboard" ng-click="$ctrl.deleteDashboard();">
            <md-icon>delete</md-icon>
            <span ma-tr="common.delete"></span>
        </md-button>
        <md-button class="md-raised md-accent" ng-click="$ctrl.addDashboard()">
            <md-icon>add</md-icon>
            <span>New Site</span>
        </md-button>
    </div>
</div>