<md-input-container>
  <label ng-transclude="label">
    <span ma-tr="users.title"></span>
  </label>
  <md-select ng-if="$ctrl.selectMultiple" multiple="true" md-on-open="$ctrl.usersPromise" ma-form-exclude ng-model="$ctrl.selected" ng-change="$ctrl.selectChanged()" ng-model-options="{trackBy: '$value.username'}">
    <md-option ng-if="$ctrl.showClear" ng-value="undefined" md-option-empty><md-icon>clear</md-icon> <em ma-tr="ui.app.clear"></em></md-option>
    <md-option ng-repeat="user in $ctrl.users track by user.username" ng-value="user"><span ng-bind="user.username"></span><span ng-if="!$ctrl.hideName"> <em ng-bind="'(' + user.name + ')'"></em></span></md-option>
  </md-select>
  <md-select ng-if="!$ctrl.selectMultiple" md-on-open="$ctrl.usersPromise" ma-form-exclude ng-model="$ctrl.selected" ng-change="$ctrl.selectChanged()" ng-model-options="{trackBy: '$value.username'}">
    <md-option ng-if="$ctrl.showClear" ng-value="undefined" md-option-empty><md-icon>clear</md-icon> <em ma-tr="ui.app.clear"></em></md-option>
    <md-option ng-repeat="user in $ctrl.users track by user.username" ng-value="user"><span ng-bind="user.username"></span><span ng-if="!$ctrl.hideName"> <em ng-bind="'(' + user.name + ')'"></em></span></md-option>
  </md-select>
</md-input-container>
