<md-input-container>
  <label ng-transclude="label">
    <span ma-tr="users.title"></span>
  </label>
  <md-select ng-model="$ctrl.selectedUser" ng-change="$ctrl.selectUser($ctrl.selectedUser, $event)" ng-model-options="{trackBy: '$value.id'}">
    <md-option ng-if="$ctrl.showClear" ng-value="undefined" md-option-empty><md-icon>clear</md-icon> <em ma-tr="ui.app.clear"></em></md-option>
    <md-option ng-repeat="user in $ctrl.users track by user.id" ng-value="user"><span ng-bind="user.username"></span> <em ng-bind="'(' + user.name + ')'"></em></md-option>
  </md-select>
</md-input-container>
