<div layout="column">
    <div layout layout-align="end">
        <md-button ng-click="$ctrl.getSystemInfo()" class="md-raised md-accent">
            <md-icon>
                refresh
            </md-icon>
            <span ma-tr="ui.app.refreshTable"></span>
        </md-button>
        <md-button ng-click="$ctrl.getPointCounts()" class="md-raised md-accent md-hue-3">
            <md-icon>
                timeline
            </md-icon>
            <span>Get Point Counts</span>
        </md-button>
    </div>

    <md-list flex class="md-dense">
        <md-list-item>
            <span>
                <strong ma-tr="ui.settings.systemStatus.timeZone"></strong>:
                <span ng-bind="$ctrl.systemInfo.timezone"></span>
            </span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <span>
                <strong ma-tr="ui.settings.systemStatus.databaseType"></strong>:
                <span ng-bind="$ctrl.systemInfo.databaseType"></span>
            </span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <span>
                <strong ma-tr="ui.settings.systemStatus.sqlDatabaseSize"></strong>:
                <span ng-bind="$ctrl.systemInfo.sqlDatabaseSize | maBytes"></span>
            </span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <span>
                <strong ma-tr="ui.settings.systemStatus.noSqlPointValueDatabaseSize"></strong>:
                <span ng-bind="$ctrl.systemInfo.noSqlPointValueDatabaseSize | maBytes"></span>
            </span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <span>
                <strong ma-tr="ui.settings.systemStatus.filedataSize"></strong>:
                {{$ctrl.systemInfo.filedataSize | maBytes }} ({{$ctrl.systemInfo.filedataCount}}
                    <span ma-tr="ui.settings.systemStatus.files"></span>)
            </span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <span>
                <strong ma-tr="ui.settings.systemStatus.eventsCount"></strong>:
                <span ng-bind="$ctrl.systemInfo.eventsCount"></span>
            </span>
        </md-list-item>
        <md-divider></md-divider>
    </md-list>

    <br><br>

    <md-table-container ng-if="$ctrl.pointCounts.length">
        <table md-table>
            <thead md-head md-order="sortOrder">
            <tr md-row>
                <th md-column md-order-by="pointName" ma-tr="ui.settings.systemStatus.pointName"></th>
                <th md-column md-numeric md-order-by="pointId"><span ma-tr="ui.settings.systemStatus.pointId"></span></th>
                <th md-column md-numeric md-order-by="count"><span ma-tr="ui.settings.systemStatus.count"></span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="point in $ctrl.pointCounts | orderBy: sortOrder">
                <td md-cell ng-bind="point.pointName"></td>
                <td md-cell ng-bind="point.pointId"></td>
                <td md-cell ng-bind="point.count"></td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</div>