<div layout="column">
    <div layout layout-align="end">
        <md-button ng-click="$ctrl.getThreads()" class="md-raised md-accent">
            <md-icon>
                refresh
            </md-icon>
            <span ma-tr="ui.app.refreshTable"></span>
        </md-button>
        <md-button href="/rest/v1/threads?stackDepth=30&asFile=true"
                   class="md-raised md-accent md-hue-3">
            <md-icon>
                file_download
            </md-icon>
            <span ma-tr="ui.settings.systemStatus.downloadThreadDump"></span>
        </md-button>
    </div>

    <md-table-container>
        <table md-table md-row-select ng-model="$ctrl.selectedThread">
            <thead md-head md-order="sortOrder">
            <tr md-row>
                <th md-column md-order-by="name" ma-tr="ui.settings.systemStatus.name"></th>
                <th md-column md-order-by="cpuTime" ma-tr="ui.settings.systemStatus.cpuTime"></th>
                <th md-column md-order-by="userTime" ma-tr="ui.settings.systemStatus.userTime"></th>
                <th md-column md-order-by="state" ma-tr="ui.settings.systemStatus.state"></th>
                <th md-column md-numeric md-order-by="priority"><span ma-tr="ui.settings.systemStatus.priority"></span></th>
                <th md-column md-numeric md-order-by="id"><span ma-tr="ui.settings.systemStatus.id"></span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="thread in $ctrl.threads | orderBy: sortOrder"
                ng-class="{'blocked-thread': thread.state === 'BLOCKED'}" md-select="thread" md-auto-select
                md-on-select="$ctrl.boundShowStackTrace">
                <td md-cell ng-bind="thread.name"></td>
                <td md-cell>{{thread.cpuTime / 1000000 | maDuration:'seconds'}}s</td>
                <td md-cell>{{thread.userTime / 1000000 | maDuration:'seconds'}}s</td>
                <td md-cell>
                    {{thread.state}}
                    <md-icon class="md-accent" ng-if="thread.state === 'BLOCKED'" style="font-size: 20px"
                             ng-click="$ctrl.showBlockedThreadDetails($event, thread)">warning
                    </md-icon>
                </td>
                <td md-cell ng-bind="thread.priority"></td>
                <td md-cell ng-bind="thread.id"></td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <br><br>

    <md-input-container flex ng-if="$ctrl.selectedThread.length">
        <label><span ma-tr="ui.settings.systemStatus.displayingStackTraceForThread"></span>: {{$ctrl.selectedThread[0]
            .name}}</label>
        <textarea ng-model="$ctrl.selectedThreadStackTrace" md-maxlength="150" rows="5" max-rows="15" md-select-on-focus
                  id="stack-trace"></textarea>
    </md-input-container>

    <div layout layout-align="end" ng-if="$ctrl.selectedThread.length">
        <md-button ng-click="$ctrl.copyStackTraceToClipboard()" class="md-raised md-accent">
            <md-icon>
                content_copy
            </md-icon>
            <span ma-tr="ui.settings.systemStatus.copyToClipboard"></span>
        </md-button>
    </div>
</div>