ma-event-type-list {
	display: block;
}

ma-event-type-list md-list-item .md-list-item-inner > p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

ma-event-type-list md-list-item.ma-event-type-heading .md-list-item-inner p {
	font-weight: bold;
}

ma-event-type-list md-list-item > p > md-progress-circular {
	margin: 16px 0;
}

ma-event-type-list md-list-item md-icon.ma-alarm-flag {
	margin-right: 4px;
}