<div flex layout="row" layout-align="start center">
    <md-input-container flex>
        <md-icon ng-if="$ctrl.showIcon">settings_input_component</md-icon>
        <label ng-transclude="label">
            <span ma-tr="ui.app.serialPort.select"></span>
        </label>
        <md-select md-on-open="$ctrl.serialPortPromise" ma-inherit-ng-model ng-disabled="$ctrl.disabled" ng-required="$ctrl.required">
            <md-option ng-if="$ctrl.showClear" ng-value="undefined" md-option-empty><md-icon>clear</md-icon> <em ma-tr="ui.app.clear"></em></md-option>
            <md-option ng-if="$ctrl.ngModelCtrl.$viewValue.hasMultipleValues()" ng-value="$ctrl.ngModelCtrl.$viewValue">
                <em ng-bind="$ctrl.ngModelCtrl.$viewValue"></em>
            </md-option>
            <md-option ng-repeat="serialPort in $ctrl.serialPorts track by $index" ng-value="serialPort"><span ng-bind="serialPort"></span></md-option>
        </md-select>
        <div ng-messages="$ctrl.ngModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="$ctrl.ngModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>
    <md-button class="md-icon-button" ng-click="$ctrl.refreshList()" ng-disabled="$ctrl.disabled">
        <md-tooltip md-direction="left" ma-tr="common.refresh"></md-tooltip>
        <md-icon>refresh</md-icon>
    </md-button>
</div>
