<md-dialog aria-label="Set Annotation">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Annotation to {{$ctrl.pointName}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <h4>Value: {{$ctrl.value}}</h4>
                <h5>Date: {{$ctrl.date | moment:'format':'ll LTS'}}</h5>

                <md-input-container class="has-hints">
                    <label>Title</label>
                    <input type="text" ng-model="$ctrl.title" md-maxlength="20" md-autofocus md-select-on-focus>
                </md-input-container>
                <md-input-container class="has-hints">
                    <label>Description</label>
                    <textarea ng-model="$ctrl.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                </md-input-container>

                <div layout="row">
                    <md-button class="md-raised md-primary" ng-click="$ctrl.addNote()" ng-disabled="!$ctrl.title || !$ctrl.description">
                        <md-icon>add</md-icon>
                        Add Note
                    </md-button>

                    <md-button class="md-raised md-warn" ng-click="$ctrl.cancel()">
                        <md-icon>close</md-icon>
                        Cancel
                    </md-button>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>