<h1 ma-tr="ui.dox.playArea"></h1>

<p>You can use this area as a play area. Changes will be persisted after you press <strong>Save</strong>.
<br><a ui-sref="ui.examples.playAreaBig">Play Area View Only</a>
</p>

<ma-state-params state-params="stateParams"></ma-state-params>

<ma-json-store xid="play-area-{{User.current.username}}" item="playArea" value="paVal"
  ng-init="playArea={readPermission: 'user', editPermission: 'user'}" item-loaded="$item.jsonData.text=stateParams.markup||$item.jsonData.text">
</ma-json-store>

<div layout="row" layout-align="start center" style="margin-bottom:10px;">
    <md-button class="md-raised md-primary md-hue-3" ng-click="playArea.$save()">
        <md-icon>save</md-icon>
        <span ma-tr="common.save"></span>
    </md-button>
    <md-button ng-click="stateParams.markup = ''; playArea.$get()">
        <md-icon>undo</md-icon>
        <span ma-tr="ui.app.revert"></span>
     </md-button>
     <div flex></div>

     <md-switch ng-model="showEditor" ng-init="showEditor = true" ma-tr-aria-label="ui.app.editor" ng-change="showPreview = showEditor ? showPreview : true"><span ma-tr="ui.app.editor"></span></md-switch>
     <md-switch ng-model="showPreview" ng-init="showPreview = true" ma-tr-aria-label="ui.app.preview" ng-change="showEditor = showPreview ? showEditor : true"><span ma-tr="ui.app.preview"></span></md-switch>
</div>

<ul>
  <li><a ui-sref="ui.settings.editPages({markup: paVal.text})" ma-tr="ui.app.copyToNewPage"></a></li>
</ul>

<div layout="column" layout-gt-md="row">
    <div flex="100" layout="column" style="min-width: 50%;" ng-show="showEditor">
        <md-card flex layout="column">
            <md-card-title flex="nogrow">
              <md-card-title-text>
                <span class="md-headline" ma-tr="ui.dox.markup"></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content flex layout="column">
                <ma-ace-editor flex style="height:500px" ng-model="paVal.text" ng-model-options="{debounce: 1000}"></ma-ace-editor>
            </md-card-content>
        </md-card>
    </div>
    <div flex="100" style="min-width: 50%;" ng-show="showPreview">
        <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline" ma-tr="ui.dox.result"></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div ma-ui-live-preview="paVal.text"></div>
            </md-card-content>
        </md-card>
    </div>
</div>