<h1 ma-tr="header.modules"></h1>

<div layout="row" layout-wrap layout-align="start stretch">
  <div flex="100" flex-gt-md="50" flex-gt-lg="25" layout="column" ng-repeat="module in $ctrl.modules | orderBy:['-unloaded', 'name'] track by module.name" >
      <md-card flex md-colors="{background: module.unloaded ? 'warn-hue-3' : 'background-hue-1'}" class="ma-module-info">
        <md-card-title flex="none">
          <md-card-title-text>
            <span class="md-headline" ng-bind="module.name"></span>
            <span class="md-subhead" ng-if="module.unloaded" ma-tr="ui.app.moduleUnloaded"></span>
            <span class="md-subhead" ng-bind="module.description" ng-if="!module.unloaded"></span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content flex>
          <p ng-if="module.longDescription" ng-bind="module.longDescription"></p>
          <div layout="row">
            <span flex="50" ma-tr="modules.version"></span>
            <span flex="50" ng-bind="module.version"></span>
          </div>
          <div layout="row" ng-if="module.versionState !== 'PRODUCTION'">
            <span flex="50" ma-tr="modules.versionState"></span>
            <span flex="50" md-colors="{color: 'warn'}" ng-switch="module.versionState">
                <span ng-switch-when="DEVELOPMENT" ma-tr="modules.development"></span>
                <span ng-switch-when="ALPHA" ma-tr="modules.alpha"></span>
                <span ng-switch-when="BETA" ma-tr="modules.beta"></span>
                <span ng-switch-when="RELEASE_CANDIDATE" ma-tr="modules.releaseCandidate"></span>
                <span ng-switch-when="PRODUCTION" ma-tr="modules.production"></span>
            </span>
          </div>
          <div layout="row" ng-if="module.buildNumber > 0">
            <span flex="50" ma-tr="modules.buildNumber"></span>
            <span flex="50" ng-bind="module.buildNumber"></span>
          </div>
          <div layout="row">
            <span flex="50" ma-tr="modules.licenseType"></span>
            <span ng-if="module.licenseType" flex="50" ng-bind="module.licenseType"></span>
            <span ng-if="!module.licenseType" flex="50" ma-tr="modules.unlicenced" md-colors="{color: 'warn'}"></span>
          </div>
          <div layout="row" ng-if="module.vendor">
            <span flex="50" ma-tr="modules.vendor"></span>
            <span flex="50"><a ng-bind="module.vendor" ng-href="{{module.vendorUrl}}" target="_blank"></a></span>
          </div>
          <div layout="row" ng-if="module.dependencies">
            <span flex="50" ma-tr="modules.dependencies"></span>
            <span flex="50" ng-bind="module.dependencies"></span>
          </div>
        </md-card-content>
      </md-card>
  </div>
</div>
