<div flex="noshrink" layout="column" ng-form="dataPointSelector" ma-form-exclude>
    <div>
        <span ng-if="!$ctrl.bulkTask" ma-tr="ui.app.xPointsSelectedLong" ma-tr-args="[$ctrl.selectedPoints.size]"></span>
        
        <md-input-container md-no-float="true">
            <md-select md-selected-text="'ui.app.selectColumns' | maTr" multiple="true" ng-model="$ctrl.selectedColumns"
                    ng-change="$ctrl.selectedColumnsChanged()"
                    ng-model-options="{trackBy: '$value.name'}">
                <md-option ng-repeat="column in $ctrl.columns track by column.name" ng-value="column"><span ma-tr="{{column.label}}"></span></md-option>
            </md-select>
        </md-input-container>
        
        <md-input-container md-no-float="true">
            <md-select md-selected-text="'ui.app.selectTags' | maTr" multiple="true" ng-model="$ctrl.selectedTags"
                    ng-change="$ctrl.selectedTagsChanged()"
                    ng-model-options="{trackBy: '$value.name'}">
                <md-option ng-repeat="tag in $ctrl.availableTags track by tag.name" ng-value="tag"><span ng-bind="tag.label"></span></md-option>
            </md-select>
        </md-input-container>
    
        <md-button class="md-icon-button" ng-click="$ctrl.filterButtonClicked($event)" ng-class="{'md-accent': $ctrl.showFilters}">
            <md-icon>filter_list</md-icon>
            <md-tooltip ma-tr="ui.app.filterDataPoints"></md-tooltip>
        </md-button>
    </div>
    
    <div class="ma-virtual-repeat-table">
        <div class="ma-virtual-repeat-table-header">
            <div class="ma-checkbox-column"><!-- Spacer for checkbox column --></div>
            <div ng-repeat="column in $ctrl.selectedColumns | orderBy:'order' track by column.name"
                    md-order-by="{{column.disableSort ? '' : column.name}}" ng-if="column.name !== 'value'">
                <span ma-tr="{{column.label}}"></span>
            </div>
            <div ng-repeat="tag in $ctrl.selectedTags track by tag.name"
                    md-order-by="tags.{{tag.name}}">
                <span ng-bind="tag.label"></span>
            </div>
            <div ma-tr="ui.app.pointValue" ng-if="$ctrl.showPointValueColumn"></div>
        </div>
        <div class="ma-virtual-repeat-table-header" ng-if="$ctrl.showFilters" class="ma-filter-header">
            <div class="ma-checkbox-column"><!-- Spacer for checkbox column --></div>
            <div ng-repeat="column in $ctrl.selectedColumns | orderBy:'order' track by column.name" ng-if="column.name !== 'value'">
                <md-input-container md-no-float="true">
                    <input ng-model="column.filter" ng-model-options="{debounce: 1000}" ng-change="$ctrl.filterChanged()" ma-tr="ui.app.filter">
                    <md-button ng-show="!!column.filter" class="ma-input-button md-icon-button" ng-click="column.filter = null; $ctrl.filterChanged()">
                        <md-icon>clear</md-icon>
                    </md-button>
                </md-input-container>
            </div>
            <div ng-repeat="tag in $ctrl.selectedTags track by tag.name">
                <md-input-container md-no-float="true">
                    <input ng-model="tag.filter" ng-model-options="{debounce: 1000}" ng-change="$ctrl.filterChanged()" ma-tr="ui.app.filter">
                    <md-button ng-show="!!tag.filter" class="ma-input-button md-icon-button" ng-click="tag.filter = null; $ctrl.filterChanged()">
                        <md-icon>clear</md-icon>
                    </md-button>
                </md-input-container>
            </div>
            <div ng-if="$ctrl.showPointValueColumn"><!-- Spacer for point value column --></div>
        </div>
        <md-progress-linear ng-show="$ctrl.pointsPromise" md-mode="indeterminate"></md-progress-linear>
        <div ng-if="$ctrl.pages.$total === 0 && !$ctrl.pointsPromise" class="ma-no-points-found" ma-tr="ui.app.noPointsToDisplay"></div>
        <div class="ma-virtual-repeat-table-body" md-virtual-repeat-container>
            <div class="ma-virtual-repeat-table-row" md-virtual-repeat="point in $ctrl" md-on-demand ng-class="{'ma-row-loading': point == null}">
                <div class="ma-checkbox-column">
                    <md-checkbox ng-model="$ctrl.getModel(point, $index).value" md-no-ink="true">
                    </md-checkbox>
                </div>
    
                <div ng-repeat="column in $ctrl.selectedColumns | orderBy:'order' track by column.name" ng-if="column.name !== 'value'">
                    <span ng-class="{'ma-empty-null': $ctrl.getCellValue(point, column.property) == null}" ng-bind="$ctrl.getCellValue(point, column.property) | maDisplayNull"></span>
                </div>
                
                <div ng-repeat="tag in $ctrl.selectedTags track by tag.name">
                    <span ng-class="{'ma-empty-null': point.tags[tag.name] == null}" ng-bind="point.tags[tag.name] | maDisplayNull"></span>
                </div>
                
                <div class="ma-point-value" ng-if="$ctrl.showPointValueColumn">
                    <ma-point-value point="point"></ma-point-value>
                </div>
            </div>
        </div>
    </div>

    <md-table-container flex md-virtual-repeat-container>
        <table md-table md-progress="$ctrl.pointsPromise">
            <thead md-head md-order="$ctrl.sortString" md-on-reorder="$ctrl.sortStringChangedBound">
                <tr md-row>
                    <th md-column class="ma-checkbox-column"></th>
                    <th md-column ng-repeat="column in $ctrl.selectedColumns | orderBy:'order' track by column.name"
                            md-order-by="{{column.disableSort ? '' : column.name}}" ng-if="column.name !== 'value'">
                        <span ma-tr="{{column.label}}"></span>
                    </th>
                    <th md-column ng-repeat="tag in $ctrl.selectedTags track by tag.name"
                            md-order-by="tags.{{tag.name}}">
                        <span ng-bind="tag.label"></span>
                    </th>
                    <th ma-tr="ui.app.pointValue" ng-if="$ctrl.showPointValueColumn"></th>
                </tr>
            </thead>
            <thead ng-if="$ctrl.showFilters" class="ma-filter-header">
                <tr>

                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-on-demand md-virtual-repeat="point in $ctrl" ng-class="{'ma-row-loading': point == null}">
                    <td md-cell class="ma-checkbox-column">
                        <md-checkbox ng-model="$ctrl.getModel(point).value"
                            md-no-ink="true"
                            ng-click="$ctrl.checkBoxClicked(point, $event)"
                            ng-disabled="$ctrl.pointsPromise">
                        </md-checkbox>
                    </td>

                    <td ng-repeat="column in $ctrl.selectedColumns | orderBy:'order' track by column.name" md-cell ng-if="column.name !== 'value'">
                        <span ng-class="{'ma-empty-null': $ctrl.getCellValue(point, column.property) == null}" ng-bind="$ctrl.getCellValue(point, column.property) | maDisplayNull"></span>
                    </td>
                    
                    <td ng-repeat="tag in $ctrl.selectedTags track by tag.name" md-cell>
                        <span ng-class="{'ma-empty-null': point.tags[tag.name] == null}" ng-bind="point.tags[tag.name] | maDisplayNull"></span>
                    </td>
                    
                    <td md-cell class="ma-point-value" ng-if="$ctrl.showPointValueColumn">
                        <ma-point-value point="point"></ma-point-value>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-if="$ctrl.pages.$total === 0 && !$ctrl.pointsPromise" class="ma-no-points-found" ma-tr="ui.app.noPointsToDisplay"></div>
    </md-table-container>
</div>